<template>
  <container>
    <row class="text-center">
      <h1>Transactions</h1>

      <transactions-table/>
    </row>
  </container>
</template>

<script>
import { Container, Row } from 'mdbvue-pro';
import TransactionsTable from './TransactionsTable';

export default {
  name: 'Assets',
  components: {
    Container,
    Row,
    TransactionsTable,
  },
  mounted() {},
};
</script>

<style>
</style>
