<template>
  <div class="transactions-table-wrapper">
    <spinner v-if="isLoading"/>
    <datatable
      v-else
      :columns="columns"
      :data="rows"
    >
      <template slot-scope="{ row }">
        <tr>
          <td>
            {{ row.timestamp }}
          </td>
          <td>
            {{ row.ex_pair.exchange.name }}
          </td>
          <td>
            {{ row.type }}
          </td>
          <td>
            {{ row.ex_pair.base_symbol }}
          </td>
          <td>
            {{ row.base_amount }}
          </td>
          <td>
            {{ row.ex_pair.quote_symbol }}
          </td>
          <td>
            {{ row.quote_amount }}
          </td>
        </tr>
      </template>

    </datatable>
  </div>
</template>

<script>
import Spinner from 'components/Spinner';
import api from 'utils/api';

export default {
  name: 'TransactionsTable',
  components: { Spinner },
  data() {
    return {
      isLoading: true,
      columns: [],
      rows: [],
    };
  },
  async beforeMount() {
    try {
      // Get data from API
      const { data } = await api.cube.transactions();

      // Format headers and rows
      const headers = this.formDatatableHeaders();
      // Example only, rows should come from api call
      // const rows = this.formatDatatableRows();
      const rows = data;

      // Set formatted headers to local state
      this.rows = rows;
      this.columns = headers;

      this.isLoading = false;
    } catch (err) {
      // Could not get data from API, then throw an error
      throw new Error('Could not get data from API.');
    }
  },
  methods: {
    formDatatableHeaders() {
      // We want the first column to be empty
      const headers = [
        {
          label: 'Date',
          field: 'created_at',
          align: 'center',
          sortable: true,
        },
        {
          label: 'Exchange',
          field: 'exchange',
          align: 'center',
          sortable: false,
        },
        {
          label: 'Type',
          field: 'exchange',
          align: 'center',
          sortable: true,
        },
        {
          label: 'Base',
          field: 'base_symbol',
          align: 'center',
          sortable: true,
        },
        {
          label: 'Base Amount',
          field: 'base_amount',
          align: 'center',
          sortable: true,
        },
        {
          label: 'Quote',
          field: 'quote_symbol',
          align: 'center',
          sortable: true,
        },
        {
          label: 'Quote Amount',
          field: 'quote_amount',
          align: 'center',
          sortable: true,
        },
      ];

      return headers;
    },
    formatDatatableRows() {
      return [
        {
          base_amount: 10,
          created_at: '2018-06-07 01:59:42',
          cube_id: 261364128,
          ex_pair: {
            active: true,
            base_symbol: 'BTC',
            exchange: {
              active: true,
              name: 'Bitfinex',
              signup_url: 'https://www.bitfinex.com/signup',
              video_url: 'https://www.youtube.com/embed/lEH7BvFbCmQ',
            },
            exchange_id: 1,
            quote_symbol: 'USD',
          },
          ex_pair_id: 1,
          exchange_rate: null,
          quote_amount: 10,
          type: 'buy',
          user_id: 8975,
        },
      ];
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.transactions-table-wrapper {
  width: 100%;
}

table.table {
  a {
    color: $light;
  }

  tbody tr:nth-child(odd) {
    background-color: $coincube-contrast;
    border-top: 2px solid $coincube-contrast;
    border-bottom: 2px solid $coincube-contrast;
  }

  thead th span {
    margin-right: 0.5rem;
  }

  .table-icon {
    max-width: 20px;
    margin-right: 0.5rem;
  }
}

.table-asset-yes {
  margin: 2px auto;
  width: 18px;
  height: 18px;
  background-color: $coincube-accent;
  border-radius: 50%;
}

.table-asset-no {
  margin: 8px auto;
  width: 12px;
  height: 12px;
  background-color: $coincube-red;
  border-radius: 50%;
}
</style>
