<template>
  <header>
    <navbar
      src="../../../static/img/CC_LOGO_NO_TRIM_BLACK.png"
      alt="Brand Logo"
      name="COINCUBE"
      class="navbar-dark"
      href="/"
      history
    >
      <navbar-collapse>
        <navbar-nav
          class="ml-auto"
        >
          <navbar-item
            :history="true"
            class="nw-settings-cog"
            href="/account/settings"
            aria-label="Settings"
          >
            <i
              class="fas fa-cog"
              aria-hidden="true"
            />
          </navbar-item>

          <dropdown
            tag="li"
            class="nav-item"
          >
            <dropdown-toggle
              class="nw-account-dropdown"
              tag="a"
              nav-link
              color="coincube-darker"
              waves-fixed
              @click.native="toggleDropdown(1)"
            >
              <i class="fas fa-user"/> Hello, {{ user.first_name }}
            </dropdown-toggle>
            <dropdown-menu v-show="active[1]">
              <dropdown-item
                :history="true"
                class="nw-account-dropdown-settings"
                href="/admin/settings"
                aria-label="Settings">
                Settings
              </dropdown-item>
              <dropdown-item
                v-if="featureFlags.enableBilling"
                :history="true"
                href="/admin/billing"
                aria-label="Billing"
              >
                Billing
              </dropdown-item>
              <dropdown-item
                class="nw-account-dropdown-logout"
                @click.native.prevent="$auth.signOut()">
                Log Out
              </dropdown-item>
            </dropdown-menu>
          </dropdown>
          <div class="mobile-only">
            <app-side-nav-inline
              v-for="(item, index) in adminSideNavData"
              :item="item"
              :key="index"/>
          </div>
        </navbar-nav>
      </navbar-collapse>
    </navbar>

  </header>
</template>

<script>
import {
  Badge,
  Btn,
  Navbar,
  NavbarCollapse,
  NavbarNav,
  NavbarItem,
  Dropdown,
  DropdownToggle,
  DropdownMenu,
  DropdownItem,
} from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import featureFlags from 'utils/featureFlags';
import AppSideNavInline from 'components/AppSideNavInline';
import AdminSideNavData from './AdminSideNavData';

export default {
  components: {
    Badge,
    Btn,
    Navbar,
    NavbarCollapse,
    NavbarNav,
    NavbarItem,
    Dropdown,
    DropdownToggle,
    DropdownMenu,
    DropdownItem,
    AppSideNavInline,
  },
  extends: StoreSync({
    user: () => Models.USER(),
  }),
  data() {
    return {
      active: {
        0: false,
        1: false,
      },
      featureFlags,
    };
  },
  computed: {
    adminSideNavData() {
      return AdminSideNavData(this.user, this);
    },
  },
  mounted() {
    document.addEventListener('click', this.onClick);
  },
  destroyed() {
    document.removeEventListener('click', this.onClick);
  },
  methods: {
    // https://mdbootstrap.com/vue/components/dropdowns/#basic-example
    toggleDropdown(index) {
      Object.keys(this.active).forEach((value, key) => {
        if (index !== key) {
          this.active[key] = false;
        }
      });

      this.active[index] = !this.active[index];
    },
    closeAllDropdowns() {
      Object.keys(this.active).forEach((value, key) => {
        this.active[key] = false;
      });
    },
    // Close dropdown when clicking anywhere but the dropdown
    onClick(event) {
      let parent = event.target;
      const body = document.getElementsByTagName('body')[0];
      while (parent !== body) {
        if (
          parent.classList.contains('dropdown') ||
          parent.classList.contains('btn-group')
        ) {
          return;
        }

        parent = parent.parentNode;
      }

      this.closeAllDropdowns();
    },
  },
};
</script>

<style lang="scss">
@import 'build/variables';

.navbar {
  letter-spacing: 1.9px;
  line-height: 1.41;
}

.navbar-brand {
  display: flex;
  flex-flow: row-reverse;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 3.2px;

  & > img {
    max-width: 42px;
    height: 42px;
    margin-right: 0.5rem;
  }
}

.navbar-nav {
  margin-right: initial !important;

  // Doesn't let us use Bootstrap' media queries.
  // @include media-breakpoint-up(lg) {
  @media (min-width: 992px) {
    & > li {
      margin-left: 6px;
    }
    & .mobile-only {
      display: none;
    }
  }
}

.fa-check {
  float: right;
  cursor: pointer;
  pointer-events: all !important;

  &:hover {
    color: $coincube-green;
  }
}

.dropdown-menu.show {
  opacity: 1;
}
</style>
