<template>
  <aside class="side-nav fixed bg-coincube-darker">
    <ul class="side-nav-list">
      <app-side-nav-link
        v-for="(item, index) in menu"
        :item="item"
        :key="index"
        :class="`nw-sidenav-${item.label}`"
      />
    </ul>
  </aside>
</template>

<script>
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import AppSideNavLink from '@/components/AppSideNavLink';
import AdminSideNavData from './AdminSideNavData';

export default {
  components: {
    AppSideNavLink,
  },
  extends: StoreSync({
    user: () => Models.USER(),
  }),
  computed: {
    menu() {
      return AdminSideNavData(this.user, this);
    },
  },
};
</script>

<style lang="scss" scoped>
.side-nav {
  z-index: 99;
  overflow-y: auto;
  width: 210px;

  @media (min-width: 992px) {
    transform: none;
    right: 0;
    left: inherit;
  }
}

.side-nav-list {
  margin-top: 5em;
}
</style>
