<template>
  <li class="nav-item ripple-parent">
    <router-link
      :to="to"
      class="nav-link navbar-link">
      <slot/>
    </router-link>
  </li>
</template>

<script>
export default {
  props: {
    to: {
      type: String,
      default: null,
    },
  },
};
</script>
