<template>
  <footer class="page-footer p-4">
    <container>
      <row>
        <column md="3">
          <h4 class="h6">LEGAL</h4>

          <ul class="footer-links">
            <li class="footer-item"><a
              href="#"
              class="footer-link"
              @click="toggleTermsModal">Terms of Use</a></li>
            <li class="footer-item"><a
              href="#"
              class="footer-link"
              @click="togglePrivacyModal">Privacy Policy</a></li>
            <li class="footer-item"><a
              href="#"
              class="footer-link"
              @click="toggleSiteModal">Site Credits</a></li>
          </ul>
        </column>

        <column md="3">
          <h4 class="h6">INFO</h4>

          <ul class="footer-links">
            <li class="footer-item"><a
              href="/indexes"
              class="footer-link">Indexes</a></li>
            <li class="footer-item"><a
              href="/assets"
              class="footer-link">Assets</a></li>
            <li class="footer-item"><a
              href="/team"
              class="footer-link">Team</a></li>
            <li class="footer-item"><a
              href="/faq"
              class="footer-link">FAQ</a></li>
          </ul>
        </column>

        <column md="3">
          <h4 class="h6">SOCIAL</h4>

          <ul class="footer-links">
            <li class="footer-item"><a
              href="https://t.me/coincube"
              target="_blank"
              class="footer-link">Telegram</a></li>
            <li class="footer-item"><a
              href="https://twitter.com/coincube"
              target="_blank"
              class="footer-link">Twitter</a></li>
            <li class="footer-item"><a
              href="https://www.facebook.com/coincube.io"
              target="_blank"
              class="footer-link">Facebook</a></li>
            <li class="footer-item"><a
              href="https://medium.com/@coin_cube"
              target="_blank"
              class="footer-link">Medium</a></li>
          </ul>
        </column>
      </row>

      <row class="ml-1">
        <small>&copy; 2019 Coin Cube LLC</small>
      </row>

      <legal-modal
        :modal-title="'Privacy Policy'"
        :show-modal="showPrivacyModal"
        :toggle-modal="togglePrivacyModal"
      >
        <privacy/>
      </legal-modal>

      <legal-modal
        :modal-title="'Terms of Use'"
        :show-modal="showTermsModal"
        :toggle-modal="toggleTermsModal"
      >
        <Terms/>
      </legal-modal>

      <legal-modal
        :modal-title="'Site Credits'"
        :show-modal="showSiteModal"
        :toggle-modal="toggleSiteModal"
      >
        <Sites/>
      </legal-modal>
    </container>
  </footer>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';
import Sites from 'pages/Support/Sites';
import LegalModal from 'pages/Support/LegalModal';
import Privacy from '../Support/Privacy';
import Terms from '../Support/Terms';

export default {
  components: {
    Container,
    Row,
    Column,
    LegalModal,
    Privacy,
    Terms,
    Sites,
  },
  data() {
    return {
      showPrivacyModal: false,
      showTermsModal: false,
      showSiteModal: false,
    };
  },
  methods: {
    togglePrivacyModal() {
      this.showPrivacyModal = !this.showPrivacyModal;
    },
    toggleTermsModal() {
      this.showTermsModal = !this.showTermsModal;
    },
    toggleSiteModal() {
      this.showSiteModal = !this.showSiteModal;
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.footer-links {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.footer-link {
  font-size: 0.9em;
  font-weight: 500;
  color: $coincube-accent;
}

h4 {
  font-weight: 400;
}
</style>
