<template>
  <header>
    <navbar
      src="../../../static/img/CC_LOGO_NO_TRIM_BLACK.png"
      alt="Brand Logo"
      name="COINCUBE"
      class="navbar-dark"
      href="/"
      history
    >
      <navbar-collapse>
        <navbar-nav
          class="ml-auto"
        >
          <router-link to="/modes">
            <navbar-item
              history
              href="/modes">MODES
            </navbar-item>
          </router-link>
          <router-link to="/indexes">
            <navbar-item
              history
              href="/indexes">INDEXES
            </navbar-item>
          </router-link>
          <router-link to="/assets">
            <navbar-item
              history
              href="/assets">ASSETS
            </navbar-item>
          </router-link>
          <router-link to="/team">
            <navbar-item
              history
              href="/team">TEAM
            </navbar-item>
          </router-link>
          <router-link to="/faq">
            <navbar-item
              history
              href="/faq">FAQ
            </navbar-item>
          </router-link>

          <dropdown v-if="!$auth.check()">
            <navbar-item
              class="nw-login"
              @click.native.prevent.stop="showSignInDropDown">
              LOG IN
            </navbar-item>
            <transition
              @before-enter="beforeEnter"
              @enter="enter"
              @before-leave="beforeLeave">
              <SignIn
                v-on-clickaway="hideSignInDropDown"
                v-if="signInDropDownShown"
                class="dropdown-signin show p-0"
                @requestClose="hideSignInDropDown"/>
            </transition>
          </dropdown>

          <navbar-item
            v-else
            class="nw-logout"
            @click.native.prevent="$auth.signOut()">
            SIGN OUT
          </navbar-item>
        </navbar-nav>
        <template v-if="!$auth.check()">
          <tooltip
            :disabled="featureFlags.enableSignup"
            :options="{placement: 'left'}"
            trigger="hover"
            @click="console.log('2')"
          >
            <div
              v-if="!featureFlags.enableSignup"
              class="tooltip"
            >
              CoinCube is currently closed <br> for new registrations.
            </div>
            <div slot="reference">
              <btn
                :disabled="!featureFlags.enableSignup"
                class="nw-register"
                color="primary"
                @click.native.prevent="showSignUp"
              >
                SIGN UP
              </btn>
            </div>
          </tooltip>
        </template>
        <router-link
          v-else
          to="/account">
          <btn color="primary">Account</btn>
        </router-link>
      </navbar-collapse>
    </navbar>
  </header>
</template>

<script>
import { mixin as ClickAway } from 'vue-clickaway';
import {
  Btn,
  Navbar,
  NavbarCollapse,
  NavbarNav,
  NavbarItem,
  Dropdown,
  DropdownToggle,
  DropdownMenu,
  DropdownItem,
  Tooltip,
} from 'mdbvue-pro';

import featureFlags from 'utils/featureFlags';
import SignIn from '../Auth/SignIn';

export default {
  components: {
    Btn,
    Navbar,
    NavbarCollapse,
    NavbarNav,
    NavbarItem,
    Dropdown,
    DropdownToggle,
    DropdownMenu,
    DropdownItem,
    SignIn,
    Tooltip,
  },
  mixins: [ClickAway],
  data() {
    return {
      signInDropDownShown: false,
      featureFlags,
    };
  },
  watch: {
    $route() {
      this.autoOpenModal();
    },
  },
  mounted() {
    this.autoOpenModal();
  },
  methods: {
    beforeEnter(el) {
      const element = el;
      element.style.display = 'block';
    },
    enter(el) {
      const element = el;
      element.style.opacity = 1;
    },
    beforeLeave(el) {
      const element = el;
      element.style.opacity = 0;
    },
    autoOpenModal() {
      if (this.$route.query && this.$route.query.login) {
        this.showSignInDropDown();
      }
    },
    showSignInDropDown() {
      this.signInDropDownShown = true;
    },
    hideSignInDropDown() {
      this.signInDropDownShown = false;
    },
    showSignUp() {
      console.log('show signup');
      this.$router.push('/signup');
    },
  },
};
</script>

<style lang="scss">
.navbar {
  letter-spacing: 1.9px;
  line-height: 1.41;

  .tooltip {
    background-color: rgba(242, 239, 239, 0.95);
    color: #000;

    .tooltip_arrow {
      border-color: transparent transparent transparent
        rgba(255, 255, 255, 0.85);
    }
  }
}

.navbar-brand {
  display: flex;
  flex-flow: row-reverse;
  font-weight: 300;
  font-size: 29px;
  letter-spacing: 3.2px;
  align-items: center;
  margin-right: 0;

  & > img {
    max-width: 42px;
    height: 42px;
    margin-right: 0.5rem;
  }

  @media (min-width: 375px) {
    font-size: 30px;
  }
}

.navbar-nav {
  margin-right: initial !important;

  // Doesn't let us use Bootstrap' media queries.
  // @include media-breakpoint-up(lg) {
  @media (min-width: 992px) {
    & > li {
      margin-left: 6px;
    }
  }

  .dropdown-signin {
    position: absolute;
    left: auto;
    right: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
  }
}
</style>
