<template>
  <container
    fluid
    class="closer-content">
    <row>
      <column
        md="1"
        lg="2"
        xl="3"/>
      <column
        class="text-center"
        col="12"
        md="10"
        lg="8"
        xl="6">
        <btn
          color="primary"
          @click.native="showSignUp"
        >
          Sign Up Now
        </btn>
      </column>
      <column
        md="1"
        lg="2"
        xl="3"/>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column, Btn } from 'mdbvue-pro';

export default {
  components: {
    Container,
    Row,
    Column,
    Btn,
  },
  data() {
    return {};
  },
  methods: {
    showSignUp() {
      this.$router.push('/signup');
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.closer-content {
  padding-bottom: $spacing-large;
  border-top: 1px solid $coincube-dark;
}
</style>
