<template>
  <container class="mt-5">
    <carousel 
      :interval="8000"
      multi 
      slide
    >
      <carousel-item>
        <row>
          <column 
            v-for="exchange in supported_exchanges"
            :key="exchange.id"
            md="4">
            <card class="mb-2">
              <img :src="`/static/img/exchanges/${exchange.name}.png`">
            </card>
          </column>
        </row>
      </carousel-item>
    </carousel>
  </container>
</template>

<script>
import {
  Carousel,
  CarouselItem,
  CarouselCaption,
  Container,
  Row,
  Column,
  Card,
  CardBody,
  CardTitle,
  CardText,
  Btn,
} from 'mdbvue-pro';
import api from 'utils/api';

export default {
  name: 'CarouselPage',
  components: {
    Carousel,
    CarouselItem,
    CarouselCaption,
    Container,
    Row,
    Column,
    Card,
    CardBody,
    CardTitle,
    CardText,
    Btn,
  },
  data() {
    return {
      supported_exchanges: [],
      total_exchanges: 0,
    };
  },
  async beforeMount() {
    try {
      // Get data from API
      const { data } = await api.supported_exchanges.getAll();
      this.supported_exchanges = data;
      this.total_exchanges = data.length;
    } catch (err) {
      // Could not get data from API, then throw an error
      throw new Error('Could not get data from API.');
    }
  },
};
</script>
