<template>
  <container
    fluid
    class="exchange-content">
    <row>
      <column
        class="center"
      >
        <div
          v-for="exchange in supported_exchanges"
          :key="exchange.id"
          class="exchanges"
        >
          <div class="exchange">
            <img 
              :src="`/static/img/exchanges/${exchange.name}.png`"
              class="image-one">
          </div>
        </div>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';
import api from 'utils/api';

export default {
  components: {
    Container,
    Row,
    Column,
  },
  data() {
    return {
      supported_exchanges: [],
      total_exchanges: 0,
    };
  },
  async beforeMount() {
    try {
      // Get data from API
      const { data } = await api.supported_exchanges.getAll();
      this.supported_exchanges = data;
      this.total_exchanges = data.length;
    } catch (err) {
      // Could not get data from API, then throw an error
      throw new Error('Could not get data from API.');
    }
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.exchange-content {
  background-color: #000000;
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
  padding-left: 3em;
  padding-right: 3em;

  @media (max-width: 992px) {
    padding-left: 2em;
  }
}

.content {
  text-align: center;
}

i {
  color: #01becc;
  padding: 20px;
  text-align: center;
}

p {
  margin: 0px;
}

.icons {
  text-align: center;

  @media (max-width: 992px) {
    text-align: left;
    margin: 1em 0;
  }
}

br {
  @media (max-width: 992px) {
    display: none;
  }
}

.center {
  text-align: center;
}

.exchanges {
  display: inline-block;
  text-align: center;
}

.exchange img {
  max-width: 100px;
  max-height: 40px;
  margin: 10px;
}
</style>
