<template>
  <container
    fluid
    class="xl-padding">

    <row class="xl-padding">
      <column
        md="1"
        lg="2"
        xl="3"/>
      <column
        class="text-center"
        col="12"
        md="10"
        lg="8"
        xl="6">
        <h1>A portfolio to be proud of</h1>
        <p>Join our growing community of traders today.</p>
      </column>
      <column
        md="1"
        lg="2"
        xl="3"/>
    </row>

    <row class="xl-padding">
      <column
        lg="1"
        xl="2"/>
      <column
        class="text-center"
        col="12"
        lg="10"
        xl="8">
        <row>
          <Column
            class="text-center"
            md="4"
          >
            <i class="fas fa-users fa-6x"/>
            <h3>11,000+ Signups </h3>
            <p>We have over 11,000 signups in our database. Come and join the party!</p>
          </Column>
          <Column
            class="text-center"
            md="4">
            <i class="fas fa-cube fa-6x"/>
            <h3>Millions in traded assets</h3>
            <p>Our users manage money across many exchanges and wallets with our software... quite a lot of money.</p>
          </Column>
          <Column
            class="text-center"
            md="4">
            <i class="fas fa-people-carry fa-6x"/>
            <h3>Community support</h3>
            <p>In addition to our excellent support team, we also have an active community of users on Telegram.</p>
          </Column>
        </row>
      </column>
      <column
        lg="1"
        xl="2"/>
    </row>

  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';

export default {
  components: {
    Container,
    Row,
    Column,
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.xl-padding {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}

i {
  color: white;
  padding-bottom: 0.25em;
}
</style>
