<template>
  <container
    fluid
    class="index-carousel">
    <row>
      <column
        class="content"
        lg="12">
        <div
          v-for="type in Object.keys(types)"
          :key="type"
          class="index-carousel-item">
          <div class="left">
            <PieChart
              v-if="series[type]"
              :series="series[type]"/>
          </div>
          <div class="index-carousel-text">
            <p>
              TOP {{ types[type] }} INDEX
              <span
                v-if="dayPerformance[type]"
                :class="{ negative: dayPerformance[type] < 0 }"
                class="percent positive">
                {{ formatPercent(dayPerformance[type]) }}
              </span>
            </p>
            <h5>${{ lastValue[type] }}</h5>
            <p class="cutoff">{{ summary[type] }}&nbsp;</p>
          </div>
        </div>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';

import PieChart from 'components/PieChart';
import formatChartData from 'utils/formatChartData';
import precisionRound from 'utils/precisionRound';

export default {
  components: {
    Container,
    Row,
    Column,
    PieChart,
  },

  data() {
    return {
      types: {
        Five: 5,
        Ten: 10,
        Twenty: 20,
        Thirty: 30,
        Fifty: 50,
      },
      series: {},
      lastValue: {},
      summary: {},
      dayPerformance: {},
    };
  },

  beforeMount() {
    Object.keys(this.types).forEach(async type => {
      const {
        series,
        summary,
        lastValue,
        dayPerformance,
      } = await formatChartData(type);

      this.$set(this.series, type, series);
      this.$set(this.summary, type, summary);
      this.$set(this.lastValue, type, lastValue);
      this.$set(this.dayPerformance, type, dayPerformance);
      this.lastValue[type] = precisionRound(this.lastValue[type], 2);
    });
  },

  methods: {
    formatPercent(val) {
      return `${precisionRound(val * 100, 2)}%`;
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.cutoff {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h5 {
  margin: 5px 0px;
}

.index-carousel {
  text-align: center;
}

PieChart {
  margin-top: 10px;
}

.index-carousel-item {
  display: inline-block;
  width: 250px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.index-carousel-item .sm-pie-chart {
  width: 120px;
  height: 120px;
}

.index-carousel-text {
  padding-top: 24px;
  text-align: left;
}

.left {
  float: left;
  width: 120px;
  height: 120px;
}

p {
  font-size: 12px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

h5 {
  font-weight: 400;
}

.percent {
  float: right;

  &.positive {
    color: $coincube-green;
  }

  &.negative {
    color: $coincube-red;
  }
}
</style>
