<template>
  <div class="main-content">
    <Jumbotron/>
    <IndexCarousel/>
    <MoreFeatures/>
    <KeyFeatures/>
    <Media/>
    <Pricing/>
    <Exchanges/>
    <Fame/>
    <Closer v-if="featureFlags.enableSignup"/>
  </div>
</template>

<script>
import featureFlags from 'utils/featureFlags';
import IndexCarousel from './IndexCarousel';
import ExchangeCarousel from './ExchangeCarousel';
import Jumbotron from './Jumbotron';
import KeyFeatures from './KeyFeatures';
import MoreFeatures from './MoreFeatures';
import Pricing from './Pricing';
import Fame from './Fame';
import Exchanges from './Exchanges';
import Closer from './Closer';
import Media from './Media';

export default {
  name: 'Landing',
  components: {
    IndexCarousel,
    ExchangeCarousel,
    Jumbotron,
    KeyFeatures,
    MoreFeatures,
    Pricing,
    Fame,
    Exchanges,
    Closer,
    Media,
  },
  data() {
    return { featureFlags };
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.main-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 100px);

  @media (min-width: 768px) {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}
</style>
