<template>
  <container
    fluid
    class="jumbotron">
    <row>
      <column lg="12">
        <h1 class="display-3">Index-based crypto investing</h1>
        <h3>
          Automatically diversify and rebalance your cryptocurrency portfolio.
        </h3>
      </column>
      <column lg="12">
        <btn
          color="success"
          @click.native="toggleVideoModal"
        ><i 
          class="fa fa-video-camera"/>
          How it works?
        </btn>
        <btn
          v-if="featureFlags.enableSignup"
          color="primary"
          @click.native="showSignUp"
        >
          Sign Up Now
        </btn>
      </column>
    </row>
    <explainer-video-modal
      :show-modal="showVideoModal"
      video-url="https://youtu.be/hRGy0OxIatc"
      @close="showVideoModal = false"
    />
  </container>
</template>

<script>
import { Container, Row, Column, Btn } from 'mdbvue-pro';
import featureFlags from 'utils/featureFlags';
import ExplainerVideoModal from 'components/ExplainerVideoModal';

export default {
  components: {
    Container,
    Row,
    Column,
    Btn,
    ExplainerVideoModal,
  },
  data() {
    return {
      featureFlags,
      showVideoModal: false,
    };
  },
  methods: {
    showSignUp() {
      this.$router.push('/signup');
    },
    toggleVideoModal() {
      this.showVideoModal = !this.showVideoModal;
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2.5rem;

  @media (min-width: 768px) {
    font-size: 4rem;
  }

  @media (max-width: 768px) {
    margin-top: 30px;
  }
}

h3 {
  margin-bottom: 30px;
  font-weight: 100;
}

h6 {
  color: $coincube-green;
}

h6 span {
  margin: 30px;
}

i {
  margin-right: 8px;
}

.jumbotron {
  background-color: #202c32;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: -5px;
  min-height: 540px;

  @media (min-width: 768px) {
    background: url(/static/img/line-chart.svg) no-repeat;
    padding-bottom: 40px;
  }

  @media (min-width: 1286px) {
    background-size: cover;
  }
}
</style>
