<template>
  <container
    fluid
    class="key-features">
    <row>
      <column lg="6">
        <row>
          <column
            class="content"
            lg="6">
            <h2>
              <i
                class="fa fa-lock fa-3x"/>
              Secure
            </h2>
            <p>You control all of your funds at all times. Our limited API-connection
            can only make trades. Only you can withdraw your coins.</p>
          </column>
          <column
            class="content"
            lg="6">
            <h2>
              <i class="fa fa-code fa-3x"/>
              API Based
            </h2>
            <p>Trade instructions are sent to your
            exchange account(s) using API keys.</p>
          </column>
        </row>
        <br>
        <row>
          <column
            class="content"
            lg="6">
            <h2>
              <i
                class="fa fa-cloud fa-3x"/>
              Cloud
            </h2>
            <p>Your account is hosted in the cloud, so there
            is nothing to download or install.</p>
          </column>
          <column
            class="content"
            lg="6">
            <h2>
              <i class="fa fa-credit-card-alt fa-3x"/>
              Tiered Pricing
            </h2>
            <p>Our portfolio Tracker product is 100% free. Want more?
            Check out our paid products, Index and Centaur</p>
          </column>
        </row>
      </column>
      <column lg="6">
        <img src="static/img/macbook-coincube-app.png">
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';

export default {
  components: {
    Container,
    Row,
    Column,
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.key-features {
  padding-top: $spacing-xlarge;
  padding-bottom: $spacing-xlarge;
}

.accent-dash {
  background-color: $coincube-blue;
  width: 30px;
  height: 2px;
  margin-left: 5%;
}

h2 {
  margin-bottom: 38px;
  margin-left: 10%;
}

p {
  margin-top: -14px;
  margin-bottom: 40px;
  margin-left: 20%;
}

.outer {
  overflow: hidden;
}

img {
  margin-top: 10px;
  width: 100%;
}

i {
  color: $coincube-blue;
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

br {
  @media (max-width: 992px) {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h2 {
    margin-top: 2rem;
    margin-left: 20%;
  }

  p {
    margin-left: 15%;
  }
}
</style>
