<template>
  <container
    fluid
    class="media-content">
    <row>     
      <column>
        <div class="index-carousel-item">
          <a
            href="https://kickstart-accelerator.com/alumni/"
            target="_blank">
            <img src="static/img/media/kickstart.png">
          </a>
          <h4>2017 ALUMNI</h4>
        </div>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';

export default {
  components: {
    Container,
    Row,
    Column,
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.media-content {
  background-color: $coincube-darker;
  padding-top: $spacing-xlarge;
  padding-bottom: $spacing-xlarge;
}

.index-carousel-item {
  display: block;
  text-align: center;
  height: 150px;
  margin: 0 auto;
  width: 50%;
}

.index-carousel-item a {
  height: 150px;
  cursor: pointer;
}
h4 {
  padding-top: 14px;
}
</style>
