<template>
  <container
    fluid
    class="more-features">
    <row>
      <column
        class="content"
        lg="3">
        <div class="icons">
          <i class="fa fa-pie-chart fa-5x"/>
        </div>
        <h3>Diversify your portfolio</h3>
        <p>Choose a market index like the Top 10 Index or create your own portfolio. COINCUBE automates the trades saving you time.</p>
      </column>
      <column
        class="content"
        lg="3">
        <div class="icons">
          <i class="fa fa-balance-scale fa-5x"/>
        </div>
        <h3>Rebalance automatically</h3>
        <p>Set a desired rebalancing period anywhere from once per month to every hour. COINCUBE will keep your portfolio on track 24/7.</p>
      </column>
      <column
        class="content"
        lg="3">
        <div class="icons">
          <i class="fa fa-bitcoin fa-5x"/>
        </div>
        <h3>Reinvest your earnings</h3>
        <p>COINCUBE does not take a percentage fee. Pay a small flat monthly rate and let your earnings compound.</p>
      </column>
      <column
        class="content"
        lg="3">
        <div class="icons">
          <i class="fa fa-asterisk fa-5x"/>
        </div>
        <h3>Manage risk</h3>
        <p>Easily manage all of your funds spread out across exchanges and wallets.</p>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';

export default {
  components: {
    Container,
    Row,
    Column,
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.more-features {
  background-color: #000000;
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
  padding-left: 3em;
  padding-right: 3em;

  @media (max-width: 992px) {
    padding-left: 2em;
  }
}

.content {
  text-align: center;
}

i {
  color: #01becc;
  padding: 20px;
  text-align: center;
}

.icons {
  text-align: center;

  @media (max-width: 992px) {
    text-align: left;
    margin: 1em 0;
  }
}

br {
  @media (max-width: 992px) {
    display: none;
  }
}
</style>
