<template>
  <container
    fluid
    class="pricing"
    gradient="blue">
    <row>
      <column
        class="content"
        lg="3"/>
      <column
        class="content"
        lg="6">
        <div class="header">
          <h2 class="display-4">Simple Pricing</h2>
          <h5 class="description">From beginner to advanced investor, we've got you covered.</h5>
        </div>
      </column>
    </row>
    <row v-if="!isLoading">
      <column
        class="content"
        lg="12">
        <row>
          <column 
            v-for="product in products"
            :key="product.id"
            lg="4">
            <card
              v-if="product.full_name != 'Pro Upgrade'"
            >
              <card-body class="text-center">
                <display-square
                  :title="product.full_name"
                  sub-title=""
                />
                <h3>
                  <span class="cost">${{ product.prices['1'] }}</span>
                </h3>
                <p v-if="product.full_name=='Free'">Keep an eye on your stash
                </p>
                <p v-else>As low as ${{ product.prices['12'] }}/month paid yearly</p>
                <features
                  :features="product.features"
                />
              </card-body>
            </card>
          </column>
        </row>
      </column>
    </row>
    <row>
      <column lg="3"/>
      <column lg="6">
        <br>
        <router-link :to="{name: 'Modes'}">
          <btn
            block
            color="default"
          >
            What Are Modes?
          </btn>
        </router-link>
        <btn
          block
          color="primary"
          @click.native="showSignUp"
        >
          Get Started
        </btn>
      </column>
    </row>
  </container>
</template>

<script>
import { Btn, Container, Row, Column, Card, CardBody } from 'mdbvue-pro';
import api from 'utils/api';
import DisplaySquare from 'components/DisplaySquare';
import Features from 'components/Features';

export default {
  components: {
    Btn,
    Container,
    Row,
    Column,
    Card,
    CardBody,
    DisplaySquare,
    Features,
  },
  data() {
    return {
      products: [],
      isLoading: true,
    };
  },
  beforeMount() {
    this.getProductContent();
  },
  methods: {
    async getProductContent() {
      const { data } = await api.products.getAll();
      this.products = data;

      setTimeout(() => {
        this.isLoading = false;
      }, 500);
    },
    showSignUp() {
      this.$router.push('/signup');
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

p {
  @media (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

.cost {
  font-size: 2.25rem;
}

.pricing {
  padding-top: $spacing-xlarge;
  padding-bottom: $spacing-xlarge;
  background-color: $coincube-dark-blue;
}

.header {
  text-align: center;
}

.card {
  background-color: $coincube-darker;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.card .card-body h3 {
  margin-bottom: $spacing-medium;
}

.btn.btn-block {
  margin-top: $spacing-medium;
}

.description {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}
</style>
