<template>
  <container class="algorithms">
    <instruction-header
      :instruction-modal="handleToggleInstructionsModal"
      class="nw-algo-instructions"
      title="Select Cube Mode"
    />

    <row>
      <column
        v-for="(algorithm, index) in algorithmList"
        :key="`${algorithm.name}-${index}`"
        class="select-square-card"
        md="6"
        lg="4"
      >
        <select-square
          v-if="algorithm.active"
          :title="algorithm.name"
          :sub-title="algorithm.description"
          :allowed="allowAlgorithm(algorithm.name)"
          :selected="cube.algorithm.name === algorithm.name"
          :on-click="selectAlgorithm"
          :class="`nw-square-${algorithm.name}`"
        />
      </column>
    </row>

    <row
      v-if="cube.algorithm.name != 'Tracker'"
    >
      <column
        md="4"
        offset-md="2"
      >
        <router-link
          :to="{name: 'Generator'}">
          <btn
            size="lg"
            color="primary"
            block
            class="port-gen-btn"
          >
            Portfolio Generator
          </btn>
        </router-link>
      </column>
      <column
        md="4"
      >
        <router-link :to="{name: 'Cube'}">
          <btn
            size="lg"
            color="info"
            block
            class="back-to-cube-btn"
          >
            BACK TO CUBE
          </btn>
        </router-link>
      </column>
    </row>
    <row
      v-else
    >
      <column
        md="6"
        offset-md="3"
      >
        <router-link :to="{name: 'Cube'}">
          <btn
            size="lg"
            color="info"
            block
            class="back-to-cube-btn"
          >
            BACK TO CUBE
          </btn>
        </router-link>
      </column>
    </row>
    <br>
    <br>

    <instructions-modal
      :show-modal="showInstructionsModal"
      :toggle-modal="handleToggleInstructionsModal"
      :modal-content="instructions"
    />
  </container>
</template>

<script>
import { Container, Row, Column, Btn } from 'mdbvue-pro';
import Models from 'store/models';
import SelectSquare from '@/components/SelectSquare';
import InstructionHeader from '@/components/InstructionHeader';
import InstructionsModal from '@/components/InstructionsModal';
import StoreSync from 'store/StoreSync';

import api from '@/utils/api';

export default {
  components: {
    Container,
    Row,
    Column,
    Btn,
    SelectSquare,
    InstructionHeader,
    InstructionsModal,
  },
  extends: StoreSync({
    user: () => Models.USER(),
    cube: route => Models.CUBE_INFO(route.params.cubeID),
  }),
  data() {
    return {
      algorithmList: [],
      instructions: {},
      showInstructionsModal: false,
      allowTracker: true,
      indexSelectedCount: 0,
    };
  },
  computed: {
    allowIndex() {
      return (
        this.user.is_basic || this.user.is_pro || this.indexSelectedCount < 3
      );
    },
    allowSphinx() {
      return this.user.is_basic || this.user.is_pro;
    },
    allowCentaur() {
      return this.user.is_pro;
    },
  },
  mounted() {
    this.indexCount();
    this.getAlgorithms();
    this.getInstructions();
  },
  methods: {
    indexCount() {
      let count = 0;
      this.user.open_cubes.forEach(cube => {
        if (cube.algorithm.name === 'Index') {
          count += 1;
        }
      });
      this.indexSelectedCount = count;
    },
    async getAlgorithms() {
      const { data } = await api.account.availableAlgorithms();

      this.algorithmList = data;
    },
    allowAlgorithm(name) {
      return (
        (name === 'Tracker' && this.allowTracker) ||
        (name === 'Index' && this.allowIndex) ||
        (name === 'Sphinx' && this.allowSphinx) ||
        (name === 'Centaur' && this.allowCentaur)
      );
    },
    selectAlgorithm(name, allowed) {
      if (allowed) {
        this.cube.algorithm.name = name;
        this.updateCube(name);
      } else {
        this.$router.push('/account/billing');
      }
    },
    async updateCube(algorithm) {
      const body = {
        cube_id: this.cube.id,
        name: 'algorithm',
        value: algorithm,
      };

      await api.cube.saveSetting(body);
      this.clearCache(Models.USER());
    },
    async getInstructions() {
      const { data } = await api.instructions.algos();

      this.instructions = data;
    },
    handleToggleInstructionsModal() {
      this.showInstructionsModal = !this.showInstructionsModal;
    },
  },
};
</script>

<style lang="scss" scoped>
.title-container {
  padding-top: 1em;
  text-align: center;
  margin-bottom: 0.5em;

  .color-divider {
    height: 2px;
    width: 40px;
    background-color: #3154d6;
    display: inline-block;
    margin-bottom: 0.3em;
    margin-right: 1.5em;
  }

  .title {
    display: inline;
  }

  @media (min-width: 768px) {
    padding-top: 0.5em;
    margin-bottom: initial;
    text-align: left;
  }
}

.select-square-card {
  margin-top: 3em;
}

.port-gen-btn {
  margin: 1em auto auto auto;

  @media (min-width: 768px) {
    margin: 5em auto auto auto;
  }
}

.back-to-cube-btn {
  margin: 1em auto auto auto;

  @media (min-width: 768px) {
    margin: 5em auto auto auto;
  }
}
</style>
