<template>
  <modal
    v-if="showModal"
    class="modal-container"
    size="fluid"
    @close="toggleModal"
  >
    <modal-header class="text-center">
      <modal-title>Exchange Asset Support</modal-title>
    </modal-header>
    <modal-body>
      <assets-table />
    </modal-body>
  </modal>
</template>

<script>
import {
  Modal,
  ModalHeader,
  ModalTitle,
  ModalBody,
  ModalFooter,
  Btn,
} from 'mdbvue-pro';

import AssetsTable from '@/pages/Assets/AssetsTable';

export default {
  components: {
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
    ModalFooter,
    Btn,
    AssetsTable,
  },
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    toggleModal: {
      type: Function,
      required: true,
    },
  },
};
</script>

<style lang="scss">
@import 'build/variables';
.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
  }
}
</style>
