<template>
  <modal
    v-if="showModal"
    class="modal-container nw-modal"
    @close="$emit('close')"
  >
    <modal-header class="text-center">
      <modal-title>{{ exchange.name }} API Connection</modal-title>
    </modal-header>
    <modal-body>
      <spinner v-if="isLoading" />
      <form v-else>
        <youtube
          v-if="exchange.video_url"
          :video-id="videoId"
          class="connection-video"
        />
        <md-input
          v-validate="'required'"
          v-model="apiKey"
          :placeholder="exchange.key"
          class="nw-api-key"
          size="sm"
          name="key"
          type="text"
        />
        <md-input
          v-validate="'required'"
          v-model="apiSecret"
          :placeholder="exchange.secret"
          class="nw-api-secret"
          size="sm"
          name="secret"
          type="text"
        />
        <md-input
          v-if="exchange.passphrase !== null"
          v-model="passphrase"
          :placeholder="exchange.passphrase"
          class="nw-api-passphrase"
          size="sm"
          name="passphrase"
          type="text"
        />
      </form>
      <btn
        :disabled="isLoading"
        class="nw-submit"
        color="info"
        block
        @click.native.prevent="handleConnectExchange"
      >
        Connect {{ exchange.name }}
      </btn>
    </modal-body>
  </modal>
</template>

<script>
import {
  Modal,
  ModalHeader,
  ModalTitle,
  ModalBody,
  ModalFooter,
  Btn,
  MdInput,
} from 'mdbvue-pro';
import { getIdFromURL } from 'vue-youtube-embed';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import Spinner from '@/components/Spinner';
import api from '@/utils/api';

const removeSpaces = text => text.replace(/ /g, ''); // Remove spaces from all parts of the string

export default {
  components: {
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
    ModalFooter,
    Btn,
    MdInput,
    Spinner,
  },
  extends: StoreSync({}),
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    exchange: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      apiKey: '',
      apiSecret: '',
      passphrase: '',
      videoId: '',
      isLoading: false,
    };
  },
  mounted() {
    this.videoId = getIdFromURL(this.exchange.video_url);
  },
  methods: {
    async handleConnectExchange() {
      let toast = this.$toasted.info('Adding exchange API connection...');
      const body = {
        exchange_name: this.exchange.name,
        key: removeSpaces(this.apiKey),
        secret: removeSpaces(this.apiSecret),
        passphrase: removeSpaces(this.passphrase),
      };

      this.isLoading = true;
      /*
       * If everything is successful dismiss modal and redirect else display error
      */
      try {
        const { data } = await api.cube.addConnection(body);
        toast.goAway();
        toast = this.$toasted.success('Exchange connection added!');
        this.$emit('close');
        this.isLoading = false;
        toast.goAway();
        this.clearCache(Models.USER());
        this.$router.push(`/account/cube/${data.cube_id}/mode`);
      } catch (error) {
        console.log(error);
        this.isLoading = false;
        toast.goAway();
        toast = this.$toasted.error('Failed to add exchange connection.');
      }
    },
  },
};
</script>

<style lang="scss">
@import 'build/variables';
.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
  }
}

.connection-video {
  iframe {
    height: 207px;
    width: 272px;

    @media (min-width: 576px) {
      height: 355px;
      width: 468px;
    }
  }
}

.form-control {
  color: #fff;

  &:focus {
    color: #fff;
  }
}
</style>
