<template>
  <div
    :class="`nw-connection-card-${exchange.name}`"
    class="exchange-card"
  >
    <img :src="`/static/img/exchanges/${exchange.name}.png`">
    <div class="button-group">
      <btn
        :class="`nw-connection-card-${exchange.name}-connect`"
        size="sm"
        color="info"
        block
        @click.native.prevent="showConnectModal = true"
      >
        CONNECT
      </btn>
      <btn
        :href="exchange.signup_url"
        :class="`nw-connection-card-${exchange.name}-signup`"
        target="_blank"
        size="sm"
        tag="a"
        color="info"
        block
      >
        SIGNUP
      </btn>
    </div>

    <connect-modal
      :show-modal="showConnectModal"
      :exchange="exchange"
      @close="showConnectModal = false"
    />

  </div>
</template>

<script>
import { Btn } from 'mdbvue-pro';

import ConnectModal from './ConnectModal';

export default {
  components: {
    Btn,
    ConnectModal,
  },
  props: {
    exchange: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      showConnectModal: false,
    };
  },
};
</script>

<style lang="scss" scoped>
.exchange-card {
  width: 290px;
  height: 240px;
  padding: 20px 30px 0px 30px;
  display: inline-block;
  border-radius: 4px;
  background-color: #111c21;
  text-align: center;
  margin-top: 15px;

  @media (min-width: 768px) {
    width: 240px;
    height: 240px;
    padding: 0px 30px 30px 30px;
  }

  img {
    height: 22px;
    display: block;
    margin: 2.5em auto;
  }

  .button-group {
    margin-top: inherit;
  }

  // // outline and block wont work with btn
  // // this is a fix for it
  // .full-width-btn {
  //   margin: inherit;
  //   display: block;
  //   width: 100%;
  // }
}
</style>
