<template>
  <div class="exchange-connections">
    <InstructionHeader
      :action-modal="handleToggleAssetsModal"
      :instruction-modal="handleToggleInstructionsModal"
      title="Add Cube Connection"
      action-button-text="Asset Support"
    />
    <row class="exchange-cards-list">
      <column
        v-for="exchange in availableExchanges"
        :key="`${exchange.name}`"
      >
        <exchange-card
          :exchange="exchange"
          :title="exchange.name"
          :content-location="`${exchange.name}.png`"
        />
      </column>
    </row>

    <instructions-modal
      :show-modal="showInstructionsModal"
      :toggle-modal="handleToggleInstructionsModal"
      :modal-content="instructions"
    />
    <assets-modal
      :show-modal="showAssetsModal"
      :toggle-modal="handleToggleAssetsModal"
    />
  </div>
</template>

<script>
import { Row, Column, Btn } from 'mdbvue-pro';
import InstructionsModal from '@/components/InstructionsModal';

import ExchangeCard from './ExchangeCard';
import AssetsModal from './AssetsModal';
import InstructionHeader from '../../components/InstructionHeader';

export default {
  components: {
    Row,
    Column,
    Btn,
    ExchangeCard,
    InstructionsModal,
    AssetsModal,
    InstructionHeader,
  },
  props: {
    availableExchanges: {
      type: Array,
      required: true,
    },
    instructions: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      showInstructionsModal: false,
      showAssetsModal: false,
    };
  },
  methods: {
    handleToggleInstructionsModal() {
      this.showInstructionsModal = !this.showInstructionsModal;
    },
    handleToggleAssetsModal() {
      this.showAssetsModal = !this.showAssetsModal;
    },
  },
};
</script>

<style lang="scss" scoped>
.color-divider {
  height: 2px;
  width: 40px;
  background-color: #3154d6;
  display: inline-block;
  margin-bottom: 0.3em;
  margin-right: 1.5em;
}

.title-container {
  padding-top: 1em;
  text-align: center;
  margin-bottom: 0.5em;

  .title {
    display: inline;
  }

  @media (min-width: 768px) {
    padding-top: 0.5em;
    margin-bottom: initial;
    text-align: left;
  }
}

.exchange-buttons {
  text-align: center;
  button {
    width: 290px;
    margin: 0.37rem 0;

    @media (min-width: 768px) {
      width: initial;
      margin: 0.37rem;
    }
  }

  @media (min-width: 768px) {
    text-align: right;
  }
}

.exchange-cards-list {
  margin-bottom: 1em;
  text-align: center;
}
</style>
