<template>
  <container
    fluid
    class="connections"
  >
    <exchange-connections
      :available-exchanges="availableExchanges"
      :instructions="instructions"
    />
  </container>
</template>

<script>
import { Container, Row, Column, Btn } from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';

import api from '@/utils/api';

import ExchangeConnections from './ExchangeConnections';

export default {
  name: 'Connection',
  components: {
    Container,
    Row,
    Column,
    Btn,
    ExchangeConnections,
  },
  extends: StoreSync({
    availableExchanges: () => Models.ACCOUNT_AVAIL_EXCHANGES(),
  }),
  data() {
    return {
      instructions: {},
    };
  },
  mounted() {
    this.getInstructions();
  },
  methods: {
    async getInstructions() {
      const { data } = await api.instructions.connection();

      this.instructions = data;
    },
  },
};
</script>

<style lang="scss" scoped>
.heading {
  text-align: center;
}

.line-break {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid black;

  @media (min-width: 768px) {
    margin-bottom: 1em;
  }
}
</style>
