<template>
  <span :class="{ 'negative-format': isNegative, 'positive-format': isPositive, 'zero-format': isZero }">
    {{ formattedValue }}
  </span>
</template>

<script>
import formatValue from 'utils/formatValue';
import precisionRound from 'utils/precisionRound';

export default {
  name: 'ConditionalFormatPrecision8Column',
  props: {
    column: {
      type: [Object, Array],
      required: true,
    },
    row: {
      type: [Object, Array],
      required: true,
    },
  },
  computed: {
    isNegative() {
      return this.roundedValue < 0;
    },
    isPositive() {
      return this.roundedValue > 0;
    },
    isZero() {
      return this.roundedValue === 0;
    },
    roundedValue() {
      const value = this.column.getRepresentation(this.row);
      return precisionRound(value, 8);
    },
    formattedValue() {
      return formatValue(this.roundedValue, 8);
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.negative-format {
  color: $coincube-red;
}
.positive-format {
  color: $coincube-green;
}
.zero-format {
  color: $coincube-white;
}
</style>
