<template>
  <span class="precision">
    {{ content | formatPercent }}
  </span>
</template>

<script>
import formatValue from 'utils/formatValue';

export default {
  name: 'Precision8Column',
  filters: {
    formatPercent(value) {
      return formatValue(value, 8);
    },
  },
  props: {
    column: {
      type: [Object, Array],
      required: true,
    },
    row: {
      type: [Object, Array],
      required: true,
    },
  },
  computed: {
    content() {
      return this.column.getRepresentation(this.row);
    },
  },
};
</script>

<style lang="scss" scoped>
.precision {
  color: white;
}
</style>
