<template>
  <container fluid>
    <div class="generator-wrapper">
      <div class="border-bottom border-dark">
        <row>
          <column lg="12">
            <h1 class="text-center">Portfolio Generator</h1>
          </column>
        </row>
        <row>
          <column lg="12">
            <instruction-header title="Choose a Blockchain Index"/>
          </column>
        </row>

        <template v-if="charts">
          <row class="mt-4">
            <column
              v-for="(chart, index) in charts"
              :key="index"
            >
              <app-select-index
                :chart="chart"
                :on-click="handleIndexClick"
                :selected="chartIndexType === chart.index_type"
                :title="chart.index_type | toTitle"
              />
            </column>
          </row>
          <div class="black-divider"/>
        </template>

        <row
          v-if="showRiskToleranceSlider"
          class="mt-4"
        >
          <column>
            <risk-tolerance-slider
              ref="riskToleranceSlider"
              :available-exchange-assets="availableExchangeAssets"
              :cube="cube"
              :fiat-valuation="fiatCurrentBalance"
              :initial-indices="indices"
              title="Set your portfolio asset weighting"
            />
          </column>
        </row>
      </div>
    </div>
    <row>
      <column
        md="6"
        offset-md="3"
      >
        <router-link :to="{name: 'Cube'}">
          <btn
            size="lg"
            color="info"
            block
            class="back-to-cube-btn"
          >
            BACK TO CUBE
          </btn>
        </router-link>
      </column>
    </row>
  </container>
</template>

<script>
import {
  Container,
  Tab,
  TabItem,
  TabContent,
  TabPane,
  Row,
  Column,
  Btn,
} from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import mapBalancesData from 'utils/mapBalancesData';
import api from '@/utils/api';
import AppSelectIndex from '@/components/AppSelectIndex';
import BalancesTable from 'components/BalancesTable';
import InstructionHeader from '@/components/InstructionHeader';
import RiskToleranceSlider from '@/components/RiskToleranceSlider';

export default {
  name: 'GeneratorIndex',
  components: {
    Container,
    Tab,
    TabItem,
    TabContent,
    TabPane,
    Row,
    Column,
    Btn,
    AppSelectIndex,
    InstructionHeader,
    RiskToleranceSlider,
    BalancesTable,
  },
  filters: {
    toTitle(chartIndexType) {
      if (!chartIndexType || chartIndexType === '') return '';

      const words = chartIndexType.split('_');
      const newWords = [];

      for (let i = 0, length = words.length; i < length; i++) {
        const word = words[i];
        newWords[i] = word.charAt(0).toUpperCase() + word.substr(1);
      }

      return newWords.join(' ');
    },
  },
  extends: StoreSync({
    user: () => Models.USER(),
    availableExchangeAssets: route =>
      Models.CUBE_AVAIL_EX_ASSETS(route.params.cubeID),
    cube: route => Models.CUBE_INFO(route.params.cubeID),
    indicesUnmapped: route => Models.INDICES(route.params.cubeID),
    balancesUnmapped: route => Models.CUBE_BALANCES(route.params.cubeID),
  }),
  data() {
    return {
      charts: null,
      tab: '1',
    };
  },
  computed: {
    fiatCurrentBalance() {
      return this.balancesUnmapped.total.fiat;
    },
    bitcoinCurrentBalance() {
      return this.balancesUnmapped.total.fiat;
    },
    isCentaur() {
      return this.cube.algorithm.name === 'Centaur';
    },
    balances() {
      return this.balancesUnmapped.balances &&
        this.balancesUnmapped.balances.values
        ? mapBalancesData(this.balancesUnmapped.balances.values)
        : null;
    },
    currentAllocations() {
      return this.balancesUnmapped.current_allocations;
    },
    targetAllocations() {
      return this.balancesUnmapped.target_allocations;
    },
    targetAllocationPercents() {
      if (!this.targetAllocations || !this.targetAllocations.length) {
        return this.currentAllocations;
      }
      return this.targetAllocations;
    },
    exchangeSupportedAssets() {
      return this.availableExchangeAssets.supported_assets;
    },
    showBalances() {
      return (
        this.balances &&
        this.balances.length > 0 &&
        this.exchangeSupportedAssets &&
        this.exchangeSupportedAssets.length > 0 &&
        this.targetAllocationPercents &&
        this.targetAllocationPercents.length > 0
      );
    },
    indices() {
      return new Map(this.indicesUnmapped).get(this.chartIndexType);
    },
    showRiskToleranceSlider() {
      return (
        this.availableExchangeAssets.supported_assets &&
        this.availableExchangeAssets.supported_assets.length > 0 &&
        this.indices &&
        this.balancesUnmapped.total.fiat &&
        this.cube.algorithm.name !== 'Optimized'
      );
    },
    chartIndexType: {
      get() {
        return this.cube.focus.type;
      },
      set(value) {
        this.cube.focus.type = value;
      },
    },
  },
  mounted() {
    this.getCharts();
  },
  methods: {
    async getCharts() {
      const { data } = await api.chartsPie.getAll();
      this.charts = data;
    },
    async handleIndexClick(indexType) {
      this.chartIndexType = indexType;
      const chart = this.$refs.riskToleranceSlider.updateIndices(this.indices);

      if (!this.$refs.riskToleranceSlider.areAllocationsAvailable) return;

      let toast = this.$toasted.info('Updating cube allocations...');

      try {
        await api.cube.updateTargetAllocations({
          cube_id: this.$route.params.cubeID,
          new_allocations: chart,
        });
        await api.cube.saveSetting({
          name: 'index',
          value: indexType,
          cube_id: this.cube.id,
        });

        this.clearCache(Models.USER());
        this.clearCache(Models.CUBE_BALANCES(this.$route.params.cubeID));
        this.clearCache(Models.CUBE_INFO(this.$route.params.cubeID));
        this.clearCache(
          Models.CUBE_ALLOCATIONS_TARGET(this.$route.params.cubeID),
        );
        toast.goAway();
        toast = this.$toasted.success('Cube allocations updated!');
      } catch (error) {
        toast.goAway();
        toast = this.$toasted.error('Could not update cube allocations.');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.black-divider {
  width: 100%;
  height: 1px;
  margin-top: 14px;
  background-color: #000000;
}
.back-to-cube-btn {
  margin: 1em auto 1em auto;

  @media (min-width: 768px) {
    margin: 5em auto 5em auto;
  }
}

.slide-toggle-enter-active {
  transition: 0.3s ease-in;
  opacity: 1;
  max-height: 500px;
}
.slide-toggle-enter,
.slide-toggle-leave-active {
  opacity: 0;
  max-height: 0;
}
.slide-toggle-leave {
  opacity: 1;
  max-height: 500px;
}

.border-bottom {
  border-bottom-width: 3px !important;
}
.border-dark {
  border-color: $coincube-darker;
}

.tab-trigger {
  float: left;
}

.generator-wrapper /deep/ .classic-tabs li a.active {
  color: $coincube-accent;
  border-bottom: 3px solid $coincube-accent;
  font-weight: bold;
}
</style>
