<template>
  <container fluid>
    <row
      class="welcome"
    >
      <column md="12">
        <h2 class="title">
          Cube Statistics
        </h2>
      </column>
    </row>
    <div class="black-divider"/>
    <br>
    <template>
      <row>
        <column md="4">
          <admin-stat
            :value="cube_stats.cubes.all"
            title="All Cubes"
            text="Total Cubes in database"
          />
        </column>
        <column md="4">
          <admin-stat
            :value="cube_stats.cubes.active"
            title="Active Cubes"
            text="Cubes with trading enabled"
          />
        </column>
        <column md="4">
          <admin-stat
            :value="cube_stats.cubes.auto"
            title="Auto Cubes"
            text="Cubes set to auto rebalance"
          />
        </column>
      </row>
    </template>
    <template>
      <row>
        <column md="4">
          <donut-pie-chart
            :data="cube_stats.charts.balanced"
            title="Balancing Status"
          />
        </column>
        <column md="4">
          <donut-pie-chart
            :data="cube_stats.charts.rebalance_intervals"
            title="Rebalance Intervals"
          />
        </column>
        <column md="4">
          <donut-pie-chart
            :data="cube_stats.charts.balanced_within"
            title="Last Rebalance"
          />
        </column>
      </row>
    </template>
    <template>
      <row>
        <column md="6">
          <donut-pie-chart
            :data="cube_stats.charts.algorithms"
            title="Algorithm Selection"
          />
        </column>
        <column md="6">
          <donut-pie-chart
            :data="cube_stats.charts.active"
            title="Active Cubes"
          />
        </column>
      </row>
    </template>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import AdminStat from 'components/AdminStat';
import DonutPieChart from 'components/DonutPieChart';

export default {
  name: 'Account',
  components: {
    Container,
    Row,
    Column,
    AdminStat,
    DonutPieChart,
  },
  extends: StoreSync({
    cube_stats: () => Models.ADMIN_CUBE_STATS(),
  }),
  computed: {
    //
    // Chart Column Spans
    //
  },
};
</script>

<style lang="scss" scoped>
.black-divider {
  width: 100%;
  height: 1px;
  margin-top: 14px;
  background-color: #000000;
}
.welcome {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.center {
  padding-top: 20px;
  margin: auto;
}
</style>
