<template>
  <form @submit.prevent="validateAndSubmit">
    <container class="p-4 ">
      <h4 class="forgot-password-header my-3 text-white">Forgot Password</h4>
      <p class="forgot-password-text text-white">
        Enter the email address associated with your account
      </p>
      <md-input
        v-validate="'required|email'"
        v-model="email"
        name="email-forgot-password"
        type="email"
        label="Email Address"
        data-vv-as="email"
      />
      <div
        v-show="errors.has('email-forgot-password')"
        class="error mb-4">
        {{ errors.first('email-forgot-password') }}
      </div>

      <div
        v-show="isPasswordReset"
        class="success mb-4">
        If there is an account associated with this email address,
        a recovery email has been sent.
      </div>

      <btn
        color="primary"
        class="btn-submit btn-block mb-2 mt-4"
        type="submit">
        SEND EMAIL
      </btn>
      <p class="forgot-password-text">
        <a
          class="text-white"
          @click="$emit('cancel')">Cancel</a>
      </p>
    </container>
  </form>
</template>

<script>
import { Btn, Container, MdInput } from 'mdbvue-pro';

export default {
  name: 'ForgotPasswordForm',
  components: {
    Btn,
    Container,
    MdInput,
  },
  props: {
    isPasswordReset: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      email: '',
    };
  },
  methods: {
    async validateAndSubmit() {
      const isValid = await this.$validator.validateAll();

      if (isValid) {
        this.$emit('submit');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.forgot-password-text {
  text-align: center;
  color: $coincube-accent;
}

.error {
  color: $coincube-error;
}

.success {
  color: $coincube-green;
}

.forgot-password-header {
  text-align: center;
}

a.btn,
a.text-white {
  color: #fff !important;
}

form /deep/ .md-form i {
  color: #fff;
}

form /deep/ .md-form .form-control {
  color: #fff;
}

form /deep/ .md-form label {
  color: #fff;
}

form /deep/ .md-form .prefix ~ input,
form /deep/ .md-form .prefix ~ textarea {
  margin-left: 2.5rem;
  margin-bottom: 2em;
}
</style>
