<template>
  <div class="text-center">
    Signed in successfully. Redirecting...
  </div>
</template>

<script>
// Requires initialization of hello.js
import {} from 'utils/socialAuth';

export default {};
</script>
