<template>
  <div>
    <form
      ref="form"
      @submit.prevent="validateAndSubmit">
      <p class="h5-responsive text-white text-center">{{ instructions }}</p>

      <container class="p-4">
        <md-input
          v-validate="'required'"
          v-model="code"
          name="code"
          label="Two Factor Code"
          icon="qrcode"
        />

        <div
          v-show="errors.has('code')"
          class="error">
          {{ errors.first('code') }}
        </div>

        <md-input
          v-validate="'required'"
          v-if="requirePassword"
          v-model="password"
          name="password"
          type="password"
          label="Password"
          icon="lock"
        />

        <div
          v-if="requirePassword"
          v-show="errors.has('password')"
          class="error">
          {{ errors.first('password') }}
        </div>

        <btn
          color="primary"
          class="btn-submit btn-block mb-2 mt-4"
          type="submit">Submit
        </btn>
      </container>
    </form>
  </div>
</template>

<script>
import { Btn, Container, MdInput } from 'mdbvue-pro';

export default {
  name: 'SecondFactorForm',
  components: {
    Btn,
    Container,
    MdInput,
  },
  props: {
    instructions: {
      type: String,
      required: true,
    },
    requirePassword: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      code: '',
      password: '',
    };
  },
  methods: {
    clearForm() {
      this.code = '';
      this.password = '';
      this.$validator.reset();
      this.$refs.form.reset();
    },
    async validateAndSubmit() {
      const isValid = await this.$validator.validateAll();

      if (isValid) {
        try {
          this.$emit('submit');
        } finally {
          this.clearForm();
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.error {
  color: $coincube-error;
}

a.btn,
a.text-white {
  color: #fff !important;
}

form /deep/ .md-form i {
  color: #fff;
}

form /deep/ .md-form .form-control {
  color: #fff;
}

form /deep/ .md-form label {
  color: #fff;
}

form /deep/ .md-form .prefix ~ input,
form /deep/ .md-form .prefix ~ textarea {
  margin-left: 2.5rem;
  margin-bottom: 2em;
}
</style>
