<template>
  <div class="main-content">
    <container
      fluid
      class="base">
      <form @submit.prevent="validateBeforeSubmit">

        <h1 class="text-center">Sign up <span class="coincube-accent">(it's free)</span></h1>

        <h5 class="text-center">
          Join 2,000+ investors today and diversify your blockchain portfolio.
        </h5>

        <row>

          <column/>

          <column
            col="12"
            sm="8"
            md="6"
            lg="5"
            xl="4">

            <md-input
              v-validate="'required'"
              v-model="signUpData.username"
              class="nw-register-name"
              name="user_name"
              type="text"
              label="Your Name"
              icon="user"
            />
            <div
              v-show="errors.has('user_name')"
              class="error mb-4 nw-register-name-error">
              {{ errors.first('user_name') }}
            </div>

            <md-input
              v-validate="'required|email'"
              v-model="signUpData.email"
              class="nw-register-email"
              name="email"
              type="text"
              label="Email Address"
              icon="envelope"
            />
            <div
              v-show="errors.has('email')"
              class="error mb-4 nw-register-email-error">
              {{ errors.first('email') }}
            </div>

            <md-input
              v-validate="'required'"
              v-model="signUpData.password"
              class="nw-register-password"
              name="password"
              type="password"
              label="Password"
              icon="lock"
            />
            <div
              v-show="errors.has('password')"
              class="error nw-register-password-error">
              {{ errors.first('password') }}
            </div>

            <md-input
              v-validate="'required'"
              v-model="confirm_password"
              class="nw-register-password-confirm"
              name="confirm_password"
              type="password"
              label="Confirm Password"
              icon="lock"
            />
            <div
              v-show="errors.has('confirm_password')"
              class="error nw-register-password-confirm-error">
              {{ errors.first('confirm_password') }}
            </div>

            <button
              class="btn btn-primary btn-submit btn-block mb-2 mt-4 nw-register-signup"
              type="submit">SIGN UP
            </button>
            <p>By signing up you are agreeing to our <a
              href="#"
              class="footer_link"
              @click="toggleTermsModal">
              Terms of Use
            </a> and <a
              href="#"
              class="footer_link"
              @click="togglePrivacyModal">
              Privacy Policy
            </a>.</p>

            <template v-if="featureFlags.enableSocialSignin">
              <row>
                <column col="auto">
                  <h4>OR</h4>
                </column>
                <column>
                  <row class="custom-hr">&nbsp;</row>
                </column>
              </row>

              <a
                class="btn btn-submit btn-block facebook mb-3"
                @click="registerFacebook">
                <i class="fa fa-facebook mr-1"/> LOG IN WITH FACEBOOK
              </a>

              <a
                class="btn btn-submit btn-block twitter mb-3"
                @click="registerTwitter">
                <i class="fa fa-twitter mr-1"/> LOG IN WITH TWITTER
              </a>
            </template>

          </column>

          <column/>

        </row>

      </form>

      <legal-modal
        :modal-title="'Privacy Policy'"
        :show-modal="showPrivacyModal"
        :toggle-modal="togglePrivacyModal"
      >
        <privacy/>
      </legal-modal>

      <legal-modal
        :modal-title="'Terms of Use'"
        :show-modal="showTermsModal"
        :toggle-modal="toggleTermsModal"
      >
        <Terms/>
      </legal-modal>

    </container>
  </div>
</template>

<script>
import { Container, Row, Column, MdInput } from 'mdbvue-pro';
import { facebook, twitter } from 'utils/socialAuth';
import featureFlags from 'utils/featureFlags';
import LegalModal from 'pages/Support/LegalModal';
import Privacy from '../Support/Privacy';
import Terms from '../Support/Terms';

export default {
  components: {
    Container,
    Row,
    Column,
    MdInput,
    LegalModal,
    Privacy,
    Terms,
  },
  data() {
    return {
      confirm_password: '',
      signUpData: {
        username: '',
        email: '',
        password: '',
      },
      showPrivacyModal: false,
      showTermsModal: false,
      featureFlags,
    };
  },
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.register();
        }
      });
    },
    async register() {
      let toast = this.$toasted.info('Signing up...');
      this.$auth.register({
        // This object must be named data for vue-auth to work right. Do not rename.
        data: { ...this.signUpData },
        autoLogin: false,
        rememberMe: true,
        success(result) {
          if (result.status === 200) {
            toast.goAway();
            toast = this.$toasted.success('Signed up!');
            this.$router.push(`/unconfirmed/${this.signUpData.username}`);
          }
        },
        error(error) {
          if (error.response && error.response.status === 403) {
            toast.goAway();
            toast = this.$toasted.error(error.response.data.message);
          } else {
            toast.goAway();
            toast = this.$toasted.error('Sign up failed');
          }
        },
      });
    },
    registerFacebook() {
      this.$toasted.info('Signing in with Facebook...');
      facebook(this.$auth, this.$toasted);
    },
    registerTwitter() {
      this.$toasted.info('Signing in with Twitter...');
      twitter(this.$auth, this.$toasted);
    },
    togglePrivacyModal() {
      this.showPrivacyModal = !this.showPrivacyModal;
    },
    toggleTermsModal() {
      this.showTermsModal = !this.showTermsModal;
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.main-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 100px);

  @media (min-width: 768px) {
    padding-top: 3em;
    padding-bottom: 3rem;
  }
}

.base {
  /deep/ .form-control {
    color: #fff;
  }
}

.submit-button {
  border-radius: 3px;
  background-color: #00becc;
  /*background-color: var(--turquoise-blue);*/
  border: solid 1px #0a0d0f;
  /*border: solid 1px var(--almost-black);*/
}

.forgot-password {
  text-align: right;
  color: $coincube-accent;
}

.error {
  color: $coincube-error;
}

.facebook {
  background-color: #1171ff;
}

.twitter {
  background-color: #00b7ff;
}

.custom-hr {
  line-height: 13px;
  border-bottom: solid 1px #fff;
  margin-right: 0px;
}

.coincube-accent {
  color: $coincube-accent;
}
</style>
