<template>
  <div>
    <form @submit.prevent="validateAndSubmit">
      <container class="p-4">
        <md-input
          v-validate="'required|email'"
          v-model="email"
          class="nw-login-email"
          name="email"
          type="email"
          label="Email Address"
          icon="envelope"
        />
        <div
          v-show="errors.has('email')"
          class="error mb-4 nw-login-email-error">
          {{ errors.first('email') }}
        </div>

        <md-input
          v-validate="'required'"
          v-model="password"
          class="nw-login-password"
          name="password"
          type="password"
          label="Password"
          icon="lock"
        />
        <div
          v-show="errors.has('password')"
          class="error nw-login-password-error">
          {{ errors.first('password') }}
        </div>

        <btn
          color="primary"
          class="btn-submit btn-block mb-2 mt-4 nw-login-button"
          type="submit">LOG IN
        </btn>
        <p class="forgot-password">
          <a
            class="text-white"
            @click="$emit('reset')">Forgot password?</a>
            <!--{{ recaptcha }}-->
        </p>

        <template v-if="featureFlags.enableSocialSignin">
          <h4 class="my-5 splitter text-white">OR</h4>

          <a
            class="btn btn-submit btn-block facebook mb-3"
            @click="$emit('facebook')">
            <i class="fab fa-facebook-f mr-1"/> LOG IN WITH FACEBOOK
          </a>

          <a
            class="btn btn-submit btn-block twitter mb-3"
            @click="$emit('twitter')">
            <i class="fab fa-twitter mr-1"/> LOG IN WITH TWITTER
          </a>
        </template>
      </container>
    </form>
  </div>
</template>

<script>
import { Btn, Container, MdInput } from 'mdbvue-pro';
import featureFlags from 'utils/featureFlags';

export default {
  name: 'SignInForm',
  components: {
    Btn,
    Container,
    MdInput,
  },
  data() {
    return {
      email: '',
      password: '',
      featureFlags,
    };
  },
  methods: {
    async validateAndSubmit() {
      const isValid = await this.$validator.validateAll();

      if (isValid) {
        this.$emit('submit');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.forgot-password {
  text-align: right;
  color: $coincube-accent;
}

.error {
  color: $coincube-error;
}

.facebook {
  background-color: #1171ff;
}

.twitter {
  background-color: #00b7ff;
}

h4.splitter {
  line-height: 1px;
  border-right: 280px solid #fff;
}

a.btn,
a.text-white {
  color: #fff !important;
}

form /deep/ .md-form i {
  color: #fff;
}

form /deep/ .md-form .form-control {
  color: #fff;
}

form /deep/ .md-form label {
  color: #fff;
}

form /deep/ .md-form .prefix ~ input,
form /deep/ .md-form .prefix ~ textarea {
  margin-left: 2.5rem;
  margin-bottom: 2em;
}
</style>
