<template>
  <div class="main-content">
    <row>
      <column
        class="content"
        sm="12"
        md="10"
        offset-md="1"
        lg="8"
        offset-lg="2"
        xl="6"
        offset-xl="3"
      >
        <p class="quote nw-register-confirmation">WELCOME, {{ $route.params.username.toUpperCase() }}</p>
        <h1>You're in, just one more step</h1>
        <h5>
          We ask that you confirm your email address
          before setting up your portfolio and exchanges.
        </h5>
      </column>
    </row>
  </div>
</template>

<script>
import { Row, Column } from 'mdbvue-pro';

export default {
  components: {
    Row,
    Column,
  },
};
</script>

<style lang="scss" scoped>
.main-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 100px);

  @media (min-width: 768px) {
    padding-top: 3em;
    padding-bottom: 2rem;
  }
}

.content {
  min-height: calc(100vh - 380px);
  text-align: center;
  & > * {
    line-height: 1.33;
    letter-spacing: 0.8px;
  }

  p {
    color: #00becc;
  }

  h1 {
    margin: 16px 0px;
  }

  h5 {
    color: #b0bec5;
  }
}
</style>
