<template>
  <container class="faq">
    <spinner v-if="isLoading"/>
    <row v-else>
      <column>

        <VueFaqAccordion 
          :items="faqContent"
          active-color="'#01BECB'"
          font-color="'#212C31'"
        />

      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';
import VueFaqAccordion from 'vue-faq-accordion';

import Spinner from 'components/Spinner';
import api from 'utils/api';
import NavTOC from './NavTOC';

export default {
  components: {
    Container,
    Row,
    Column,
    NavTOC,
    Spinner,
    VueFaqAccordion,
  },
  data() {
    return {
      isLoading: true,
      faqContent: [],
    };
  },
  beforeMount() {
    this.getContent();
  },
  methods: {
    async getContent() {
      const { data } = await api.faq.getContent();

      this.buildFaqStructure(data);

      setTimeout(() => {
        this.isLoading = false;
      }, 500);
    },
    buildFaqStructure(data) {
      data.forEach(section => {
        section.content.forEach(content => {
          if (content.sub_heading !== 'Mission') {
            this.faqContent.push({
              title: content.question,
              value: content.answer,
              category: content.sub_heading,
            });
          }
        });
      });
    },
  },
};
</script>
