<template>
  <modal
    v-if="showModal"
    class="modal-container"
    @close="toggleModal"
  >
    <modal-header class="text-center">
      <modal-title>{{ modalTitle }}</modal-title>
    </modal-header>
    <modal-body>
      <slot/>
    </modal-body>
    <modal-footer class="text-right">
      <button
        class="btn btn-primary"
        @click="toggleModal">CLOSE</button>
    </modal-footer>
  </modal>
</template>

<script>
import {
  Modal,
  ModalHeader,
  ModalTitle,
  ModalBody,
  ModalFooter,
  Btn,
} from 'mdbvue-pro';

export default {
  name: 'LegalModal',
  components: {
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
    ModalFooter,
    Btn,
  },
  props: {
    modalTitle: {
      type: String,
      required: true,
    },
    showModal: {
      type: Boolean,
      required: true,
    },
    toggleModal: {
      type: Function,
      required: true,
    },
  },
};
</script>

<style lang="scss">
@import 'build/variables';
.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
  }
}
</style>
