<template>
  <div class="nav">
    <ul>
      <li
        v-for="(section, index) in structure"
        :key="`nav-${index}`">
        <a
          :class="{ active: selectedHeading === section.heading }"
          @click="selectHeading(section.heading)"
        >
          {{ section.heading }}
        </a>

        <ul :class="{ expand: expandedHeading === section.heading }">
          <li
            v-for="(subHeading, index) in section.subHeadings"
            :key="index"
          >
            <a
              :class="{ active: selectedSubheading === subHeading }"
              @click="selectSubheading(subHeading)"
            >
              {{ subHeading }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <slot/>
  </div>
</template>

<script>
import _ from 'lodash';
import scrollIntoView from 'scroll-into-view';

export default {
  props: {
    structure: {
      type: Array,
      default: null,
    },
    loading: {
      type: Boolean,
      default: null,
    },
    refs: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      selectedHeading: '',
      selectedSubheading: '',
      expandedHeading: '',
      isAutoScrolling: false,
      firstLoad: true,
      throttledHandleScroll: _.throttle(this.handleScroll, 10),
    };
  },
  created() {
    this.addListener();
  },
  updated() {
    if (this.firstLoad && !this.loading) {
      this.$nextTick(() => {
        this.selectedHeading = this.structure[0].heading;
        this.firstLoad = false;
        this.expandOnLoad();
        this.scrollToElement(this.$route.hash);
      });
    }
  },
  destroyed() {
    window.removeEventListener('scroll', this.throttledHandleScroll);
  },
  methods: {
    addListener() {
      if (window.innerWidth >= 576) {
        window.addEventListener('scroll', this.throttledHandleScroll);
      }
    },
    scrollToElement(selector) {
      if (selector.length) {
        let transformedSelector;

        if (!selector.includes('#')) {
          transformedSelector = selector.replace(' ', '-').toLowerCase();
        } else {
          transformedSelector = selector.replace('#', '').toLowerCase();
        }

        const element = this.refs[transformedSelector][0];

        this.$router.push({ hash: `#${transformedSelector}` });

        this.isAutoScrolling = true;

        scrollIntoView(
          element,
          {
            align: {
              top: 0,
              topOffset: 10,
            },
          },
          type => {
            if (type === 'complete') {
              this.isAutoScrolling = false;
            }
          },
        );
      }
    },
    selectHeading(heading) {
      this.selectedHeading = heading;
      this.selectedSubheading = '';
      this.expandedHeading = heading;

      this.scrollToElement(heading);
    },
    selectSubheading(subheading) {
      this.selectedSubheading = subheading;
      this.selectedHeading = '';

      this.scrollToElement(subheading);
    },
    expandOnLoad() {
      if (this.$route.hash) {
        const routeHeading = this.$route.hash
          .replace('#', '')
          .replace('-', ' ');

        this.structure.forEach(section => {
          if (routeHeading === section.heading.toLowerCase()) {
            this.selectedHeading = section.heading;
            this.expandedHeading = section.heading;
          } else {
            section.subHeadings.forEach(subHeading => {
              if (routeHeading === subHeading.toLowerCase()) {
                this.selectedHeading = '';
                this.selectedSubheading = subHeading;
                this.expandedHeading = section.heading;
              }
            });
          }
        });
      }
    },
    handleScroll() {
      if (!this.isAutoScrolling) {
        Object.keys(this.refs).forEach(ref => {
          const distanceFromTop = this.refs[ref][0].getBoundingClientRect().top;
          const shouldHighlight = distanceFromTop > 0 && distanceFromTop < 30;

          if (shouldHighlight) {
            this.$router.push({ hash: `#${ref}` });

            this.structure.forEach(section => {
              const parsedHeading = section.heading
                .toLowerCase()
                .replace(' ', '-');

              if (ref === parsedHeading) {
                this.expandedHeading = section.heading;
                this.selectedHeading = section.heading;
                this.selectedSubheading = '';
              } else {
                section.subHeadings.forEach(subheading => {
                  const parsedSubheading = subheading
                    .toLowerCase()
                    .replace(' ', '-');

                  if (ref === parsedSubheading) {
                    this.expandedHeading = section.heading;
                    this.selectedHeading = '';
                    this.selectedSubheading = subheading;
                  }
                });
              }
            });
          }
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.active {
  background-color: #0a0d0f;
}

.nav {
  display: none;

  @media (min-width: 576px) {
    width: 165px;
    display: block;
    position: fixed;

    ul {
      padding: 0px;
      margin: 0px;
      list-style-type: none;

      & > li > ul {
        display: none;

        & > li > a {
          padding-left: 30px;
        }

        &.expand {
          display: block;
        }
      }
    }

    @media (min-width: 768px) {
      width: 190px;
    }

    a {
      color: white;
      display: block;
      height: 40px;
      line-height: 1.41;
      letter-spacing: 1.9px;
      font-size: 15px;
      font-weight: 300;
      padding: 11px 5px 5px 10px;

      &:hover {
        background-color: #0a0d0f;
        color: #00becc;
      }
    }
  }
}
</style>
