<template>
  <div class="legal">
    <p>External wallet address tracking powered by <a 
      href="https://chain.so"
      target="_blank">Chain.so</a>,
      <a
        href="https://blockchain.info"
        target="_blank">Blockchain.info</a>,
      <a
        href="https://blockdozer.com"
        target="_blank">Blockdozer</a>,
      <a
        href="https://etherscan.io"
        target="_blank">Etherscan</a>,
      <a
        href="https://chainz.cryptoid.info"
        target="_blank">Cryptoid</a>,
      <a
        href="https://neotracker.io"
        target="_blank">Neotracker</a>,
      <a
        href="https://etcchain.com"
        target="_blank">ETCChain</a>
    </p>
    <p>Coin market capitalization data powered by
      <a
        href="https://coinmarketcap.com" 
        target="_blank">CoinMarketCap</a>
    </p>
  </div>
</template>
<script>
export default {
  name: 'Sites',
};
</script>
