<template>
  <div id="support-request">
    <br>
    <br>
    <form
      ref="form"
      @submit.prevent="handleSubmit"
    >
      <row>
        <column/>

        <column
          class="form"
          col="12"
          sm="8"
          md="6"
          lg="5"
          xl="6">
          <h1 class="text-sm-center">Support Request</h1>
          <md-input
            v-validate="'required'"
            v-model="subject"
            name="subject"
            type="text"
            placeholder="Subject"
          />
          <div
            v-show="errors.has('subject')"
            class="text-danger mb-2">
            {{ errors.first('subject') }}
          </div>

          <md-textarea
            v-validate="'required'"
            v-model="message"
            :rows="8"
            name="message"
            type="text"
            placeholder="Support Request"
          />
          <div
            v-show="errors.has('message')"
            class="text-danger mb-2">
            {{ errors.first('message') }}
          </div>

          <button
            :disabled="!valid"
            class="btn btn-primary btn-submit btn-block mb-2 mt-4"
            type="submit">Submit
          </button>

        </column>

        <column/>
        <column/>

      </row>
    </form>
  </div>
</template>

<script>
import { Container, Row, Column, MdInput, MdTextarea } from 'mdbvue-pro';
import api from '@/utils/api';

export default {
  name: 'SupportForm',
  components: {
    Container,
    Row,
    Column,
    MdInput,
    MdTextarea,
  },
  data() {
    return {
      subject: '',
      message: '',
    };
  },
  computed: {
    isComplete() {
      return this.subject.length > 0 && this.message.length > 0;
    },
    valid() {
      return !this.errors.any() && this.isComplete;
    },
  },
  methods: {
    clearForm() {
      this.subject = '';
      this.message = '';
      this.$validator.reset();
      this.$refs.form.reset();
    },
    async handleSubmit() {
      this.$toasted.info('Sending support request...');
      const isValid = await this.$validator.validateAll();
      if (!isValid) return;
      try {
        await api.account.sendSupportEmail({
          subject: this.subject,
          message: this.message,
        });
        this.$toasted.success('Support request sent.');
      } catch (e) {
        this.$toasted.error('Error!');
      } finally {
        this.clearForm();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.md-form {
  border-radius: 2px;
  background-color: #111c21;
  text-align: center;

  /deep/ .form-control {
    color: #fff;
    padding: 1em;
    border: 0;

    &:focus {
      box-shadow: 0 0 0 !important;
      border: 0 !important;
    }
  }
}
.btn-submit {
  color: #111c21 !important;
}
#support-request {
  margin-left: 14% !important;
  margin-bottom: 40px;
}
</style>
