<template>
  <div>
    <h1 class="text-sm-center">FAQ</h1>
    <faq/>
    <row>
      <column/>
      <column>
        <SupportForm/>
      </column>
      <column/>
    </row>
  </div>
</template>

<script>
import faq from './FAQ';
import SupportForm from './SupportForm';

export default {
  components: {
    faq,
    SupportForm,
  },
};
</script>
