<!-- eslint-disable -->
<template>
  <div class="legal">
    <p>
      <strong>Terms of Use v1.6 - Effective 6/29/2017</strong>
    </p>
    <p>
      <strong>Objectives. </strong>
      It is the goal of <strong>Coin Cube LLC (“COINCUBE”)</strong> to help Users grow their wealth
      through careful, statistically sound, algorithmic trading. Investing can be an emotional
      rollercoaster, and many bad decisions are made because of fear and greed. By relying on
      tested, math-based trading algorithms, we give Users the ability to trade rationally instead
      of emotionally.
    </p>
    <p>
      <strong>Index Portfolio Strategy.</strong>
      The index algorithm automates portfolio rebalancing for users. This means that:
    </p>
    <p>
      1.1 The algorithm will maintain a user's chosen asset allocation on an hourly basis;
    </p>
    <p>
      1.2 The algorithm utilizes a proprietary, dynamically adjusted limit order trading system to
      maintain portfolio allocations and this means that your actual allocation will vary slightly
      from your desired allocation from time to time;
    </p>
    <p>
      1.3 Choice of assets and allocation is left to the sole discretion of the user.
    </p>
    <p>
      <strong>Security.</strong>
      We have implemented industry standard best practices, including:
    </p>
    <p>
      1.1 DevOps build using Docker;
    </p>
    <p>
      1.2 Our systems run on a cluster of redundant Linux servers;
    </p>
    <p>
      1.3 User funds stay on an exchange and COINCUBE trade instructions are sent to the User’s
      exchange account using API keys;
    </p>
    <p>
      1.4 We never hold User funds.
    </p>
    <p>
      <strong>Fee.</strong>
      COINCUBE is free to use.
    </p>
    <p>
      <strong>Not Financial Advice.</strong>
      COINCUBE is not a Registered Investment Advisor, Broker/Dealer, Financial Analyst, Bank,
      Securities Broker, Commodity Trade Advisor, or Financial Planner. The information on our web
      application is provided for information purposes only. The Information is not intended to be
      and does not constitute financial advice or any other advice, is general in nature and not
      specific to you. Before using the COINCUBE web application, you should seek the advice of a
      qualified investment professional and undertake your own due diligence. None of the
      information provided is intended as investment advice. COINCUBE is not responsible for any
      investment decision made by you. You are responsible for your own investment research.
    </p>
    <p>
      <strong>Risks. </strong>
      There are numerous risks when investing. Before deciding to use COINCUBE, you should carefully
      consider your investment objectives and risk appetite. The possibility exists that you could
      sustain a loss of some or all of your initial investment and therefore you should not invest
      money that you cannot afford to lose. You should be aware of all the risks associated with
      investing and trading, and seek advice from an independent financial advisor if you have any
      doubts. Risks include:
    </p>
    <p>
      <strong>Bitcoin and Cryptocurrency Risks</strong>
    </p>
    <p>
      1.1 Bitcoin is a new technology that is still in beta. Bitcoin could become completely
      worthless if the Elliptical Curve Digital Signature Algorithm used in Bitcoin’s public key
      cryptography is broken.
    </p>
    <p>
      1.2 It is also possible that a similar but superior blockchain based technology could enter
      the market and make Bitcoin obsolete.
    </p>
    <p>
      1.3 Bitcoin and other cryptocurrencies such as Litecoin and Ethereum are very high-risk
      investments.
    </p>
    <p>
      1.4 Government regulations and laws could cause cryptocurrencies to lose value, or make them
      prohibitively costly or difficult to use.
    </p>
    <p>
      <strong>Exchanges Risks</strong>
    </p>
    <p>
      1.1 You must entrust your funds to the exchange you use to trade.
    </p>
    <p>
      1.2 Exchanges are targets for hacking. A compromised exchange could mean the loss of some or
      all of the bitcoins or other cryptocurrency in your exchange account.
    </p>
    <p>
      1.3 An exchange operator(s) could also steal the funds in your account and, depending on the
      location of the exchange, you could have little to no recourse.
    </p>
    <p>
      1.4 Your exchange account security is another target for hacking and a point of risk. We
      recommend that COINCUBE Users utilize two­-factor authentication and a strong password (a mix
      of upper and lower case letters, numbers and symbols with a length of at least 10 characters)
      for both their exchange account and their COINCUBE account.
    </p>
    <p>
      <strong>Privacy. </strong>
      We store the minimum possible amount of User data. Stored data will not be shared with any
      third party. The data that we do store includes:
    </p>
    <p>
      1.1 Your email address and your exchange API keys (we encrypt API keys in our database so the
      information is secure);
    </p>
    <p>
      1.2 We run Google Analytics on our website in order to track site usage.
    </p>
    <p>
      1.3 Full <a href="#" class="footer_link" @click="togglePrivacyModal">Privacy Policy</a>.
    </p>
    <p>
      <strong>Email communication.</strong>
      As a COINCUBE User, we will communicate with you about your account via email. You will
      receive notifications when trade fees are due. Also, if you leave 'keep me updated' checked on
      the sign-up form, you will be
      enrolled in our email newsletter mailing list. If you do not wish to receive this email
      newsletter, you may unsubscribe at any time by clicking the link at the bottom of the email.
    </p>
    <p>
      <strong>User Content.</strong>
      You grant COINCUBE the right to publicly display anonymized User account trade data for the
      purpose of providing past performance data to prospective Users.
    </p>
    <p>
      <strong>Disclaimer of Warranties.</strong>
      COINCUBE disclaims to the full extent authorized by law any and all warranties, whether
      express or implied, including, without limitation, any implied warranties, merchantability or
      fitness for a particular purpose. Without limitation of the foregoing, COINCUBE expressly does
      not warrant that:
    </p>
    <p>
      1.1 The web application will be accessible at all times or in all jurisdictions;
    </p>
    <p>
      1.2 The web application will be free of bugs, errors, viruses or other defects;
    </p>
    <p>
      1.3 Trade results from using the web application will be profitable.
    </p>
    <p>
      <strong>Limitation of Liability.</strong>
      In no event shall COINCUBE be liable to you or any party related to you for any indirect,
      incidental, consequential, special, exemplary, or punitive damages, lost profits, or losses,
      even if COINCUBE has been advised of the possibility of such damages. In any event, COINCUBE’s
      total aggregate liability to you for all damages of every kind and type (regardless of whether
      based in contract or tort) shall not exceed the fees paid to COINCUBE for the use of our web
      application.
    </p>
    <p>
      <strong>Agreement:</strong>
      The User understands and agrees to the preceding sections. The User also agrees to the
      following:
    </p>
    <p>
      1.1 The User agrees to not hold COINCUBE liable for any realized trading loss in any currency
      or asset.
    </p>
    <p>
      1.2 The User reserves the right to stop using COINCUBE at any point, paying any fees that are
      due.
    </p>
    <p>
      1.3 The User understands and agrees that any account profit will be lumped in and traded with
      the initial balance for as long as the User continues to use COINCUBE.
    </p>
    <p>
      1.4 The User agrees that they are using a Software as a Service (SaaS) product. This means
      that COINCUBE manages their account for them on an exchange that is not affiliated with
      COINCUBE.
    </p>
    <p>
      1.6 The User agrees that they are responsible for tax liabilities as they pertain to trading.
    </p>
    <p>
      1.7 This agreement is governed by the laws of the State of New York. The User agrees that any
      legal proceedings will take place in Kings County, New York.
    </p>
    <p>
      1.8 COINCUBE reserves the right to terminate or deny service to anyone, at any time, for any
      reason.
    </p>

    <legal-modal
      :modal-title="'Privacy Policy'"
      :show-modal="showPrivacyModal"
      :toggle-modal="togglePrivacyModal"
    >
      <privacy/>
    </legal-modal>

  </div>
</template>

<script>
import LegalModal from 'pages/Support/LegalModal';
import Privacy from '../Support/Privacy';

export default {
  name: 'Terms',
  components: {
    LegalModal,
    Privacy,
  },
  data() {
    return {
      showPrivacyModal: false,
      showTermsModal: false,
    };
  },
  methods: {
    togglePrivacyModal() {
      this.showPrivacyModal = !this.showPrivacyModal;
    },
    toggleTermsModal() {
      this.showTermsModal = !this.showTermsModal;
    },
  },
};
</script>

<style scoped>
</style>
