<template>
  <div class="account-settings">
    <container
      fluid
      class="settings-wrapper">
      <div class="border-bottom border-dark">
        <row>
          <column lg="12">
            <h1 class="text-center">Account Settings</h1>
          </column>
        </row>
        <row>
          <column>
            <tab
              classic-tabs
              color="darker"
              class="d-flex justify-content-center">
              <tab-item
                :active="tab == 1"
                class="tab-trigger nw-account-portfolio text-sm"
                @click.native.prevent="tab = 1">
                Portfolio <span class="d-none d-sm-inline-block">Settings</span>
              </tab-item>
              <tab-item
                v-if="!user.social_id"
                :active="tab == 2"
                class="tab-trigger nw-account-email"
                @click.native.prevent="tab = 2">
                Email <span class="d-none d-sm-inline-block">Address</span>
              </tab-item>
              <tab-item
                v-if="!user.social_id"
                :active="tab == 3"
                class="tab-trigger nw-account-password"
                @click.native.prevent="tab = 3">
                Password
              </tab-item>
              <tab-item
                :active="tab == 4"
                class="tab-trigger nw-account-two-factor"
                @click.native.prevent="tab = 4">
                <span class="d-none d-sm-inline-block">Two-Factor Authentication</span>
                <span class="d-block d-sm-none">2FA</span>
              </tab-item>
              <tab-item
                v-if="featureFlags.enableUserAPI"
                :active="tab == 5"
                class="tab-trigger nw-account-api-keys"
                @click.native.prevent="tab = 5">
                API Keys
              </tab-item>
            </tab>
          </column>
        </row>
      </div>
    </container>
    <div>
      <tab-content>
        <transition-group name="slide-toggle" >
          <tab-pane
            v-show="tab==1"
            key="tab1">

            <SettingsPortfolio />
          </tab-pane>

          <tab-pane
            v-show="tab==2"
            key="tab3">

            <SettingsEmail />
          </tab-pane>

          <tab-pane
            v-show="tab==3"
            key="tab4">

            <SettingsPassword />
          </tab-pane>

          <tab-pane
            v-show="tab==4"
            key="tab5">

            <SettingsTwoFactor />
          </tab-pane>

          <tab-pane
            v-if="featureFlags.enableUserAPI"
            v-show="tab==5"
            key="tab6">

            <SettingsAPI />
          </tab-pane>
        </transition-group>
      </tab-content>
    </div>

  </div>
</template>

<script>
import {
  Container,
  Tab,
  TabItem,
  TabContent,
  TabPane,
  Row,
  Column,
} from 'mdbvue-pro';

import SettingsPortfolio from 'pages/Settings/SettingsPortfolio';
import SettingsEmail from 'pages/Settings/SettingsEmail';
import SettingsPassword from 'pages/Settings/SettingsPassword';
import SettingsTwoFactor from 'pages/Settings/SettingsTwoFactor';
import SettingsAPI from 'pages/Settings/SettingsAPI';
import featureFlags from 'utils/featureFlags';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';

export default {
  components: {
    Container,
    Tab,
    TabItem,
    TabContent,
    TabPane,
    Row,
    Column,
    SettingsPortfolio,
    SettingsEmail,
    SettingsPassword,
    SettingsTwoFactor,
    SettingsAPI,
  },
  extends: StoreSync({
    user: () => Models.USER(),
  }),
  data() {
    return {
      tab: '1',
      featureFlags,
    };
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.account-settings {
  min-height: calc(100vh - 300px);
}

.slide-toggle-enter-active {
  transition: 0.3s ease-in;
  opacity: 1;
  max-height: 500px;
}
.slide-toggle-enter,
.slide-toggle-leave-active {
  opacity: 0;
  max-height: 0;
}
.slide-toggle-leave {
  opacity: 1;
  max-height: 500px;
}

.border-bottom {
  border-bottom-width: 3px !important;
}
.border-dark {
  border-color: $coincube-darker;
}

.settings-wrapper /deep/ .classic-tabs li a {
  border-bottom: 3px solid transparent;

  @media (max-width: 992px) {
    font-size: 0.8em;
    padding: 1em;
  }
}

.settings-wrapper /deep/ .classic-tabs li a.active {
  color: $coincube-accent;
  border-bottom: 3px solid $coincube-accent;
  font-weight: bold;
}
</style>
