<template>
  <container class="pt-4">
    <row class="justify-content-center">
      <column lg="6">
        <div class="d-flex align-items-center justify-content-between">
          <p class="h5-responsive">Fiat Currency</p>
          <app-select
            v-model="selectedFiat"
            :options="fiatOptionsList"
            placeholder="Select Fiat"
            name="fiat-select"
          />
        </div>
        <div class="d-flex align-items-center justify-content-between pt-4">
          <p class="h5-responsive small-md">Display Bitcoin <br> Performance Data</p>
          <div>
            <md-switch
              :value="user.btc_data"
              class="switch-accent nw-btc-performance-toggle"
              @input="handleBtcChange" />
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between pt-4">
          <p class="h5-responsive">Wide Charts</p>
          <div>
            <md-switch
              :value="user.wide_charts"
              class="switch-accent"
              @input="handleWideChartChange" />
          </div>
        </div>
        <div class="d-flex pt-4">
          <btn
            block
            color="primary"
            class="button"
            @click.native="resetUser"
          >
            Reset Account
          </btn>
        </div>
        <div class="d-flex pt-4">
          <btn
            block
            color="danger"
            class="button nw-account-delete-account"
            @click.native="deleteUser"
          >
            Delete Account
          </btn>
        </div>
      </column>
    </row>
  </container>
</template>

<script>
import {
  Container,
  Row,
  Column,
  SelectWrapper,
  SelectInput,
  SelectOptions,
  SelectOption,
  MdSwitch,
  Btn,
} from 'mdbvue-pro';

import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import AppSelect from '@/components/AppSelect';
import api from '@/utils/api';

export default {
  components: {
    Container,
    Row,
    Column,
    SelectWrapper,
    SelectInput,
    SelectOptions,
    SelectOption,
    MdSwitch,
    Btn,
    AppSelect,
  },
  extends: StoreSync({
    user: () => Models.USER(),
  }),
  data() {
    return {
      fiatOptions: [[1, 'USD'], [3, 'EUR']],
    };
  },
  computed: {
    fiatId() {
      return this.fiatOptions[this.user.fiat.symbol];
    },
    fiatOptionsList() {
      return this.fiatOptions.map(fiatOptions => ({
        label: fiatOptions[1],
        value: fiatOptions[0],
      }));
    },
    selectedFiat: {
      get() {
        return this.user.fiat_id;
      },
      set(value) {
        this.handleFiatChange(value);
      },
    },
  },
  methods: {
    async saveChange({ name, value }) {
      await api.account.saveSetting({
        name: name.toString(),
        value: value.toString(),
      });
      this.clearCache(Models.USER());
    },
    async handleFiatChange(value) {
      this.user.fiat_id = value;
      await this.saveChange({ name: 'fiat_id', value });
      this.user.open_cubes.map(cube =>
        this.clearCache(Models.CUBE_BALANCES(cube.id)),
      );
      this.clearCache(Models.ACCOUNT_BALANCES_AND_ALLOCATIONS());
      this.clearCache(Models.ACCOUNT_PERFORMANCE());
      this.clearCache(Models.ACCOUNT_VALUATIONS());
    },
    handleBtcChange(value) {
      this.user.btc_data = value;
      this.saveChange({ name: 'btc_data', value: value.toString() });
    },
    handleWideChartChange(value) {
      this.user.wide_charts = value;
      this.saveChange({ name: 'wide_charts', value: value.toString() });
    },
    resetUser() {
      this.$toasted.info('Resetting Account...');
      this.saveChange({
        name: 'reset',
        value: '',
      });
    },
    deleteUser() {
      this.$toasted.info('Deleting Account...');
      this.saveChange({
        name: 'delete',
        value: '',
      });

      this.$auth.signOut();

      this.$router.push('/');
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

select {
  display: block !important;

  @media (max-width: 992px) {
    background: #fff;
    margin-top: -0.8em;
  }
}

.switch-accent {
  @media (max-width: 992px) {
    font-size: 0.8em;
    text-align: center;
  }
}

.switch-accent /deep/ label input[type='checkbox']:checked + .lever {
  background-color: $coincube-green !important;
}

.switch-accent /deep/ label input[type='checkbox']:checked + .lever:after {
  background-color: $coincube-accent !important;
}

.btn {
  font-weight: 700;
}

.small-md {
  @media (max-width: 992px) {
    font-size: 1.3em;
  }
}
</style>
