<template>
  <container class="pt-4">
    <row class="justify-content-center">
      <column col="6">
        <div class="d-flex align-items-center justify-content-between pt-4">
          <p class="h5-responisve">Newsletter</p>
          <div>
            <md-switch class="switch-accent" />
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between pt-4">
          <p class="h5-responisve">Trade alerts</p>
          <div>
            <md-switch class="switch-accent" />
          </div>
        </div>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column, MdSwitch } from 'mdbvue-pro';

export default {
  components: {
    Container,
    Row,
    Column,
    MdSwitch,
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.switch-accent /deep/ label input[type='checkbox']:checked + .lever {
  background-color: $coincube-green !important;
}

.switch-accent /deep/ label input[type='checkbox']:checked + .lever:after {
  background-color: $coincube-accent !important;
}

.button {
  color: $coincube-dark !important;
}

.btn {
  font-weight: 700;
}
</style>
