<template>
  <container class="pt-4 settings-two-factor">
    <row class="justify-content-center">
      <column
        v-if="isSecondFactorEnabled"
        lg="6">
        <row class="justify-content-center mt-5">
          <column col="10">
            <second-factor-form
              ref="disableSecondFactorForm"
              :require-password="true"
              instructions="Enter two-factor authenticator code to disable"
              @submit="disableSecondFactor"/>
          </column>
        </row>
      </column>
      <spinner v-else-if="!otpAuth"/>
      <column
        v-else
        lg="6">
        <qriously
          :value="otpAuth"
          :padding="25"
          :size="320"
          :background-alpha="1.0"
          class="text-center"/>

        <p class="text-center">Secret key: {{ secret }}</p>

        <row class="justify-content-center mt-5">
          <column lg="10">
            <second-factor-form
              ref="enableSecondFactorForm"
              :require-password="requirePassword"
              instructions="Enter two-factor authenticator code to enable"
              @submit="enableSecondFactor"/>
          </column>
        </row>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column, Btn, MdInput } from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import api from 'utils/api';
import Spinner from 'components/Spinner';
import SecondFactorForm from 'pages/Auth/SecondFactorForm';

export default {
  components: {
    Spinner,
    Container,
    Row,
    Column,
    Btn,
    MdInput,
    SecondFactorForm,
  },
  extends: StoreSync({
    user: () => Models.USER(),
  }),
  data() {
    return {
      isSecondFactorEnabled: false,
      secret: null,
      otpAuth: null,
    };
  },
  computed: {
    requirePassword() {
      if (this.user.social_id) {
        return false;
      }
      return true;
    },
  },
  mounted() {
    if (this.user.otp_complete) {
      this.showDisable();
    } else {
      this.showEnable();
    }
  },
  methods: {
    showDisable() {
      this.isSecondFactorEnabled = true;
    },
    async showEnable() {
      this.isSecondFactorEnabled = false;

      try {
        const { data } = await api.account.getSecondFactorSecret();
        this.secret = data.secret;

        this.otpAuth = `otpauth://totp/Coincube:${this.user.email}?secret=${
          this.secret
        }&issuer=Coincube`;
      } catch (error) {
        this.$toasted.error('Failed to Fetch Secret');
      }
    },
    async disableSecondFactor() {
      try {
        await api.account.removeSecondFactor({
          otp_code: this.$refs.disableSecondFactorForm.code,
          password: this.$refs.disableSecondFactorForm.password,
        });
        this.clearCache(Models.USER());
        this.$toasted.success('Disabled Two Factor Authentication');
        this.showEnable();
      } catch (error) {
        this.$toasted.error('Failed to Disable Two Factor Authentication');
      }
    },
    async enableSecondFactor() {
      try {
        await api.account.addSecondFactor({
          otp_code: this.$refs.enableSecondFactorForm.code,
          password: this.$refs.enableSecondFactorForm.password,
        });
        this.clearCache(Models.USER());
        this.$toasted.success('Enabled Two Factor Authentication');
        this.showDisable();
      } catch (error) {
        this.$toasted.error('Failed to Enable Two Factor Authentication');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.button {
  color: $coincube-dark !important;
}

.settings-two-factor /deep/ input {
  margin-bottom: 2em;
}

.settings-two-factor /deep/ label {
  color: #fff !important;
}

.btn {
  font-weight: 700;
}
</style>
