<template>
  <container class="pt-4 settings-password">
    <row class="justify-content-center">
      <column lg="6">
        <p class="h3-responsive text-center">Please enter your new password below.</p>
        <row class="justify-content-center">
          <column lg="10">
            <form
              ref="form"
              @submit.prevent="handleSubmit">
              <div class="mb-4">
                <md-input
                  v-validate="'required'"
                  v-model="password"
                  name="password"
                  type="password"
                  label="Current Password"
                  icon="key"/>
              </div>
              <div
                v-show="errors.has('password')"
                class="text-danger mb-2">
                {{ errors.first('password') }}
              </div>
              <div class="mb-4">
                <md-input
                  v-validate="'required'"
                  ref="new_password"
                  v-model="new_password"
                  name="new_password"
                  type="password"
                  label="New Password"
                  icon="key"/>
              </div>
              <div
                v-show="errors.has('new_password')"
                class="text-danger mb-2">
                {{ errors.first('new_password') }}
              </div>
              <btn
                :disabled="!valid"
                color="primary"
                class="btn-submit btn-block mb-2 mt-4 nw-account-password-submit"
                type="submit">Submit
              </btn>
            </form>
          </column>
        </row>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column, Btn, MdInput } from 'mdbvue-pro';

import api from '@/utils/api';

export default {
  components: {
    Container,
    Row,
    Column,
    Btn,
    MdInput,
  },
  data() {
    return {
      password: '',
      new_password: '',
    };
  },
  computed: {
    isComplete() {
      return this.password.length > 0 && this.new_password.length > 0;
    },
    valid() {
      return !this.errors.any() && this.isComplete;
    },
  },
  methods: {
    clearForm() {
      this.password = '';
      this.new_password = '';
      this.$validator.reset();
      this.$refs.form.reset();
    },
    /* eslint-disable */
    async handleSubmit() {
      const isValid = await this.$validator.validateAll();
      if (!isValid) return;
      try {
        const res = await api.account.savePassword({
          password: this.password,
          new_password: this.new_password,
        });
        this.$toasted.success('Password updated.');
      } catch (e) {
        console.log(e);
      } finally {
        this.clearForm();
      }
    },
    /* eslint-enable */
  },
};
</script>

<style lang="scss">
@import 'build/variables';

.button {
  color: $coincube-dark !important;
}

form /deep/ .md-form i {
  color: #fff;
}

form /deep/ .md-form .form-control {
  color: #fff;
}

form /deep/ .md-form label {
  color: #fff;
}

.btn {
  font-weight: 700;
}
</style>
