<template>
  <container class="pt-4 settings-email">
    <row class="justify-content-center">
      <column col="6">

        <div class="mt-5">
          <form
            ref="form"
            @submit.prevent="handleSubmit">
            <p 
              v-if="requirePassword"
              class="h5-responsive text-white text-center">
              Enter your password
            </p>

            <div class="mb-4">
              <md-input
                v-validate="'required'"
                v-if="requirePassword"
                v-model="password"
                name="password"
                type="password"
                label="Password"
                icon="key"
              />
            </div>
            <div
              v-show="errors.has('password')"
              class="text-danger mb-2">
              {{ errors.first('password') }}
            </div>

            <btn
              :disabled="!valid"
              color="primary"
              class="btn-submit btn-block mb-2 mt-4"
              type="submit">Add API Key
            </btn>
          </form>
        </div>

        <div class="mt-5">
          <h5>API Keys</h5>
          <ul 
            v-if="user.api_keys"
            class="list"
          >
            <li 
              v-for="(key, index) in user.api_keys"
              :key="index"
              class="key-item"
            >
              {{ key['key'] }}

              <a
                class="key-delete"
                href="#"
                role="button"
                @click="deleteKey(key['key'])"
              >
                <i class="fa-trash"/>
              </a>
            </li>
          </ul>
        </div>


        <div
          v-show="newApiKey"
          class="alert alert-danger"
          role="alert">
          <p>Copy your API key and secret to a safe place. The secret will not be shown again.</p>
          <b>Key:</b> {{ newKey }} <br>
          <b>Secret:</b> {{ newSecret }}
        </div>

        <p class="h3-responsive mt-5">Available Calls:</p>

        <div class="box-api p-3 rounded text-white-50 font-weight-normal">
          <p class="font-weight-bold mb-3">Account Summary</p>
          <p class="font-weight-bold">Request:</p>

          <div class="d-flex mb-3">
            <div class="w-25">
              <div class="text-white box-api-request">
                POST
              </div>
            </div>
            <div>
              https://coincube.io/api/v1/summary
            </div>
          </div>

          <p class="font-weight-bold pt-4">POST in Body:</p>

          <div class="d-flex mt-2">
            <div class="w-25">
              key
            </div>
            <div>
              string
            </div>
          </div>
          <div class="d-flex mt-2">
            <div class="w-25">
              secret
            </div>
            <div>
              string
            </div>
          </div>

          <p class="font-weight-bold pt-4">Example CURL request: curl -X POST -H "Content-Type: application/json" -d '{"key": "your-api-key", "secret": "your-api-secret"}' https://coincube.io/api/v1/summary</p>

          <p class="font-weight-bold pt-4">Response(JSON):</p>

          <div class="d-flex mt-2">
            <vue-json-pretty
              :path="'res'"
              :data="accountSummary"/>
          </div>
        </div>
        <br>
        <div class="box-api p-3 rounded text-white-50 font-weight-normal">
          <p class="font-weight-bold mb-3">Cube Summary</p>
          <p class="font-weight-bold">Request:</p>

          <div class="d-flex mb-3">
            <div class="w-25">
              <div class="text-white box-api-request">
                POST
              </div>
            </div>
            <div>
              https://coincube.io/api/v1/cube/summary
            </div>
          </div>

          <p class="font-weight-bold pt-4">POST in Body:</p>

          <div class="d-flex mt-2">
            <div class="w-25">
              key
            </div>
            <div>
              string
            </div>
          </div>
          <div class="d-flex mt-2">
            <div class="w-25">
              secret
            </div>
            <div>
              string
            </div>
          </div>
          <div class="d-flex mt-2">
            <div class="w-25">
              cube_id
            </div>
            <div>
              integer
            </div>
          </div>

          <p class="font-weight-bold pt-4">Example CURL request: curl -X POST -H "Content-Type: application/json" -d '{"key": "your-api-key", "secret": "your-api-secret", "cube_id": 1234}' https://coincube.io/api/v1/cube/summary</p>

          <p class="font-weight-bold pt-4">Response(JSON):</p>

          <div class="d-flex mt-2">
            <vue-json-pretty
              :path="'res'"
              :data="cubeSummary"/>
          </div>
        </div>
        <br>
        <div class="box-api p-3 rounded text-white-50 font-weight-normal">
          <p class="font-weight-bold mb-3">Cube Details</p>
          <p class="font-weight-bold">Request:</p>

          <div class="d-flex mb-3">
            <div class="w-25">
              <div class="text-white box-api-request">
                POST
              </div>
            </div>
            <div>
              https://coincube.io/api/v1/cube/details
            </div>
          </div>

          <p class="font-weight-bold pt-4">POST in Body:</p>

          <div class="d-flex mt-2">
            <div class="w-25">
              key
            </div>
            <div>
              string
            </div>
          </div>
          <div class="d-flex mt-2">
            <div class="w-25">
              secret
            </div>
            <div>
              string
            </div>
          </div>
          <div class="d-flex mt-2">
            <div class="w-25">
              cube_id
            </div>
            <div>
              integer
            </div>
          </div>

          <p class="font-weight-bold pt-4">Example CURL request: curl -X POST -H "Content-Type: application/json" -d '{"key": "your-api-key", "secret": "your-api-secret", "cube_id": 1234}' https://coincube.io/api/v1/cube/details</p>

          <p class="font-weight-bold pt-4">Response(JSON):</p>

          <div class="d-flex mt-2">
            <vue-json-pretty
              :path="'res'"
              :data="cubeDetails"/>
          </div>
        </div>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column, Btn, MdInput } from 'mdbvue-pro';
import VueJsonPretty from 'vue-json-pretty';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import api from 'utils/api';
import accountSummaryJSON from './json/accountSummaryJSON.json';
import cubeDetailsJSON from './json/cubeDetailsJSON.json';
import cubeSummaryJSON from './json/cubeSummaryJSON.json';

export default {
  components: {
    Container,
    Row,
    Column,
    Btn,
    MdInput,
    VueJsonPretty,
  },
  extends: StoreSync({
    user: () => Models.USER(),
  }),
  data() {
    return {
      password: '',
      newKey: '',
      newSecret: '',
      newApiKey: false,
      accountSummary: accountSummaryJSON,
      cubeDetails: cubeDetailsJSON,
      cubeSummary: cubeSummaryJSON,
    };
  },
  computed: {
    isComplete() {
      if (this.requirePassword) {
        return this.password.length > 0;
      }
      return true;
    },
    valid() {
      return !this.errors.any() && this.isComplete;
    },
    requirePassword() {
      if (this.user.social_id) {
        return false;
      }
      return true;
    },
  },
  methods: {
    clearForm() {
      this.password = '';
      this.$validator.reset();
      this.$refs.form.reset();
    },
    /* eslint-disable */
    async handleSubmit() {
      const isValid = await this.$validator.validateAll();
      if (!isValid) return;
      let toast = this.$toasted.info('Adding API key...');
      try {
        const {data} = await api.account.addAPI({
          password: this.password,
        });
        this.newKey = data.key;
        this.newSecret = data.secret;
        this.newApiKey = true;
        this.clearCache(Models.USER());
        toast.goAway();
        toast = this.$toasted.success('API key created successfully.');
      } catch (error) {
        toast.goAway();
        toast = this.$toasted.error('Failed to add API key.');
      } finally {
        this.clearForm();
      }
    },
    async deleteKey(key) {
      let toast = this.$toasted.global.info('Deleting API key...');
      // have to pass body with `data`:
      // https://github.com/axios/axios/issues/736
      const body = {
        data: {
          key,
        },
      };

      const { status } = await api.account.deleteAPI(body);

      if (status !== 200) {
        toast.goAway();
        toast = this.$toasted.global.error(
          'Could not delete API key.',
        );
        return;
      }

      toast.goAway();
      toast = this.$toasted.success('API key deleted.');
      this.clearCache(Models.USER());
    },
    /* eslint-enable */
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.button {
  color: $coincube-dark !important;
}

.settings-email /deep/ input {
  margin-bottom: 2em;
}

.settings-email /deep/ label {
  color: #fff !important;
}

.box-api {
  background: $coincube-darker;
  font-size: 0.8em;

  &-request {
    background: #666;
    padding: 3px 10px;
    border-radius: 24px/18px;
    display: inline-block;
    font-size: 0.8em;
  }
}

.btn {
  font-weight: 700;
}

.list {
  list-style: none;
  padding: 2px;
  margin: 0;
}

.alert {
  margin-top: 20px;
}

.key-item {
  display: flex;
  width: 100%;
}

.key-delete {
  margin-left: auto;
  color: $coincube-accent;
  font-family: fontAwesome;
  content: '\f295';
}
</style>
