<template>
  <row class="w-100">
    <spinner v-if="isLoading"/>
    <div
      v-else
      class="m-5 w-100">
      <div class="tabs-container col-12">
        <tab
          tabs
          justify
          class="col-6 bg-coincube-darker mx-auto">
          <tab-item
            v-for="blockchainIndex in Object.keys(blockchainIndexes)"
            :active="activeTab === blockchainIndex"
            :key="blockchainIndex"
            @click.native.prevent="activeTab = blockchainIndex">
            {{ blockchainIndexes[blockchainIndex].tab }}
          </tab-item>
        </tab>
      </div>
      <tab-content class="md-5">
        <transition-group name="slide-toggle">
          <tab-pane
            v-for="blockchainIndex in Object.keys(blockchainIndexes)"
            v-show="activeTab === blockchainIndex"
            :key="blockchainIndex">
            <!--
              we use legendContainer in `index-item` to do DOM manipulation
              on `DonutPieChart` and `component` to set the destination element
            -->
            <index-item
              v-if="series[blockchainIndex]"
              :series="series[blockchainIndex]"
              :title="blockchainIndexes[blockchainIndex].number"
              :legend-container="blockchainIndexes[blockchainIndex].legendContainer">
              <top-x
                :legend-container="blockchainIndexes[blockchainIndex].legendContainer"
                :number="blockchainIndexes[blockchainIndex].number"
                :code="blockchainIndexes[blockchainIndex].code"
                :word="blockchainIndexes[blockchainIndex].word"/>
            </index-item>
          </tab-pane>
        </transition-group>
      </tab-content>
    </div>
  </row>
</template>

<script>
import {
  Tab,
  TabItem,
  TabContent,
  TabPane,
  Container,
  Row,
  Column,
} from 'mdbvue-pro';

import Spinner from '@/components/Spinner';
import formatChartData from '@/utils/formatChartData';
import IndexItem from './IndexItem';
import TopX from './chartContent/TopX';

export default {
  components: {
    Tab,
    TabItem,
    TabContent,
    TabPane,
    Container,
    Row,
    Column,
    IndexItem,
    TopX,
    Spinner,
  },
  data() {
    return {
      blockchainIndexes: {
        Five: {
          number: 5,
          code: 'CC05',
          word: 'five',
          tab: 'Top 5 MC',
          legendContainer: 'chart-legend-container-5',
        },
        Ten: {
          number: 10,
          code: 'CC10',
          word: 'ten',
          tab: 'Top 10 MC',
          legendContainer: 'chart-legend-container-10',
        },
        Twenty: {
          number: 20,
          code: 'CC20',
          word: 'twenty',
          tab: 'Top 20 MC',
          legendContainer: 'chart-legend-container-20',
        },
        Thirty: {
          number: 30,
          code: 'CC30',
          word: 'thirty',
          tab: 'Top 30 MC',
          legendContainer: 'chart-legend-container-30',
        },
        Fifty: {
          number: 50,
          code: 'CC50',
          word: 'fifty',
          tab: 'Top 50 MC',
          legendContainer: 'chart-legend-container-50',
        },
      },
      activeTab: 'Five',
      series: {},
      isLoading: true,
    };
  },
  beforeMount() {
    Object.keys(this.blockchainIndexes).forEach(async blockchainIndex => {
      const { series } = await formatChartData(blockchainIndex);

      this.$set(this.series, blockchainIndex, series);
      this.isLoading = false;
    });
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

// Reset mdb-vue stlyes
.card {
  background-color: $coincube-dark;
  box-shadow: none !important;
}

.slide-toggle-enter-active {
  opacity: 1;
  max-height: 500px;
}

.slide-toggle-enter,
.slide-toggle-leave-active {
  opacity: 0;
  max-height: 0;
}

.slide-toggle-leave {
  opacity: 1;
  max-height: 500px;
}
</style>
