<template>
  <div>
    <container 
      fluid
      class="main-content"
    >
      <row class="text-center">
        <h1>Blockchain indexes</h1>

        <div
          lg="5"
          class="m-auto">
          <p>We’ve set up several blockchain indexes for you to track.
          Connect one or more of your exchanges accounts and our
          software will make the trades for you.</p>
        </div>
      </row>

      <row>
        <tab
          tabs
          justify
          class="col-8 bg-coincube-darker mx-auto"
        >
          <tab-item
            v-for="index in Object.keys(chartNamesMcw)"
            :active="mcwActiveTab === index"
            :key="index"
            @click.native.prevent="mcwActiveTab = index">
            {{ chartNamesMcw[index] }}
          </tab-item>
        </tab>
        <tab-content class="col-10 mx-auto">
          <transition-group name="slide-toggle">
            <tab-pane
              v-for="([index, title]) in Object.entries(chartNamesMcw)"
              v-show="mcwActiveTab === index"
              :key="index"
            >
              <row>
                <column md="12">
                  <index-item
                    v-if="chartsMcw"
                    :title="`${title.split('|')[0]} Chart`"
                    :series="pieMcw(index)"
                    :legend-container="index"
                    title-position="middle"
                  >
                    <top-x
                      :legend-container="index"
                      :title="title"
                      :word="title.split(' ')[1]"
                      :code="`CC${title.split(' ')[1]}`"
                    />
                  </index-item>
                </column>

                <column md="12">
                  <time-series-chart
                    v-if="chartsMcw"
                    :index-data="mcw(title)"
                    :index-title="title"
                    fiat-symbol="USD"
                    type="indexes"
                  />
                </column>
              </row>
            </tab-pane>
          </transition-group>
        </tab-content>
      </row>
      <hr>
      <row>
        <tab
          tabs
          justify
          class="col-8 bg-coincube-darker mx-auto"
        >
          <tab-item
            v-for="index in Object.keys(chartNamesEw)"
            :active="ewActiveTab === index"
            :key="index"
            @click.native.prevent="ewActiveTab = index">
            {{ chartNamesEw[index] }}
          </tab-item>
        </tab>
        <tab-content class="col-10 mx-auto">
          <transition-group name="slide-toggle">
            <tab-pane
              v-for="([index, title]) in Object.entries(chartNamesEw)"
              v-show="ewActiveTab === index"
              :key="index"
            >
              <row>
                <column md="12">
                  <index-item
                    v-if="chartsPieEw"
                    :title="`${title.split('|')[0]} Chart`"
                    :series="pieEw(index)"
                    :legend-container="index"
                    title-position="middle"
                  >
                    <top-x
                      :legend-container="index"
                      :title="title"
                      :word="title.split(' ')[1]"
                      :code="`CC${title.split(' ')[1]}`"
                    />
                  </index-item>
                </column>

                <column md="12">
                  <time-series-chart
                    v-if="chartsEw"
                    :index-data="ew(title)"
                    :index-title="title"
                    fiat-symbol="USD"
                    type="indexes"
                  />
                </column>
              </row>
            </tab-pane>
          </transition-group>
        </tab-content>
      </row>

    </container>
  </div>
</template>

<script>
import {
  Container,
  Column,
  Row,
  Tab,
  TabContent,
  TabPane,
  TabItem,
} from 'mdbvue-pro';
import api from 'utils/api';
import TimeSeriesChart from 'components/TimeSeriesChart';
import AllocationDonutPieChart from 'components/AllocationDonutPieChart';
import Spinner from 'components/Spinner';

import IndexItem from './IndexItem';
import TopX from './chartContent/TopX';

export default {
  name: 'Indexes',
  components: {
    Container,
    Column,
    Row,
    Tab,
    TabContent,
    TabPane,
    TabItem,
    TimeSeriesChart,
    IndexItem,
    AllocationDonutPieChart,
    TopX,
    Spinner,
  },
  data() {
    return {
      isLoading: true,
      basic: '1',
      mcwActiveTab: 'top_five_mcw',
      ewActiveTab: 'top_five_ew',
      activeChartData: [],
      chartsPieMcw: [],
      chartsMcw: null,
      chartNamesMcw: {
        top_five_mcw: 'Top 5 | Market Cap Weighted',
        top_ten_mcw: 'Top 10 | Market Cap Weighted',
        top_twenty_mcw: 'Top 20 | Market Cap Weighted',
        top_thirty_mcw: 'Top 30 | Market Cap Weighted',
        top_fifty_mcw: 'Top 50 | Market Cap Weighted',
      },
      chartsEw: null,
      chartsPieEw: [],
      chartNamesEw: {
        top_five_ew: 'Top 5 | Equally Weighted',
        top_ten_ew: 'Top 10 | Equally Weighted',
        top_twenty_ew: 'Top 20 | Equally Weighted',
        top_thirty_ew: 'Top 30 | Equally Weighted',
        top_fifty_ew: 'Top 50 | Equally Weighted',
      },
    };
  },
  beforeMount() {
    this.getChartsDataMcw();
    this.getChartsDataEw();
    this.getChartsPieDataMcw();
    this.getChartsPieDataEw();
  },
  methods: {
    pieMcw(index) {
      if (this.chartsPieMcw.length) {
        return this.chartsPieMcw.filter(chart => chart.index_type === index)[0]
          .chart;
      }
      return [];
    },
    mcw(title) {
      if (this.chartsMcw.length) {
        const filteredByTitle = this.chartsMcw.filter(
          index => index.title === title,
        );
        if (filteredByTitle.length) {
          return filteredByTitle[0].data;
        }
      }
      return [];
    },
    pieEw(index) {
      if (this.chartsPieEw.length) {
        return this.chartsPieEw.filter(chart => chart.index_type === index)[0]
          .chart;
      }
      return [];
    },
    ew(title) {
      if (this.chartsEw.length) {
        return this.chartsEw.filter(index => index.title === title)[0].data;
      }
      return [];
    },
    async getChartsPieDataMcw() {
      const { data } = await api.chartPieMcw.getAll();

      const chartsWithData = data.filter(chart => chart.chart.length);

      this.chartsPieMcw = chartsWithData;
    },
    async getChartsDataMcw() {
      const { data } = await api.chartPerformanceMcw.getAll();

      // Filter empty data
      const indexesWithData = data.filter(index => index.performance.length);

      // Format data for the charts
      const formattedData = indexesWithData.map(index => ({
        title: this.chartNamesMcw[index.index_type],
        data: index.performance,
      }));

      this.chartsMcw = formattedData;
    },
    async getChartsPieDataEw() {
      const { data } = await api.chartPieEw.getAll();

      const chartsWithData = data.filter(chart => chart.chart.length);

      this.chartsPieEw = chartsWithData;
    },
    async getChartsDataEw() {
      const { data } = await api.chartPerformanceEw.getAll();

      // Filter empty data
      const indexesWithData = data.filter(index => index.performance.length);

      // Format data for the charts
      const formattedData = indexesWithData.map(index => ({
        title: this.chartNamesEw[index.index_type],
        data: index.performance,
      }));

      this.chartsEw = formattedData;
    },
  },
};
</script>

<style lang="scss" scoped>
.main-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 100px);

  @media (min-width: 768px) {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
.tab-pane .highcharts {
  margin-top: 0;
}

.highcharts-pie {
  margin-bottom: 0 !important;
}

.slide-toggle-enter-active {
  transition: 0.3s ease-in;
  opacity: 1;
  max-height: 500px;
}
.slide-toggle-enter,
.slide-toggle-leave-active {
  opacity: 0;
  max-height: 0;
}
.slide-toggle-leave {
  opacity: 1;
  max-height: 500px;
}
</style>
