<template>
  <row>
    <column md="6">
      <allocation-donut-pie-chart
        :data="series"
        :title="`${title}`"
        :legend-container="legendContainer"
        title-position="middle"
      />
    </column>

    <column md="6">
      <slot/>
    </column>
  </row>
</template>

<script>
import AllocationDonutPieChart from '@/components/AllocationDonutPieChart';

import { Row, Column } from 'mdbvue-pro';

export default {
  components: {
    Row,
    Column,
    AllocationDonutPieChart,
  },
  props: {
    series: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      default: '',
    },
    legendContainer: {
      type: String,
      default: null,
    },
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
div /deep/ .highcharts-legend {
  width: 100%;
}

div /deep/ #chart-legend-container-5,
div /deep/ #chart-legend-container-10,
div /deep/ #chart-legend-container-20 {
  height: 50px;
}

div /deep/ #chart-legend-container-30 {
  height: 80px;
}

div /deep/ #chart-legend-container-50 {
  height: 120px;
}
</style>
