<template>
  <container fluid>
    <row
      v-if="showWelcome"
      class="welcome"
    >
      <column md="12">
        <h2 class="title">
          Welcome to Coincube!
        </h2>
        <h6>
          Please select "Cube" to set up an exchange connection or "Wallet" to track your privately held crypto.
        </h6>
      </column>

      <div class="center">
        <wallet-and-cube-select/>
      </div>
    </row>

    <row>
      <column
        class="top"
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/DASHBOARD.png"/>
                <div class="header-text">
                  <span>Dashboard</span>
                </div>
              </div>
            </view-wrapper>
            <card-body>
              <template v-if="showBalances">
                <row class="text-left">
                  <column sm="12">
                    <valuations
                      :val_fiat="fiatCurrentBalance"
                      :val_btc="bitcoinCurrentBalance"
                      :user="user"
                    />
                  </column>
                </row>
              </template>
              <template v-if="showPerformances">
                <row>
                  <column :md="performanceChartColumnSpan">
                    <time-series-chart
                      :btc-data="bitcoinPerformanceBalances"
                      :fiat-data="fiatPerformanceBalances"
                      :show-only-fiat="showFiatOnly"
                      type="balances"
                    />
                  </column>
                  <column :md="performanceChartColumnSpan">
                    <time-series-chart
                      :btc-data="bitcoinPerformancePercents"
                      :fiat-data="fiatPerformancePercents"
                      :show-only-fiat="showFiatOnly"
                      type="percents"
                    />
                  </column>
                </row>
                <div class="black-divider"/>
              </template>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
    <row>
      <column
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/PORTFOLIO.png"/>
                <div class="header-text">
                  <span>Portfolio</span>
                </div>
              </div>
            </view-wrapper>
            <card-body>
              <template v-if="showBalances">
                <row class="text-center">
                  <balances-table
                    :are-allocations-editable="false"
                    :rows="balances"
                    :btc-performance-in-fiat="balancesAndAllocations.performance_fiat"
                  />
                </row>
              </template>
              <div class="black-divider"/>
              <template v-if="showAllocations">
                <br>
                <row
                  class="text-center"
                >
                  <column :md="valuationsChartColumnSpan">
                    <allocation-donut-pie-chart
                      v-if="showAllocations"
                      :data="allocations"
                      title="Allocations"
                    />
                  </column>
                </row>
              </template>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
  </container>
</template>

<script>
import {
  Container,
  Row,
  Column,
  Card,
  CardBody,
  CardTitle,
  CardText,
  CardImg,
  ViewWrapper,
  MdSwitch,
} from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import mapBalancesData from 'utils/mapBalancesData';
import AllocationDonutPieChart from 'components/AllocationDonutPieChart';
import AppBasicBarChart from 'components/AppBasicBarChart';
import TimeSeriesChart from 'components/TimeSeriesChart';
import BalancesTable from 'components/BalancesTable';
import Valuations from 'components/Valuations';
import PerformanceHeader from 'components/PerformanceHeader';
import WalletAndCubeSelect from 'components/WalletAndCubeSelect';

export default {
  name: 'Account',
  components: {
    Container,
    Row,
    Column,
    AllocationDonutPieChart,
    AppBasicBarChart,
    BalancesTable,
    PerformanceHeader,
    TimeSeriesChart,
    Valuations,
    WalletAndCubeSelect,
    Card,
    CardBody,
    CardTitle,
    CardText,
    CardImg,
    ViewWrapper,
    MdSwitch,
  },
  extends: StoreSync({
    user: () => Models.USER(),
    balancesAndAllocations: () => Models.ACCOUNT_BALANCES_AND_ALLOCATIONS(),
    performance: () => Models.ACCOUNT_PERFORMANCE(),
  }),
  computed: {
    //
    // Chart Column Spans
    //
    allocationsChartColumnSpan() {
      return this.showValuations ? '6' : '12';
    },
    performanceChartColumnSpan() {
      return this.user.wide_charts ? '12' : '6';
    },
    valuationsChartColumnSpan() {
      return '12';
    },
    //
    // Flags
    //
    showAllocations() {
      return this.allocations && this.allocations.length > 0;
    },
    showBalances() {
      return this.balances && this.balances.length > 0;
    },
    showFiatOnly() {
      return !this.user.btc_data;
    },
    showPerformances() {
      if (
        this.bitcoinPerformanceBalances &&
        this.bitcoinPerformanceBalances.length > 0 &&
        this.bitcoinPerformancePercents &&
        this.bitcoinPerformancePercents.length > 0 &&
        this.fiatPerformanceBalances &&
        this.fiatPerformanceBalances.length > 0 &&
        this.fiatPerformancePercents &&
        this.fiatPerformancePercents.length > 0
      ) {
        return true;
      }
      return false;
    },
    showWelcome() {
      return (
        (!this.user.open_cubes || this.user.open_cubes.length === 0) &&
        (!this.user.open_wallets || this.user.open_wallets.length === 0)
      );
    },
    //
    // Lists
    //
    allocations() {
      return this.balancesAndAllocations.allocations;
    },
    balances() {
      return this.balancesAndAllocations.balances &&
        this.balancesAndAllocations.balances.values
        ? mapBalancesData(this.balancesAndAllocations.balances.values)
        : null;
    },
    bitcoinPerformanceBalances() {
      return this.performance.btc_balances;
    },
    bitcoinPerformancePercents() {
      return this.performance.btc_pct_returns;
    },
    fiatPerformanceBalances() {
      return this.performance.fiat_balances;
    },
    fiatPerformancePercents() {
      return this.performance.fiat_pct_returns;
    },
    //
    // Single Values
    //
    bitcoinCurrentBalance() {
      return this.balancesAndAllocations.total.btc;
    },
    bitcoinCurrentPercent() {
      return this.bitcoinPerformancePercents.slice(-1).pop()[1];
    },
    fiatCurrentBalance() {
      return this.balancesAndAllocations.total.fiat;
    },
    fiatCurrentPercent() {
      return this.fiatPerformancePercents.slice(-1).pop()[1];
    },
    fiatSymbol() {
      return this.user.fiat.symbol;
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.black-divider {
  width: 100%;
  height: 1px;
  margin-top: 14px;
  background-color: #000000;
}
.welcome {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.center {
  padding-top: 20px;
  margin: auto;
}
.card-body {
  background-color: $coincube-dark;
}

.card-body img {
  width: 20px;
}
.header-text {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
}
.header-text span {
  color: $coincube-accent;
}
.icon {
  margin-left: 30px;
  margin-top: 18px;
  max-width: 40px;
  display: table-cell;
  float: left;
}
.view {
  background-color: $coincube-darker;
}
</style>
