<template>
  <div class="main-content">
    <container>
      <spinner v-if="isLoading"/>
      <row v-else>
        <column>
          <h1 v-if="confirmed">Thank you for confirming your email!</h1>
          <h5 v-else>{{ error }}</h5>
          <h5>You will be redirected to the home page shortly.</h5>
          <h6>Or click
            <router-link :to="route">here</router-link>
            to go there manually.
          </h6>
        </column>
      </row>
    </container>
  </div>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';

import Spinner from 'components/Spinner';

import api from 'utils/api';

export default {
  components: {
    Container,
    Row,
    Column,
    Spinner,
  },
  data() {
    return {
      confirmed: false,
      error: '',
      isLoading: true,
      route: '/',
    };
  },
  beforeMount() {
    this.confirmEmail();
  },
  methods: {
    async confirmEmail() {
      const { token } = this.$route.params;

      try {
        await api.auth.confirmEmail(token);

        this.confirmed = true;
        this.route = '/?login=true';
      } catch (err) {
        if (err.response && err.response.data && err.response.data.message) {
          this.error = err.response.data.message;
        } else {
          throw new Error(err);
        }
      }

      this.isLoading = false;
      this.redirectToHomePage();
    },
    redirectToHomePage() {
      setTimeout(() => this.$router.replace(this.route), 5000);
    },
  },
};
</script>

<style lang="scss" scoped>
.main-content {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 100px);

  @media (min-width: 768px) {
    padding-top: 3em;
    padding-bottom: 2rem;
  }
}
</style>
