<template>
  <div class="main-content">
    <FAQ/>
  </div>
</template>

<script>
import FAQ from './Support/FAQ';

export default {
  components: {
    FAQ,
  },
};
</script>

<style lang="scss" scoped>
.main-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 100px);

  @media (min-width: 768px) {
    padding-top: 3em;
    padding-bottom: 2rem;
  }
}
</style>
