<template>
  <div>
    <spinner v-if="isLoading"/>
    <container
      fluid
      class="modes"
      gradient="blue">
      <row 
        v-for="mode in modes"
        :key="mode.id"
      > 
        <column lg="1"/>
        <column
          class="mb-4"
          lg="10"
        >
          <card>
            <card-body>
              <display-rectangle
                :title="mode.name"
                sub-title=""
                class="right"
              />
              <img 
                :src="`/static/img/product/${mode.name}-1.png`"
                class="image-one">
              <img 
                :src="`/static/img/product/${mode.name}-2.png`"
                class="image-two">
            </card-body>
            <card-footer
              color="$coincube-dark">
              <features
                :features="mode.features"
              />
            </card-footer>
          </card>
        </column>
      </row>
      <row>
        <column
          class="content"
          lg="3"/>
        <column
          class="content"
          lg="6">
          <btn
            block
            color="primary"
            @click.native="showSignUp"
          >
            Get Started
          </btn>
        </column>
      </row>
    </container>
  </div>
</template>

<script>
import {
  Btn,
  Container,
  Row,
  Column,
  Card,
  CardBody,
  CardFooter,
} from 'mdbvue-pro';
import api from 'utils/api';
import DisplayRectangle from 'components/DisplayRectangle';
import Features from 'components/Features';
import Spinner from 'components/Spinner';

export default {
  components: {
    Btn,
    Container,
    Row,
    Column,
    Card,
    CardBody,
    CardFooter,
    DisplayRectangle,
    Features,
    Spinner,
  },
  data() {
    return {
      modes: [],
      isLoading: true,
    };
  },
  beforeMount() {
    this.getmodeContent();
  },
  methods: {
    async getmodeContent() {
      const { data } = await api.modes.getAll();
      this.modes = data;

      setTimeout(() => {
        this.isLoading = false;
      }, 500);
    },
    showSignUp() {
      this.$router.push('/signup');
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

p {
  @media (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

row {
  margin-bottom: 40px;
}

.modes {
  padding-top: $spacing-xlarge;
  padding-bottom: $spacing-xlarge;
  background-color: $coincube-dark-blue;
}

.main-content {
  padding: 0px;
}

.header {
  text-align: center;
}

.right {
  float: right;
  right: 2em;
}

img {
  border: solid white 2px;
  margin-top: 3em;
}

.card {
  background-color: $coincube-dark;
  border-radius: 10px;
  padding: 10px;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.card .card-body h3 {
  margin-bottom: $spacing-medium;
}

.card .card-footer {
  width: 90%;
  margin: 4em auto 2em;
  border-radius: 10px;
}

.btn.btn-block {
  margin-top: $spacing-medium;
}

.description {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}

.image-one {
  float: left;
  width: 50%;
  margin-left: 2em;
}
.image-two {
  width: 50%;
  position: absolute;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}
</style>
