<template>
  <container>
    <row v-if="resetPasswordSuccessful">
      <column>
        <h1>Your password has been successfully updated!</h1>
        <h5>You will be redirected to the home page shortly.</h5>
        <h6>Or click
          <router-link :to="route">here</router-link>
          to go there manually.
        </h6>
      </column>
    </row>
    <form
      v-if="!resetPasswordSuccessful"
      @submit.prevent="validateBeforeSubmit"
    >
      <row>

        <column/>

        <column
          class="form"
          col="12"
          sm="8"
          md="6"
          lg="5"
          xl="4">
          <h4 class="reset-password-header my-3">Reset Password</h4>

          <md-input
            v-validate="'required'"
            v-model="password"
            name="password"
            type="password"
            label="Password"
            icon="lock"
          />
          <div
            v-show="errors.has('password')"
            class="error">
            {{ errors.first('password') }}
          </div>

          <md-input
            v-validate="'required'"
            v-model="confirm_password"
            name="confirm_password"
            type="password"
            label="Confirm Password"
            icon="lock"
          />
          <div
            v-show="errors.has('confirm_password')"
            class="error">
            {{ errors.first('confirm_password') }}
          </div>

          <button
            class="btn btn-primary btn-submit btn-block mb-2 mt-4"
            type="submit">RESET PASSWORD
          </button>

        </column>

        <column/>

      </row>

    </form>
  </container>
</template>

<script>
import { Container, Row, Column, MdInput } from 'mdbvue-pro';

import Spinner from 'components/Spinner';

import api from 'utils/api';

export default {
  components: {
    Container,
    Row,
    Column,
    MdInput,
    Spinner,
  },
  data() {
    return {
      confirm_password: '',
      password: '',
      resetPasswordSuccessful: false,
      route: '/',
    };
  },
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.confirmResetPassword();
        }
      });
    },
    async confirmResetPassword() {
      const { token } = this.$route.params;

      this.$toasted.info('Changing password...');
      try {
        await api.auth.confirmResetPassword(token, this.password);

        this.$toasted.success('Password changed!');
        this.resetPasswordSuccessful = true;
        this.route = '/?login=true';
      } catch (error) {
        this.$toasted.error('Failed to change password.');
      }
      this.redirectToHomePage();
    },
    redirectToHomePage() {
      setTimeout(() => this.$router.replace(this.route), 5000);
    },
  },
};
</script>

<style lang="scss" scoped>
.form {
  border-radius: 2px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: #111c21;
  border: solid 1px #0a0d0f;
  padding-bottom: 5px;

  /deep/ .form-control {
    color: #fff;
  }
}

.reset-password-header {
  text-align: center;
}
</style>
