<template>
  <div class="main-content">
    <container class="team">
      <spinner v-if="isLoading"/>
      <row v-if="!isLoading">
        <column
          class="content"
          xs="12"
          sm="6"
          offset-sm="3">
          <h1>Meet the team</h1>
          <h4>
            COINCUBE was founded in 2014 to help cryptocurrency investors
            diversify their portfolios. We've been innovating ever since.
          </h4>
        </column>
      </row>

      <row v-if="!isLoading">
        <column
          v-for="content in teamContent"
          :key="content.name"
          md="6"
          lg="4">
          <img
            :src="`../..${content.image_location}`"
            class="profile-photo">
          <h2>{{ content.name }}</h2>
          <h5>{{ content.title }}</h5>
          <div class="box">
            <p>{{ content.biography }}</p>
          </div>
          <div class="color-divider"/>
          <a
            v-if="content.github_url"
            :href="content.github_url"
            target="_blank">
            <i class="fab fa-github-square"/>
          </a>
          <a
            v-if="content.linkedin_url"
            :href="content.linkedin_url"
            target="_blank">
            <i class="fab fa-linkedin-square"/>
          </a>
          <a
            v-if="content.twitter_url"
            :href="content.twitter_url"
            target="_blank">
            <i class="fab fa-twitter-square"/>
          </a>
        </column>
      </row>
    </container>
  </div>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';

import Spinner from 'components/Spinner';

import api from 'utils/api';

export default {
  components: {
    Container,
    Row,
    Column,
    Spinner,
  },
  data() {
    return {
      teamContent: [],
      isLoading: true,
    };
  },
  beforeMount() {
    this.getTeamContent();
  },
  methods: {
    async getTeamContent() {
      const { data } = await api.team.getContent();
      this.teamContent = data;

      setTimeout(() => {
        this.isLoading = false;
      }, 500);
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.main-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 100px);

  @media (min-width: 768px) {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

.team {
  color: #bbbcbd;

  .content {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  h1 {
    color: #eceff1;
    line-height: 1.33;
    letter-spacing: 0.8px;
  }

  h2 {
    color: #eceff1;
  }

  h4 {
    text-align: center;
    color: #eceff1;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.8px;
  }

  h5 {
    font-size: 18px;
    color: #00becc;
    font-weight: 400;
  }

  img {
    width: 100%;
    margin: 10px 0 10px;
    border-radius: 6px;
    margin-top: 60px;
  }

  p {
    font-size: 14px;
  }

  i {
    margin-right: 10px;
    font-size: 34px;
    color: #00becc;
    margin-bottom: 20px;
  }

  i:hover {
    color: white;
  }

  .box {
    height: 120px;
  }

  @media (min-width: 768px) {
    .box {
      height: 140px;
    }
  }

  .color-divider {
    width: 40px;
    height: 2px;
    background-color: #3154d6;
    margin-top: 26px;
    margin-bottom: 14px;
  }
}
</style>
