<template>
  <container>
    <row
      class="welcome"
    >
      <column md="12">
        <h2 class="title">
          Billing Section
        </h2>
      </column>
    </row>
    <div class="black-divider"/>
    <br>
    <template>
      <row>
        <column md="4">
          <admin-stat
            :value="stats.payment.total"
            title="Total"
            text="Total payments received"
          />
        </column>
        <column md="4">
          <admin-stat
            :value="stats.payment.month"
            title="Month"
            text="Total payments made within last 30 days"
          />
        </column>
      </row>
    </template>
    <template>
      <row>
        <column md="12">
          <line-chart
            :line-data="stats.charts.payments"
            title="Daily Payment Totals"
          />
        </column>
      </row>
      <div class="black-divider"/>
      <br>
    </template>
    <row class="text-center">
      <column lg="12">
        <admin-billing-payment-table
          :rows="payments"
        />
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';
import Models from '@/store/models';
import StoreSync from 'store/StoreSync';
import AdminStat from 'components/AdminStat';
import AdminBillingPaymentTable from 'components/AdminBillingPaymentTable';
import LineChart from 'components/LineChart';

export default {
  components: {
    Container,
    Row,
    Column,
    AdminStat,
    AdminBillingPaymentTable,
    LineChart,
  },
  extends: StoreSync({
    payments: () => Models.ADMIN_PAID_INVOICES(),
    stats: () => Models.ADMIN_BILLING_STATS(),
  }),
};
</script>

<style lang="scss" scoped>
.black-divider {
  width: 100%;
  height: 1px;
  margin-top: 14px;
  background-color: #000000;
}
.welcome {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.center {
  padding-top: 20px;
  margin: auto;
}
</style>>
