<template>
  <div class="table-wrapper">
    <h4>Payments</h4>

    <datatable
      :columns="columns"
      :data="rows"
    />
  </div>
</template>

<script>
import moment from 'moment';

const defaultColumnOpts = {
  align: 'center',
  sortable: true,
};

export default {
  name: 'BillingPaymentTable',
  props: {
    rows: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      columns: [
        {
          label: 'Product Type',
          field: 'product_name',
          ...defaultColumnOpts,
        },
        {
          label: 'Months',
          field: 'months',
          ...defaultColumnOpts,
        },
        {
          label: 'Paid',
          representedAs: row =>
            moment(row.paid_at_timestamp * 1000).format('LLL'),
          field: 'paid_at_timestamp',
          ...defaultColumnOpts,
        },
        {
          label: 'Amount',
          representedAs: row => `$${row.amount}`,
          field: 'amount',
          ...defaultColumnOpts,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.table-wrapper {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}

table.table {
  tbody tr:nth-child(odd) {
    background-color: $coincube-contrast;
    border-top: 2px solid $coincube-contrast;
    border-bottom: 2px solid $coincube-contrast;
  }

  thead th span {
    margin-right: 0.5rem;
  }
}

h4 {
  font-weight: 400;
}
</style>
