<template>
  <container>
    <row class="text-center">
      <column lg="12">
        <make-payment/>

        <billing-payment-table
          :rows="payments"
        />
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';
import Models from '@/store/models';
import StoreSync from 'store/StoreSync';
import MakePayment from '@/pages/Billing/MakePayment';
import BillingPaymentTable from '@/pages/Billing/BillingPaymentTable';

export default {
  components: {
    Container,
    Row,
    Column,
    MakePayment,
    BillingPaymentTable,
  },
  extends: StoreSync({
    user: () => Models.USER(),
    payments: () => Models.ACCOUNT_PAYMENTS(),
  }),
};
</script>

<style>
</style>
