<template>
  <div class="billing">
    <container class="pt-4">
      <row>
        <column
          class="content"
          lg="12">
          <row>
            <column 
              v-for="product in products"
              :key="product.id"
              lg="4">
              <card
                v-if="product.full_name != 'Pro Upgrade'"
                :class="{selected: isSelected(product.full_name)}"
              >
                <card-body class="text-center">
                  <display-square
                    :title="product.full_name"
                    sub-title=""
                  />
                  <h3>
                    <span class="cost">${{ product.prices['1'] }}</span>
                  </h3>
                  <p v-if="product.full_name=='Free'">Keep an eye on your stash
                  </p>
                  <p v-else>As low as ${{ product.prices['12'] }}/month paid yearly</p>
                  <features
                    :features="product.features"
                  />
                  <div
                    v-if="product.full_name === currentAccountType"
                  >
                    <br>
                    <h4>Current Product</h4>
                    <h6 
                      v-if="expirationDate" 
                      class="mb-4 text-center">
                      Expires: {{ expirationDate }}
                    </h6>
                  </div>
                </card-body>
              </card>
            </column>
          </row>
        </column>
      </row>
      <br>
      <br>
      <div class="black-divider"/>
      <row class="justify-content-center mb-1">
        <column sm="4">
          <div>
            <h3 class="mb-4 text-center">Select Account Type</h3>
            <app-select
              v-model="selectedProduct"
              :options="accountTypes"
              placeholder="Select Account Type"
              name="product"
              class="mt-4"
            />
          </div>
        </column>
      </row>
      <row class="justify-content-center">
        <column
          v-if="selectedProduct !='Free'"
          sm="6">
          <row>
            <column/>
            <column sm="8">
              <div class="d-flex align-items-center justify-content-between pt-4">
                <p class="h5-responsive small-md">Apply discount code</p>
                <div>
                  <md-switch
                    v-model="showDiscountInput"
                    class="switch-accent nw-btc-performance-toggle"/>
                </div>
              </div>
              <form
                v-show="showDiscountInput"
                ref="form"
                class="invoice-select"
                @click.prevent>
                <md-input
                  v-model="discountCode"
                  name="discount"
                  type="text"
                  label="Discount Code"
                />
                <p>Discount code applied at checkout.</p>
              </form>
            </column>
            <column/>
          </row>
          <btn-group class="w-100 flex-column">
            <row class="align-items-center w-100 my-2">
              <column col="7">
                <btn
                  color="primary"
                  block
                  @click.native="getInvoice(1)"
                >1 Month</btn>
              </column>
              <column col="5">
                <span class="ml-4 text-uppercase">@ ${{ prices["1"] }}/Month</span>
              </column>
            </row>
            <row class="align-items-center w-100 my-2">
              <column col="7">
                <btn
                  color="primary"
                  block
                  @click.native="getInvoice(6)"
                >6 Months</btn>
              </column>
              <column col="5">
                <span class="ml-4 text-uppercase">@ ${{ prices["6"] }}/Month</span>
              </column>
            </row>
            <row class="align-items-center w-100 my-2">
              <column col="7">
                <btn
                  color="primary"
                  block
                  @click.native="getInvoice(12)"
                >12 Months</btn>
              </column>
              <column col="5">
                <span class="ml-4 text-uppercase">@ ${{ prices["12"] }}/Month</span>
              </column>
            </row>
          </btn-group>
        </column>
      </row>
      <row 
        v-if="featureFlags.upgradePro"
        class="justify-content-center my-4"
      >
        <column
          v-if="user.is_basic"
          sm="6">
          <btn
            color="primary"
            block
            @click.native="getUpgradeInvoice()"
          >UPGRADE TO PRO</btn>
          <br>
          <p>Cost to upgrade to Pro: ${{ proUpgradeCost['amount'] }}</p>
        </column>
      </row>
      <div class="black-divider"/>
    </container>
    <form
      ref="productForm"
      action="https://www.coinpayments.net/index.php"
      method="post">
      <input
        :value="coinpaymentsData.cmd"
        type="hidden"
        name="cmd">
      <input
        :value="coinpaymentsData.reset"
        type="hidden"
        name="reset">
      <input
        :value="coinpaymentsData.merchant"
        type="hidden"
        name="merchant">
      <input
        :value="coinpaymentsData.item_name"
        type="hidden"
        name="item_name">
      <input
        :value="coinpaymentsData.invoice"
        type="hidden"
        name="invoice">
      <input
        :value="coinpaymentsData.currency"
        type="hidden"
        name="currency">
      <input
        :value="coinpaymentsData.amountf"
        type="hidden"
        name="amountf">
      <input
        :value="coinpaymentsData.want_shipping"
        type="hidden"
        name="want_shipping">
      <input
        :value="coinpaymentsData.success_url"
        type="hidden"
        name="success_url">
    </form>
  </div>
</template>

<script>
import {
  Container,
  Row,
  Column,
  Btn,
  BtnGroup,
  Card,
  CardBody,
  MdInput,
  MdSwitch,
} from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import AppSelect from 'components/AppSelect';
import featureFlags from 'utils/featureFlags';
import moment from 'moment';
import DisplaySquare from 'components/DisplaySquare';
import Features from 'components/Features';

import api from 'utils/api';

export default {
  components: {
    Container,
    Row,
    Column,
    AppSelect,
    Btn,
    BtnGroup,
    DisplaySquare,
    Features,
    Card,
    CardBody,
    MdInput,
    MdSwitch,
  },
  extends: StoreSync({
    paymentInfo: () => Models.ACCOUNT_PAYMENT_STATUS(),
    products: () => Models.PRODUCTS(),
    user: () => Models.USER(),
    proUpgradeCost: () => Models.ACCOUNT_PRO_UPGRADE_COST(),
  }),
  data() {
    return {
      activatePayment: false,
      showDiscountInput: false,
      selectedPeriod: '',
      selectedProd: '',
      discountCode: '',
      totalUSD: 0,
      coinpaymentsData: {
        cmd: '_pay_simple',
        reset: 1,
        merchant: '720b8f6160dc37c36b7bc48d908b1576',
        item_name: '',
        invoice: null,
        currency: 'USD',
        amountf: null,
        want_shipping: 0,
        success_url: '',
      },
      featureFlags,
    };
  },
  computed: {
    accountTypes() {
      if (!this.products) return [];

      return this.products.map(product => ({
        label: product.full_name,
        value: product.full_name,
      }));
    },
    currentAccountType() {
      if (this.user.is_pro) return 'Pro';
      if (this.user.is_basic) return 'Basic';
      return 'Free';
    },
    expirationDate() {
      return this.paymentInfo.paid_until
        ? moment(this.paymentInfo.paid_until * 1000).format('LLL')
        : '';
    },
    prices() {
      if (!this.products) return [];

      const prices = this.products.map(product => [
        product.full_name,
        product.prices,
      ]);
      const map = new Map(prices);
      if (this.selectedProduct) {
        return map.get(this.selectedProduct);
      }
      return [];
    },
    selectedProduct: {
      get() {
        console.log(this.selectedProd);
        return this.selectedProd;
      },
      set(value) {
        console.log(value);
        this.handleSelectProduct(value);
      },
    },
  },
  mounted() {
    this.selectedProd = this.paymentInfo ? this.paymentInfo.product_name : '';
  },
  methods: {
    refreshPaymentInfo() {
      setTimeout(() => this.clearCache(Models.paymentInfo()), 500);
    },
    async getInvoice(months) {
      let toast = this.$toasted.info('Generating invoice...');
      this.selectedPeriod = months;
      console.log(this.discountCode);
      try {
        const { data } = await api.account.cpPayment({
          months,
          account_type: this.selectedProduct,
          discount_code: this.discountCode,
        });
        this.coinpaymentsData.invoice = data.invoice_id;
        this.coinpaymentsData.amountf = data.amount;
        this.coinpaymentsData.success_url = document.location.href;
        this.coinpaymentsData.item_name = `${
          this.selectedProduct
        } account: ${months} month package`;
        // http request to CP
        this.$forceUpdate();
        this.$nextTick(this.submitLater);
      } catch (error) {
        console.log(error);
        toast.goAway();
        toast = this.$toasted.error(
          'Failed to generate invoice.  Please contact support.',
        );
      }
    },
    async getUpgradeInvoice() {
      let toast = this.$toasted.info('Generating invoice...');
      try {
        const { data } = await api.account.proUpgradePayment();
        console.log(data);
        this.coinpaymentsData.invoice = data.invoice_id;
        this.coinpaymentsData.amountf = data.amount;
        this.coinpaymentsData.success_url = document.location.href;
        this.coinpaymentsData.item_name = 'Pro Upgrade';
        console.log(this.coinpaymentsData);
        // http request to CP
        this.$forceUpdate();
        this.$nextTick(this.submitLater);
      } catch (error) {
        console.log(error);
        toast.goAway();
        toast = this.$toasted.error(
          'Failed to generate invoice.  Please contact support.',
        );
      }
    },
    handleSelectProduct(value) {
      this.selectedProd = value;
    },
    submitLater() {
      this.$refs.productForm.submit();
    },
    isSelected(fullName) {
      if (fullName === this.currentAccountType) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.billing .card {
  background-color: $coincube-darker;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    height: 100%;
  }

  &.selected {
    border: 3px solid $coincube-accent;
  }
}

.black-divider {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 24px;
  background-color: #000000;
}

.billing /deep/ .app-select {
  background: $coincube-accent;
  padding: 0 1em;
}

.billing /deep/ .app-select:after {
  border-top: 6px solid $coincube-dark;
  right: 1em;
}

.billing /deep/ .app-select select {
  border-bottom: 0;
  color: $coincube-dark;
  text-transform: uppercase;
  font-weight: 600;
}

.coincube-skin .billing /deep/ .btn-primary {
  border: 2px solid transparent;
}

p {
  padding-top: 7px;
}

.cost {
  font-size: 2.25rem;
}

.header {
  text-align: center;
}

.card .card-body h3 {
  margin-bottom: $spacing-medium;
}

.card .card-body h4,
.card .card-body h6 {
  color: $coincube-accent;
}

.btn.btn-block {
  margin-top: $spacing-medium;
}

.description {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}

.alert h4 {
  padding-top: 5px;
}

form /deep/ input,
form /deep/ input:focus {
  color: white;
}

.invoice-select /deep/ input {
  margin-bottom: 2em;
}

.invoice-select /deep/ label {
  color: #fff !important;
}

.switch-accent {
  @media (max-width: 992px) {
    font-size: 0.8em;
    text-align: center;
  }
}

.switch-accent /deep/ label input[type='checkbox']:checked + .lever {
  background-color: $coincube-green !important;
}

.switch-accent /deep/ label input[type='checkbox']:checked + .lever:after {
  background-color: $coincube-accent !important;
}

.small-md {
  @media (max-width: 992px) {
    font-size: 1.3em;
  }
}
</style>
