<template>
  <modal
    v-if="showModal"
    class="modal-container"
    @close="toggleModal"
  >
    <modal-header>
      <modal-title>{{ modalTitle }}</modal-title>
    </modal-header>
    <modal-body>
      <form
        @submit.prevent="validateAndAddAddress"
      >
        <app-select
          v-model="selectedBlockchain"
          :options="blockchains"
          placeholder="Select Blockchain"
          name="blockchain"
          class="mt-4"
          @click="handleSelect"
        />

        <div
          v-show="errors.has('blockchain')"
          class="error mb-4">
          {{ errors.first('blockchain') }}
        </div>

        <app-input
          v-validate="'required|alpha_num'"
          v-model="address"
          name="address"
          class="mt-4"
          type="text"
          placeholder="Address"
          label="Address"
        />

        <div
          v-show="errors.has('address')"
          class="error mb-4">
          {{ errors.first('address') }}
        </div>

        <hr>

        <btn
          color="coincube-accent"
          class="m-auto mt-4"
          type="submit"
        >
          ADD ADDRESS
        </btn>
      </form>
    </modal-body>
  </modal>
</template>

<script>
import {
  Modal,
  ModalHeader,
  ModalTitle,
  ModalBody,
  ModalFooter,
  Btn,
} from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import AppInput from '@/components/AppInput';
import AppSelect from '@/components/AppSelect';
import api from '@/utils/api';

export default {
  name: 'AddExternalAddressModal',
  components: {
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
    ModalFooter,
    Btn,
    AppInput,
    AppSelect,
  },
  extends: StoreSync(),
  props: {
    modalTitle: {
      type: String,
      required: true,
    },
    showModal: {
      type: Boolean,
      required: true,
    },
    toggleModal: {
      type: Function,
      required: true,
    },
    blockchains: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      address: '',
      selectedBlockchain: '',
    };
  },
  methods: {
    handleSelect(e) {
      this.selectedBlockchain = e.target.value;
    },
    async validateAndAddAddress() {
      let toast = this.$toasted.global.info('Adding external address...');

      const body = {
        address: this.address,
        blockchain: this.selectedBlockchain,
        wallet_id: this.$route.params.walletID,
      };

      const isValid = await this.$validator.validateAll();

      if (isValid) {
        try {
          await api.wallet.addAddress(body);
          toast.goAway();
          toast = this.$toasted.global.success('External address added!');
          this.clearCache(Models.WALLET_INFO(this.$route.params.walletID));
          this.clearCache(
            Models.WALLET_TRANSACTIONS(this.$route.params.walletID),
          );
          this.clearCache(Models.WALLET_BALANCES(this.$route.params.walletID));
          this.toggleModal();
          return;
        } catch ({ response }) {
          if (response.status === 400) {
            toast.goAway();
            toast = this.$toasted.global.error('Not a valid address.');
            return;
          }
          toast.goAway();
          toast = this.$toasted.global.error('Could not add external address.');
          return;
        }
      }
      toast.goAway();
      toast = this.$toasted.global.error('Could not add external address.');
    },
  },
};
</script>

<style scoped lang="scss">
@import 'build/variables';

.error {
  color: $coincube-error;
}

.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
    color: #fff;
  }
}
</style>
