<template>
  <container>
    <row class="text-left">
      <column sm="12">
        <h1 class="h1-responsive">{{ formatValue(value, 0) }} <span>{{ title }}</span></h1>
        <h4 class="h4-responsive">{{ text }}</h4>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';
import formatValue from 'utils/formatValue';

export default {
  components: {
    Container,
    Row,
    Column,
  },
  props: {
    value: {
      type: Number,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: false,
      default: '',
    },
  },
  methods: {
    formatValue,
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

h1 {
  font-size: 34px;
  color: #eceff1;
}

span {
  font-size: 16px;
  font-weight: 400;
  color: #2fd6b2;
}

h4 {
  font-size: 14px;
  color: #eceff1;
}
</style>
