<template>
  <div class="table-wrapper">
    <h4>User Payments</h4>

    <datatable
      :columns="columns"
      :data="rows"
    />
  </div>
</template>

<script>
import moment from 'moment';

const defaultColumnOpts = {
  align: 'center',
  sortable: true,
};

export default {
  name: 'BillingPaymentTable',
  props: {
    rows: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      columns: [
        {
          label: 'User ID',
          field: 'user_id',
          ...defaultColumnOpts,
        },
        {
          label: 'Product Type',
          field: 'product_name',
          ...defaultColumnOpts,
        },
        {
          label: 'Months',
          field: 'months',
          ...defaultColumnOpts,
        },
        {
          label: 'Paid',
          representedAs: row =>
            moment(row.paid_at_timestamp * 1000).format('LLL'),
          field: 'paid_at_timestamp',
          ...defaultColumnOpts,
        },
        {
          label: 'Amount',
          representedAs: row => `$${row.amount}`,
          field: 'amount',
          ...defaultColumnOpts,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.table-wrapper {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.table-striped {
  color: white;
}

ul.pagination li {
  padding: 0.5em;
  background-color: $coincube-darker;
  color: #fff;
}

h4 {
  font-weight: 400;
}
</style>
