<template>
  <div>
    <slot
      :open="isOpen"
      :toggle="toggle"
      name="heading"/>
    <transition
      @before-enter="beforeEnter"
      @enter="enter"
      @before-leave="beforeLeave">
      <collapse
        v-if="isOpen"
        class="collapse-item">
        <slot name="body"/>
      </collapse>
    </transition>
  </div>
</template>

<script>
import { Collapse } from 'mdbvue-pro';
import mdbCollapse from '@/mixins/mdb-collapse';

export default {
  components: {
    Collapse,
  },
  mixins: [mdbCollapse],
  data() {
    return {
      isOpen: false,
    };
  },
  computed: {
    scope() {
      return {
        toggle: this.toggle,
        isOpen: this.isOpen,
      };
    },
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>

<style scoped>
.collapse-item {
  overflow: hidden;
  height: 0;
  padding: 0;
  transition: height 0.5s;
}
</style>
