<template>
  <div class="highcharts-pie"/>
</template>

<script>
const Highcharts = require('highcharts/highstock');
require('highcharts/modules/exporting')(Highcharts);

export default {
  name: 'AppBasicBarChart',
  components: {},
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    fiatSymbol: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      target: undefined,
    };
  },
  watch: {
    /*
     * Listen to the data prop change and update the series data
     * This is required when switching between the same view as it is not remounted
     * eg: http:/localhost/account/cube/1 -> http:/localhost/account/cube/2
     */
    data(data) {
      if (this.target) {
        this.target.series[0].update({ data }, true);
      }
    },
  },
  beforeDestroy() {
    if (this.target) {
      this.target.destroy();
    }
  },
  mounted() {
    this.target = Highcharts.chart(this.$el, {
      colors: [
        '#30A6D6',
        '#30d5b2',
        '#3154D7',
        '#D530A8',
        '#6ec0e2',
        '#6e87e3',
        '#6ee1c9',
        '#e16ec2',
        '#acdbee',
        '#ACEEE0',
        '#acbaef',
        '#eeacdc',
      ],
      chart: {
        type: 'bar',
        backgroundColor: '#212c32',
        plotBackgroundColor: '#212c32',
        plotBorderWidth: null,
        plotShadow: false,
      },
      title: {
        text: this.title,
        style: {
          color: '#eceff1',
          fontSize: '22px',
          fontWeight: 300,
        },
      },
      subtitle: {
        text: 'Your current holding by exchange',
      },
      xAxis: {
        // categories: ['Balances'],
        labels: {
          enabled: false,
        },
      },
      yAxis: {
        title: {},
        labels: {
          overflow: 'justify',
        },
      },
      tooltip: {
        valueSuffix: ` ${this.fiatSymbol}`,
        backgroundColor: '#282B35',
        borderColor: '#282B35',
        style: {
          color: '#fff',
        },
        useHTML: true,
        formatter() {
          return `<b>${this.series.name}:</b> ${this.y}`;
        },
      },
      credits: {
        enabled: false,
      },
      plotOptions: {
        series: {
          dataLabels: {
            color: '#fff',
          },
        },
        bar: {
          dataLabels: {
            enabled: true,
          },
        },
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        shadow: true,
        itemStyle: {
          color: '#bbbcbd',
        },
        itemHoverStyle: {
          color: '#fff',
        },
        backgroundColor: '#090D0F',
      },
      series: this.data,
    });
  },
};
</script>

<style lang="scss" scoped>
.highcharts-pie {
  height: 600px;
  margin-bottom: 40px;
  margin-top: 40px;
}
</style>
