<template>
  <div class="has-float-label">
    <input
      :id="id"
      v-bind="$attrs"
      v-on="listeners"
      @input="handleInput">
    <label :for="id">
      {{ label }}
    </label>
  </div>
</template>

<script>
export default {
  name: 'AppInput',
  inheritAttrs: false,
  props: {
    value: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    id: {
      type: String,
      default: '',
    },
  },
  computed: {
    listeners() {
      const { input, ...listeners } = this.$listeners;
      return listeners;
    },
  },
  methods: {
    handleInput(e) {
      this.$emit('input', e.target.value);
    },
  },
};
</script>

<style scoped lang="scss">
@import 'build/variables';
@mixin float-label-container {
  display: block;
  position: relative;
}

@mixin float-label {
  label,
  > span {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    transition: all 0.2s;
    @content;
  }
}

@mixin float-label-input {
  &::placeholder {
    opacity: 1;
    transition: all 0.2s;
  }
  &:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
  }
}

@mixin float-label-scaled {
  &:placeholder-shown:not(:focus) + * {
    font-size: 16px;
    opacity: 0.5;
    @content;
  }
}

.has-float-label {
  @include float-label-container;
  @include float-label;

  input {
    @include float-label-input;
    width: 100%;
    background: transparent;
    font-size: inherit;
    padding-top: 1em;
    margin-bottom: 2px;
    border: 0;
    color: white;
    border-radius: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.85);

    @include float-label-scaled {
      top: 10px;
    }

    &:focus {
      outline: none;
      border-color: $coincube-accent;
    }
  }
}
</style>
