<template>
  <div class="d-flex align-items-center">
    <component
      v-if="item.icon"
      :is="item.icon"
      class="icon"/>
    {{ item.label }}
    <slot/>
  </div>
</template>


<script>
export default {
  name: 'AppSideNavLinkInner',
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
.icon {
  width: 30px;
  height: auto;
  fill: white;
  margin-right: 0.75em;
}
</style>
