<template>
  <div
    :class="{selected: selected}"
    class="select-index-container"
    @click="onClick(chart.index_type, chart.chart)"
  >

    <h6>{{ title }}</h6>

    <pie-chart
      :series="chart.chart"
    />
  </div>
</template>

<script>
import { Row, Column } from 'mdbvue-pro';
import PieChart from '@/components/PieChart';

export default {
  components: {
    Row,
    Column,
    PieChart,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    onClick: {
      type: Function,
      default: () => {},
    },
    selected: {
      type: Boolean,
      default: false,
    },
    chart: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.select-index-container {
  background-color: $coincube-darker;
  border: 3px solid $coincube-darker;
  text-align: center;
  width: 160px;
  height: 160px;
  cursor: pointer;
  margin: 10px;
  padding: 3px;

  &.notAllowed:hover {
    border: 3px solid $coincube-red;
  }

  &:hover,
  &.selected {
    border: 3px solid $coincube-accent;
  }
}
.selected-index-container h6 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
</style>
