<template>
  <li>
    <router-link
      v-if="!isParent"
      :to="item.route || '#'"
      :target="item.external ? '_blank' : '_self'"
      :class="item.class || `nw-sidenav-${item.label}` || ''"
      class="side-nav-link"
      exact
      @click.native.prevent="tryAction(item)">
      <app-side-nav-link-inner :item="item"/>
    </router-link>
    <div v-if="isParent">
      <app-accordion-menu class="accordion">
        <template
          slot="heading"
          slot-scope="{ open, toggle }">
          <a
            :class="`side-nav-link nw-${item.label}-accordion`"
            href="#"
            @click.prevent="toggle">
            <app-side-nav-link-inner :item="item">
              <i
                :class="{'fa-caret-down': !open, 'fa-caret-up': open}"
                class="fa ml-2"/>
            </app-side-nav-link-inner>
          </a>
        </template>
        <div
          slot="body"
          class="sub-menu">
          <ul v-if="hasChildren">
            <li
              v-for="(item, index) in item.children"
              :key="index">
              <app-side-nav-link :item="item"/>
            </li>
          </ul>
          <ul>
            <li v-if="item.cta">
              <a
                :href="item.cta.route"
                :class="`side-nav-link ${item.cta.class || ''}`"
              >
                <app-side-nav-link-inner :item="item.cta"/>
              </a>
            </li>
          </ul>
        </div>
      </app-accordion-menu>
    </div>
  </li>
</template>

<script>
import AppAccordionMenu from '@/components/AppAccordionMenu';
import AppSideNavLinkInner from '@/components/AppSideNavLinkInner';

export default {
  name: 'AppSideNavLink',
  components: {
    AppAccordionMenu,
    AppSideNavLinkInner,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isParent() {
      return !this.item.route && this.item.children;
    },
    hasChildren() {
      return this.item.children.length > 0;
    },
  },
  methods: {
    tryAction(item) {
      if (item.action) item.action();
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';
.side-nav-link {
  color: $light;
  opacity: 0.75;
  height: 48px;
  font-weight: normal;
  line-height: 48px;
  transition: box-shadow 0.2s ease-out, opacity 0.2s ease-out;

  &:hover {
    opacity: 1;
  }

  &:not([href='#']):not(.router-link-active):hover {
    box-shadow: inset -4px 0 0 rgba(255, 255, 255, 0.1);
  }

  &.router-link-active {
    box-shadow: inset -4px 0 0 $coincube-accent;
    opacity: 1;
  }
}

.sub-menu {
  background: rgba(255, 255, 255, 0.05);
}
</style>
