<template>
  <div class="app-select">
    <select
      :value="value"
      v-bind="$attrs"
      v-on="listeners"
      @input="handleInput">
      <option
        :value="0"
        disabled
        selected>
        {{ placeholder }}
      </option>
      <option
        v-for="(option, index) in options"
        :key="index"
        :value="option.value">
        <slot
          :option="option">
          {{ option.label }}
        </slot>
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'AppSelect',
  inheritAttrs: false,
  props: {
    options: {
      type: Array,
      default: () => [],
    },
    value: {
      type: null,
      default: 'Select',
    },
    placeholder: {
      type: String,
      default: () => 'Select Value',
    },
  },
  computed: {
    listeners() {
      const { input, ...listeners } = this.$listeners;
      return listeners;
    },
  },
  methods: {
    handleInput(e) {
      this.$emit('input', e.target.value);
    },
  },
};
</script>


<style scoped>
.app-select {
  position: relative;
  display: block;
}

.app-select select {
  color: white;
  width: 100%;
  margin: 0;
  outline: none;
  padding: 0.5em 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
  display: block !important;
}

.app-select option {
  color: black;
}

.app-select option:disabled {
  color: gray;
}

.app-select::after {
  content: ' ';
  position: absolute;
  top: 50%;
  right: 0;
  color: white;
  z-index: 2;
  pointer-events: none;
  display: none;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  margin-top: -3px;
}

@supports (-webkit-appearance: none) or (appearance: none) or ((-moz-appearance: none) and (mask-type: alpha)) {
  .app-select::after {
    display: block;
  }

  .app-select select {
    /* padding-right: 2em; */
    background: none;
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
</style>
