<template>
  <div class="menu">
    <navbar-item
      v-if="!isParent"
      :href="item.route || '#'"
      :target="item.external ? '_blank' : '_self'"
      :aria-label="item.label"
      :history="!item.external"
      @click.native="item.action"
    >
      <i :class="item.iconFa" />
      {{ item.label }}
    </navbar-item>
    <div v-if="isParent">
      <dropdown
        tag="li"
        class="nav-item"
      >
        <dropdown-toggle
          tag="a"
          nav-link
          color="coincube-darker"
          waves-fixed
          @click.native="toggleDropdown()"
        >
          <i :class="item.iconFa" />
          {{ item.label }}
        </dropdown-toggle>
        <dropdown-menu v-show="toggled">
          <dropdown-item
            v-for="child in item.children"
            :history="true"
            :key="child.label"
            :href="child.route"
            :aria-label="child.label">
            <i
              v-if="child.iconFa"
              :class="child.iconFa" />
            {{ child.label }}
          </dropdown-item>
          <dropdown-item
            v-if="item.cta"
            :history="true"
            :key="item.cta.label"
            :aria-label="item.cta.label"
            :href="item.cta.route"
          >
            <i :class="item.cta.iconFa" />
            {{ item.cta.label }}
          </dropdown-item>
        </dropdown-menu>
      </dropdown>
    </div>
  </div>
</template>

<script>
import {
  NavbarItem,
  Dropdown,
  DropdownToggle,
  DropdownMenu,
  DropdownItem,
} from 'mdbvue-pro';

export default {
  name: 'AppSideNavLink',
  components: {
    NavbarItem,
    Dropdown,
    DropdownToggle,
    DropdownMenu,
    DropdownItem,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      toggled: false,
    };
  },
  computed: {
    isParent() {
      return !this.item.route && this.item.children;
    },
  },
  mounted() {
    document.addEventListener('click', this.onClick);
  },
  destroyed() {
    document.removeEventListener('click', this.onClick);
  },
  methods: {
    toggleDropdown() {
      this.toggled = !this.toggled;
    },
    onClick(event) {
      let parent = event.target;
      const body = document.getElementsByTagName('body')[0];
      while (parent !== body) {
        if (
          parent.classList.contains('dropdown') ||
          parent.classList.contains('btn-group')
        ) {
          return;
        }

        parent = parent.parentNode;
      }
      this.toggled = false;
    },
  },
};
</script>
