<template>
  <modal
    v-if="showModal"
    class="modal-container"
    @close="$emit('close')"
  >
    <modal-header class="text-center">
      <modal-title>Select Asset</modal-title>
    </modal-header>
    <modal-body>
      <row>
        <column
          v-for="(asset, index) in sortedAssets"
          :key="index"
          md="4">
          <div
            class="asset"
            @click="$emit('select', asset)"
          >
            <img :src="`/static/img/icons/${asset}.png`" >
            {{ asset }}
          </div>
        </column>
      </row>
    </modal-body>
  </modal>
</template>

<script>
import {
  Modal,
  ModalHeader,
  ModalTitle,
  ModalBody,
  ModalFooter,
  Btn,
  Row,
  Column,
} from 'mdbvue-pro';

export default {
  components: {
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
    ModalFooter,
    Btn,
    Row,
    Column,
  },
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    assets: {
      type: Array,
      required: true,
    },
  },
  computed: {
    sortedAssets() {
      // Slice to make a copy
      return this.assets.slice(0).sort();
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';
.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
  }
}
.asset {
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 2px 5px;

  &:hover {
    background: $coincube-dark-blue;
    border-radius: 5px;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
}
</style>
