<template>
  <div class="highcharts-pie"/>
</template>

<script>
const Highcharts = require('highcharts/highstock');
require('highcharts/modules/exporting')(Highcharts);

export default {
  name: 'AssetsAllocation',
  components: {},
  props: {
    allocations: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      default: 'Allocations',
    },
  },
  beforeDestroy() {
    if (this.target) {
      this.target.destroy();
    }
  },
  mounted() {
    this.target = Highcharts.chart(this.$el, {
      colors: [
        '#30A6D6',
        '#30d5b2',
        '#3154D7',
        '#D530A8',
        '#6ec0e2',
        '#6e87e3',
        '#6ee1c9',
        '#e16ec2',
        '#acdbee',
        '#ACEEE0',
        '#acbaef',
        '#eeacdc',
      ],
      chart: {
        backgroundColor: '#212c32',
        plotBackgroundColor: '#212c32',
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        events: {},
      },
      title: {
        text: this.title,
        style: {
          color: '#fff',
          fontSize: '18px',
        },
      },
      tooltip: {
        pointFormat: '<b>{point.percentage:.1f}%</b>',
        backgroundColor: '#282B35',
        borderColor: '#282B35',
        style: {
          color: '#fff',
        },
        useHTML: true,
      },
      credits: {
        enabled: false,
      },
      exporting: {
        buttons: {
          contextButton: {
            enabled: false,
          },
        },
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          color: '#fff',
          dataLabels: {
            enabled: false,
          },
          showInLegend: true,
          point: {
            events: {},
          },
        },
      },
      legend: {
        layout: 'horizontal',
        itemStyle: {
          color: '#bbbcbd',
        },
        itemHoverStyle: {
          color: '#fff',
        },
      },
      series: [
        {
          name: 'Allocation',
          innerSize: '65%',
          colorByPoint: true,
          data: this.allocations,
        },
      ],
    });
  },
};
</script>
