<template>
  <modal
    v-if="showModal"
    class="modal-container"
    @close="$emit('close')"
  >
    <form
      ref="form"
      @submit.prevent="handleSubmit">
      <modal-header class="text-center">
        <modal-title>Create Cost Average Order</modal-title>
      </modal-header>
      <modal-body>
        <row>
          <column>
            <p class="h6-responsive">Place order to</p>
          </column>
          <column>
            <app-select
              v-validate="'required'"
              v-model="selectedSide"
              :options="sidesList"
              placeholder="Select Side"
              name="side"
              class="mt-4"
            />
          </column>
          <column>
            <app-select
              v-validate="'required'"
              v-model="handleBaseChange"
              :options="sortedBases"
              placeholder="Select Asset"
              name="base"
              class="mt-4"
            />
          </column>
        </row>
        <row
          v-if="base"
        >
          <column>
            <p 
              v-if="side==='buy'"
              class="h6-responsive"
            >
              with
            </p>
            <p
              v-else
              class="h6-responsive"
            >
              for 
            </p>
          </column>
          <column>
            <input
              v-validate="'required'"
              v-model="selectedQuoteValue"
              :min="0.001"
              :max="10000"
              :step="0.001"
              name="value"
              type="number"
              class="faux-md-input"
            >
          </column>
          <column>
            <p class="h6-responsive">worth of</p>
          </column>
          <column>
            <app-select
              v-validate="'required'"
              v-model="selectedQuote"
              :options="sortedQuotes"
              placeholder="Select Asset"
              name="quote"
              class="mt-4"
            />
          </column>
        </row>
        <row
          v-if="quote"
        >
          <column>
            <p class="h6-responsive">every</p>
          </column>
          <column>
            <app-select
              v-validate="'required'"
              v-model="selectedFrequency"
              :options="frequencyList"
              placeholder="Select Frequency"
              name="frequency"
              class="mt-4"
            />
          </column>
        </row>
      </modal-body>
      <modal-footer>
        <row>
          <column>
            <btn
              :disabled="!valid"
              color="primary"
              class="btn-submit"
              type="submit">Submit
            </btn>
          </column>
        </row>
      </modal-footer>
    </form>
  </modal>
</template>

<script>
import {
  Modal,
  ModalHeader,
  ModalTitle,
  ModalBody,
  ModalFooter,
  Btn,
  Row,
  Column,
  MdInput,
} from 'mdbvue-pro';

import AppSelect from '@/components/AppSelect';
import api from '@/utils/api';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';

export default {
  components: {
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
    ModalFooter,
    Btn,
    Row,
    Column,
    MdInput,
    AppSelect,
  },
  extends: StoreSync({}),
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    bases: {
      type: Array,
      required: true,
    },
    baseWithQuotes: {
      type: Object,
      required: true,
    },
    limits: {
      type: Object,
      required: true,
    },
    cubeId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      sides: [['buy', 'Buy'], ['sell', 'Sell']],
      frequencies: [
        [3600, 'Hour'],
        [86400, 'Day'],
        [604800, 'Week'],
        [2412900, 'Month'],
      ],
      side: '',
      quotes: [],
      base: '',
      quote: '',
      frequency: '',
      quoteValue: 0,
    };
  },
  computed: {
    isComplete() {
      return (
        this.side.length > 0 &&
        this.base.length > 0 &&
        this.quote.length > 0 &&
        this.quoteValue > 0 &&
        this.frequency.length > 0
      );
    },
    valid() {
      return !this.errors.any() && this.isComplete;
    },
    sidesList() {
      return this.sides.map(side => ({
        label: side[1],
        value: side[0],
      }));
    },
    selectedSide: {
      get() {
        return this.side;
      },
      set(value) {
        this.side = value;
      },
    },
    sortedBases() {
      // Slice to make a copy
      return this.bases
        .slice(0)
        .sort()
        .map(asset => ({
          label: asset,
          value: asset,
        }));
    },
    handleBaseChange: {
      get() {
        return this.base;
      },
      set(base) {
        this.base = base;
        this.quotes = this.quotesFromBase(base);
      },
    },
    sortedQuotes() {
      // Slice to make a copy
      return this.quotes
        .slice(0)
        .sort()
        .map(asset => ({
          label: asset,
          value: asset,
        }));
    },
    selectedQuote: {
      get() {
        return this.quote;
      },
      set(value) {
        this.quote = value;
      },
    },
    selectedQuoteValue: {
      get() {
        return this.quoteValue;
      },
      set(value) {
        this.quoteValue = value;
      },
    },
    frequencyList() {
      return this.frequencies.map(frequency => ({
        label: frequency[1],
        value: frequency[0],
      }));
    },
    selectedFrequency: {
      get() {
        return this.frequency;
      },
      set(value) {
        this.frequency = value;
      },
    },
  },
  methods: {
    quotesFromBase(base) {
      return this.baseWithQuotes[base];
    },
    clearForm() {
      this.side = '';
      this.base = '';
      this.quote = '';
      this.quoteValue = 0;
      this.frequency = '';
      this.$validator.reset();
      this.$refs.form.reset();
    },
    async handleSubmit() {
      const isValid = await this.$validator.validateAll();
      if (!isValid) return;
      let toast = this.$toasted.info('Adding Cost Average Order...');

      // Check to ensure order value is above minimum
      const value = parseFloat(this.quoteValue);
      const market = `${this.base}/${this.quote}`;
      const minValue = this.limits[market].min_value;
      if (minValue > value) {
        toast.goAway();
        toast = this.$toasted.error(`Order value must be at least ${minValue}`);
        this.clearForm();
        return;
      }

      const data = {
        cube_id: this.cubeId,
        base_symbol: this.base,
        quote_symbol: this.quote,
        side: this.side,
        frequency: parseInt(this.frequency, 10),
        value,
      };
      try {
        await api.cube.addCostAverage(data);
        this.clearCacheWithSpinner(
          Models.CUBE_COST_AVERAGE_ORDERS(this.cubeId),
        );
        toast.goAway();
        toast = this.$toasted.success('Cost Average Order added.');
      } catch (error) {
        toast.goAway();
        toast = this.$toasted.error('Failed to add Cost Average Order.');
      } finally {
        this.clearForm();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';
.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
  }
}
p {
  padding-top: 35px;
}
.faux-md-input {
  padding-top: 39px;
  border-bottom: 1px solid white;
}
</style>
