<template>
  <container
    class="table-wrapper">
    <row>
      <column lg="5"/>
      <column lg="2">
        <h4 class="mt-2">Cost Average</h4>
      </column>
      <column lg="5">
        <template>
          <span
            class="right"
          >
            <btn
              size="sm"
              color="blue-grey"
              @click.native="showModal = true"
            >
              Add Order <i class="fa fa-plus ml-1" />
            </btn>
          </span>
        </template>
      </column>
    </row>
    <row>
      <datatable
        :columns="columns"
        :data="rows"
      />
    </row>
    <cost-average-order-modal
      :show-modal="showModal"
      :bases="unselectedBases"
      :base-with-quotes="baseWithQuotes"
      :limits="limits"
      :cube-id="cube.id"
      @close="showModal = false"
    />
  </container>
</template>

<script>
import { Container, Row, Column, MdSwitch, Btn } from 'mdbvue-pro';

import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import api from '@/utils/api';
import ColumnRemoveAsset from '@/components/columns/ColumnRemoveAsset';
import Spinner from 'components/Spinner';
import CostAverageOrderModal from 'components/CostAverageOrderModal';
import AssetColumnCostAverage from './columns/AssetColumnCostAverage';
import ConditionalFormatPercentColumn from './columns/ConditionalFormatPercentColumn';
import PercentColumn from './columns/PercentColumn';
import Precision2Column from './columns/Precision2Column';
import Precision8Column from './columns/Precision8Column';
import MapFrequencyColumn from './columns/MapFrequencyColumn';
import CapitalizeColumn from './columns/CapitalizeColumn';

export default {
  name: 'CostAverageTable',
  components: {
    Container,
    Row,
    Column,
    MdSwitch,
    Btn,
    Spinner,
    AssetColumnCostAverage,
    ConditionalFormatPercentColumn,
    PercentColumn,
    Precision2Column,
    Precision8Column,
    CostAverageOrderModal,
    ColumnRemoveAsset,
    MapFrequencyColumn,
    CapitalizeColumn,
  },
  extends: StoreSync({
    exPairs: route => Models.CUBE_EX_PAIRS(route.params.cubeID),
    cube: route => Models.CUBE_INFO(route.params.cubeID),
  }),
  props: {
    rows: {
      type: Array,
      required: true,
    },
    possibleAllocations: {
      type: Array,
      required: false,
      default: () => undefined,
    },
  },
  data() {
    return {
      showModal: false,
      pairs: {},
    };
  },
  computed: {
    unselectedBases() {
      return (
        this.bases &&
        this.bases.filter(
          a => !this.rows.map(r => r.base_currency.symbol).includes(a),
        )
      );
    },
    baseWithQuotes() {
      const pairs = {};
      Object.keys(this.exPairs).forEach(index => {
        const baseSymbol = this.exPairs[index].base_symbol;
        const quoteSymbol = this.exPairs[index].quote_symbol;
        if (Object.prototype.hasOwnProperty.call(pairs, baseSymbol)) {
          pairs[baseSymbol].push(quoteSymbol);
        } else {
          pairs[baseSymbol] = [];
          pairs[baseSymbol].push(quoteSymbol);
        }
      });
      return pairs;
    },
    bases() {
      const bases = [];
      Object.keys(this.exPairs).forEach(index => {
        const baseSymbol = this.exPairs[index].base_symbol;
        if (!bases.includes(baseSymbol)) {
          bases.push(baseSymbol);
        }
      });
      return bases;
    },
    limits() {
      const pairs = {};
      Object.keys(this.exPairs).forEach(index => {
        const baseSymbol = this.exPairs[index].base_symbol;
        const quoteSymbol = this.exPairs[index].quote_symbol;
        const market = `${baseSymbol}/${quoteSymbol}`;
        if (this.exPairs[index].ex_pair_limits[0]) {
          pairs[market] = this.exPairs[index].ex_pair_limits[0];
        } else {
          const json = {};
          json.min_amount = 0;
          json.min_value = 0;
          pairs[market] = json;
        }
      });
      return pairs;
    },
    columns() {
      const columns = [
        {
          label: 'Side',
          component: CapitalizeColumn,
          representedAs: row => row.side,
          align: 'right',
          sortable: true,
        },
        {
          label: 'Value',
          component: Precision8Column,
          representedAs: row => row.value,
          align: 'right',
          sortable: true,
        },
        {
          label: 'Quote',
          component: AssetColumnCostAverage,
          representedAs: row => row.quote_currency.symbol,
          align: 'right',
          sortable: true,
        },
        {
          label: 'Base',
          component: AssetColumnCostAverage,
          representedAs: row => row.base_currency.symbol,
          align: 'right',
          sortable: true,
        },
        {
          label: 'Frequency',
          component: MapFrequencyColumn,
          representedAs: row => row.frequency,
          align: 'right',
          sortable: true,
        },
        {
          label: 'Remove',
          component: ColumnRemoveAsset,
          representedAs: row => ({
            deleteAsset: () => {
              this.removeOrder(row);
            },
          }),
          align: 'center',
          sortable: false,
        },
      ];

      return columns;
    },
  },
  methods: {
    async removeOrder(order) {
      console.log(order);
      let toast = this.$toasted.info('Removing Cost Average Order...');
      const body = {
        cube_id: this.cube.id,
        data: {
          cube_id: this.cube.id,
          cost_average_id: order.id,
        },
      };
      console.log(body);
      try {
        await api.cube.deleteCostAverage(body);
        this.clearCacheWithSpinner(
          Models.CUBE_COST_AVERAGE_ORDERS(this.cube.id),
        );
        toast.goAway();
        toast = this.$toasted.success('Cost Average Order removed.');
      } catch (error) {
        toast.goAway();
        toast = this.$toasted.error('Failed to remove Cost Average Order.');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.table-wrapper {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
  overflow-x: auto;
}

table.table {
  tbody tr:nth-child(odd) {
    background-color: $coincube-contrast;
    border-top: 2px solid $coincube-contrast;
    border-bottom: 2px solid $coincube-contrast;
  }

  thead th span {
    margin-right: 0.5rem;
  }
}

.table-wrapper /deep/ thead th span {
  @media (max-width: 992px) {
    font-size: 0.8em;
  }
}

h4 {
  font-weight: 300;
}
.right {
  float: right;
}
</style>
