<template>
  <div
    class="display-container"
  >
    <h2 v-if="title">{{ title }} Mode</h2>
    <component
      :is="icon"
      class="icon"
    />
    <h5 v-if="subTitle">{{ subTitle }}</h5>
  </div>
</template>

<script>
import RadarIcon from '@/assets/icons/icons8-radar.svg';
import GearIcon from '@/assets/icons/icons8-gear.svg';
import SphinxIcon from '@/assets/icons/sphinx.svg';
import CentaurIcon from '@/assets/icons/centaur.svg';

const cubesIconMap = {
  Tracker: RadarIcon,
  Centaur: CentaurIcon,
  Sphinx: SphinxIcon,
  Index: GearIcon,
};

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    subTitle: {
      type: String,
      default: null,
    },
  },
  computed: {
    icon() {
      return cubesIconMap[this.title];
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.display-container {
  width: 280px;
  height: 100px;
  margin: auto;
}

h2 {
  float: left;
  padding-top: 10px;
  font-weight: 600;
  color: $coincube-accent;
}

.icon {
  height: auto;
  width: 60px;
  float: right;
  fill: white;
}
</style>
