<template>
  <div
    class="display-square-container"
  >
    <h4 v-if="title">{{ title }}</h4>
    <component
      :is="icon"
      class="icon"
    />
    <h5 v-if="subTitle">{{ subTitle }}</h5>
  </div>
</template>

<script>
import FreeIcon from '@/assets/icons/free.svg';
import BasicIcon from '@/assets/icons/basic.svg';
import ProIcon from '@/assets/icons/pro.svg';

const cubesIconMap = {
  Free: FreeIcon,
  Basic: BasicIcon,
  Pro: ProIcon,
};

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    subTitle: {
      type: String,
      default: null,
    },
  },
  computed: {
    icon() {
      return cubesIconMap[this.title];
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.display-square-container {
  background-color: $coincube-darker;
  border: 3px solid $coincube-darker;
  text-align: center;
  width: 224px;
  height: 224px;
  margin: auto;
}

h4 {
  padding-top: 0.6em;
  size: 26px;
  font-weight: 400;
}

.icon {
  margin-top: 0.7em;
  height: auto;
  width: 140px;
  fill: white;
}
</style>
