<template>
  <div class="highcharts-pie"/>
</template>

<script>
import $ from 'jquery';

const Highcharts = require('highcharts/highstock');
require('highcharts/modules/exporting')(Highcharts);

export default {
  name: 'DonutPieChart',
  components: {},
  props: {
    data: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      default: 'Allocations',
    },
    titlePosition: {
      type: String,
      default: 'top',
    },
    legendContainer: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      target: undefined,
    };
  },
  watch: {
    /*
     * Listen to the data prop change and update the series data
     * This is required when switching between the same view as it is not remounted
     * eg: http:/localhost/account/cube/1 -> http:/localhost/account/cube/2
     */
    data(data) {
      if (this.target) {
        this.target.series[0].update({ data }, true);
      }
    },
    // Todo: rerender other props: title, titlePosition, legendContainer
  },
  beforeDestroy() {
    if (this.target) {
      this.target.destroy();
    }
  },
  mounted() {
    const $this = this;
    const $component = $(this.$el);

    // If we define a `legendContainer` we use custom events
    // otherwise we use a default empty object.
    const chartEvents = Object.assign(
      {},
      this.legendContainer.length
        ? {
            load() {
              setTimeout(() => {
                const $legend = $component.find('.highcharts-legend');
                const $target = $(`#${$this.legendContainer}`);
                $target.html($legend);
                $legend.removeAttr('transform');
              }, 1000);
            },
            redraw() {
              setTimeout(() => {
                const $legend = $component.find('.highcharts-legend');
                $legend.removeAttr('transform');
              }, 1000);
            },
          }
        : {},
    );

    this.target = Highcharts.chart(this.$el, {
      colors: [
        '#30A6D6',
        '#30d5b2',
        '#3154D7',
        '#D530A8',
        '#6ec0e2',
        '#6e87e3',
        '#6ee1c9',
        '#e16ec2',
        '#acdbee',
        '#ACEEE0',
        '#acbaef',
        '#eeacdc',
      ],
      chart: {
        backgroundColor: null,
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        events: chartEvents,
      },
      title: {
        text: this.title,
        style: {
          color: '#eceff1',
          fontSize: '22px',
          fontWeight: 300,
        },
      },
      tooltip: {
        pointFormat: '<b>{point.percentage:.2f}%</b>',
        backgroundColor: '#282B35',
        borderColor: '#282B35',
        style: {
          color: '#fff',
        },
        useHTML: true,
      },
      credits: {
        enabled: false,
      },
      exporting: {
        buttons: {
          contextButton: {
            enabled: false,
          },
        },
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          color: '#fff',
          size: 300,
          dataLabels: {
            enabled: false,
          },
          showInLegend: true,
          point: {
            events: {
              mouseOver() {
                $component
                  .find('.highcharts-title tspan')
                  .html(`${this.name} ${this.y}`);
              },
              mouseOut() {
                $component.find('.highcharts-title tspan').html($this.title);
              },
            },
          },
        },
      },
      legend: {
        layout: 'horizontal',
        itemStyle: {
          color: '#bbbcbd',
        },
        itemHoverStyle: {
          color: '#fff',
        },
      },
      series: [
        {
          name: 'Allocation',
          innerSize: '35%',
          colorByPoint: true,
          data: this.data,
        },
      ],
    });
  },
};
</script>

<style lang="scss">
.highcharts-pie {
  margin-top: 40px;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    height: 600px;
  }
}

.highcharts-container {
  @media (min-width: 768px) {
    height: unset !important;
  }
}

svg.highcharts-root {
  height: inherit;
}
</style>
