<template>
  <row>
    <column lg="12">
      <error-cube/>
    </column>
    <column
      class="buttons">
      <h1>{{ title }}</h1>
      <h5><slot/></h5>
      <router-link
        to="/"
      >
        <btn
          color="primary"
          size="lg"
        >Back to Coincube
        </btn>
      </router-link>
    </column>
  </row>
</template>

<script>
import { Row, Column, Btn } from 'mdbvue-pro';
import ErrorCube from './ErrorCube';

export default {
  components: {
    Row,
    Column,
    Btn,
    ErrorCube,
  },
  props: {
    title: {
      type: String,
      required: true,
      default: 'Page Not Found',
    },
  },
};
</script>

<style lang="scss" scoped>
.buttons {
  text-align: center;
  button {
    padding: 0.8em 2em;
    margin: 0.37rem 0;
    width: 750px;
    display: inline-block;

    @media (min-width: 768px) {
      margin: 0.37rem;
    }
  }
}
h5 {
  margin: 20px;
}
</style>
