<template>
  <row class="wrapper wrapper-content">
    <column>
      <div class="cube_placement">
        <div class="wrap">
          <div class="cube">
            <div class="logo-front"/>
            <div class="logo-back"/>
            <div class="logo-top"/>
            <div class="logo-bottom"/>
            <div class="logo-left"/>
            <div class="logo-right"/>
          </div>
        </div>
        <br>
      </div>
    </column>
  </row>
</template>

<script>
import { Row, Column } from 'mdbvue-pro';

export default {
  components: {
    Row,
    Column,
  },
};
</script>


<style lang="scss">
.cube_placement {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
}
.cube {
  position: relative;
  width: 200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  padding-bottom: 220px;
  padding-top: 20px;
  margin: 0 auto;
}
.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
  outline: #bbbcbd solid 2px;
}
.logo-back {
  -webkit-transform: translateZ(-100px) rotateY(180deg);
  -moz-transform: translateZ(-100px) rotateY(180deg);
  -o-transform: translateZ(-100px) rotateY(180deg);
  transform: translateZ(-100px) rotateY(180deg);
}
.logo-right {
  -webkit-transform: rotateY(-270deg) translateX(100px);
  -moz-transform: rotateY(-270deg) translateX(100px);
  -o-transform: rotateY(-270deg) translateX(100px);
  transform: rotateY(-270deg) translateX(100px);
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}
.logo-left {
  -webkit-transform: rotateY(270deg) translateX(-100px);
  -moz-transform: rotateY(270deg) translateX(-100px);
  -o-transform: rotateY(270deg) translateX(-100px);
  transform: rotateY(270deg) translateX(-100px);
  -webkit-transform-origin: center left;
  -moz-transform-origin: center left;
  -o-transform-origin: center left;
  transform-origin: center left;
}
.logo-top {
  -webkit-transform: rotateX(-90deg) translateY(-100px);
  -moz-transform: rotateX(-90deg) translateY(-100px);
  -o-transform: rotateX(-90deg) translateY(-100px);
  transform: rotateX(-90deg) translateY(-100px);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
}
.logo-bottom {
  -webkit-transform: rotateX(90deg) translateY(100px);
  -moz-transform: rotateX(90deg) translateY(100px);
  -o-transform: rotateX(90deg) translateY(100px);
  transform: rotateX(90deg) translateY(100px);
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  transform-origin: bottom center;
}
.logo-front {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  transform: translateZ(100px);
}
@keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
  from {
    -moz-transform: rotateY(0);
  }
  to {
    -moz-transform: rotateY(360deg);
  }
  from {
    -o-transform: rotateY(0);
  }
  to {
    -o-transform: rotateY(360deg);
  }
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
.cube {
  -webkit-animation: spin 20s infinite linear;
  -moz-animation: spin 20s infinite linear;
  -o-animation: spin 20s infinite linear;
  animation: spin 20s infinite linear;
}
.wrapper {
  padding: 0;
}
.wrap {
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 150px;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 150px;
  -o-perspective: 800px;
  -perspective-origin: 50% 150px;
  perspective: 800px;
  perspective-origin: 50% 150px;
  text-align: center;
}
.wrap {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.wrapper-content {
  text-align: center;
}
</style>
