<template>
  <modal
    v-if="showModal"
    class="modal-container nw-modal"
    @close="$emit('close')"
  >
    <modal-header class="text-center">
      <modal-title>COINCUBE | Crypto Index Investing</modal-title>
    </modal-header>
    <modal-body>
      <youtube
        :video-id="videoId"
        class="connection-video"
      />
    </modal-body>
  </modal>
</template>

<script>
import { Modal, ModalHeader, ModalTitle, ModalBody } from 'mdbvue-pro';
import { getIdFromURL } from 'vue-youtube-embed';

export default {
  components: {
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
  },
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    videoUrl: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      videoId: '',
    };
  },
  mounted() {
    this.videoId = getIdFromURL(this.videoUrl);
  },
};
</script>

<style lang="scss">
@import 'build/variables';
.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
  }
}

.connection-video {
  iframe {
    height: 207px;
    width: 272px;

    @media (min-width: 576px) {
      height: 355px;
      width: 468px;
    }
  }
}
</style>
