<template>
  <ul>
    <li 
      v-for="feature in features"
      v-if="feature"
      :key="feature.id">

      {{ feature }}
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    features: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style lang="scss" scoped>
li {
  text-align: left;
}
</style>
