<template>
  <modal
    v-if="showModal"
    class="modal-container"
    @close="toggleModal"
  >
    <modal-header class="text-center">
      <modal-title>{{ modalContent.title }}</modal-title>
    </modal-header>
    <modal-body>
      <ol>
        <li
          v-for="(item, index) in modalContent.items"
          :key="index"
          v-html="item.item"
        />
      </ol>
    </modal-body>
  </modal>
</template>

<script>
import {
  Modal,
  ModalHeader,
  ModalTitle,
  ModalBody,
  ModalFooter,
  Btn,
} from 'mdbvue-pro';

export default {
  components: {
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
    ModalFooter,
    Btn,
  },
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    toggleModal: {
      type: Function,
      required: true,
    },
    modalContent: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';
.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
  }
}
</style>
