<template>
  <div class="highcharts"/>
</template>

<script>
const Highcharts = require('highcharts/highstock');
require('highcharts/modules/exporting')(Highcharts);

export default {
  name: 'LineChart',
  props: {
    lineData: {
      type: Array,
      default: () => [],
    },
    title: {
      type: String,
      default: '',
    },
  },
  data() {
    return { target: undefined };
  },
  computed: {
    lineAxis() {
      return {
        name: 'Signups',
        yAxis: 0,
        data: this.lineData,
      };
    },
    series() {
      console.log('lineAxis: ', this.lineAxis);

      if (this.lineAxis.data.length) {
        return [].concat(this.lineAxis);
      }
      return [];
    },
    titleText() {
      return this.title;
    },
    tooltipValueSuffix() {
      return 'Users';
    },
    yAxisLabelFormat() {
      return '';
    },
  },
  watch: {
    /*
     * Listen to the data prop change and update the series data
     * This is required when switching between the same view as it is not remounted
     * eg: http:/localhost/account/cube/1 -> http:/localhost/account/cube/2
     */
    lineData(data) {
      if (this.target) {
        this.target.series = data;
      }
    },
    // Todo: rerender other props: title, titlePosition, legendContainer
  },
  beforeDestroy() {
    if (this.target) {
      this.target.destroy();
    }
  },
  mounted() {
    this.target = Highcharts.stockChart(this.$el, {
      colors: [
        '#30A6D6',
        '#30d5b2',
        '#3154D7',
        '#D530A8',
        '#6ec0e2',
        '#6e87e3',
        '#6ee1c9',
        '#e16ec2',
        '#acdbee',
        '#ACEEE0',
        '#acbaef',
        '#eeacdc',
      ],
      chart: {
        backgroundColor: null,
        type: 'line',
        selectionMarkerFill: '#0a0d0f',
      },
      title: {
        text: this.titleText,
        style: {
          color: '#eceff1',
          fontSize: '20px',
          fontWeight: 300,
        },
      },
      credits: {
        enabled: false,
      },
      navigator: {
        handles: {
          backgroundColor: '#eceff1',
          borderColor: '#0a0d0f',
        },
        maskFill: 'rgba(10, 13, 15, .4)',
        outlineColor: 'rgba(10, 13, 15, .8)',
      },
      plotOptions: {
        series: {
          dataLabels: {
            inside: true,
          },
        },
      },
      rangeSelector: {
        buttonTheme: {
          // styles for the buttons
          fill: 'none',
          stroke: 'none',
          'stroke-width': 0,
          r: 8,
          style: {
            color: '#eceff1',
            fontWeight: 'bold',
          },
          states: {
            hover: {
              fill: 'none',
              style: {
                color: 'white',
              },
            },
            select: {
              fill: 'none',
              style: {
                color: 'white',
              },
            },
          },
        },
        inputBoxBorderColor: 'rgba(255, 255, 255, .6)',
        inputBoxWidth: 120,
        inputBoxHeight: 16,
        inputStyle: {
          color: '#eceff1',
          fontWeight: 'bold',
        },
        labelStyle: {
          color: '#eceff1',
          fontWeight: 'bold',
        },
        selected: 4,
      },
      scrollbar: {
        barBackgroundColor: '#00becc',
        barBorderWidth: 0,
        buttonBackgroundColor: '#111c21',
        buttonBorderColor: '#111c21',
        buttonBorderWidth: 0,
        buttonArrowColor: '#b0bec5',
        rifleColor: '#eceff1',
        trackBackgroundColor: '#b0bec5',
        trackBorderWidth: 0,
        trackBorderColor: 'rgba(255, 255, 255, .8)',
      },
      xAxis: {
        labels: {
          style: {
            color: '#eceff1',
          },
        },
      },
      yAxis: [
        {
          labels: {
            format: this.yAxisLabelFormat,
            style: {
              color: '#30A6D6',
            },
            align: 'left',
            x: 0,
            y: -2,
          },
          opposite: false,
        },
        {
          labels: {
            format: this.yAxisLabelFormat,
            style: {
              color: '#30d5b2',
            },
            align: 'right',
            x: 0,
            y: -2,
          },
          opposite: true,
        },
      ],
      tooltip: {
        pointFormat:
          '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
        valueDecimals: 2,
        valueSuffix: this.tooltipValueSuffix,
        backgroundColor: '#282B35',
        borderColor: '#282B35',
        style: {
          color: '#fff',
        },
        shared: true,
      },
      series: this.series,
    });
  },
};
</script>

<style lang="scss" scoped>
.highcharts {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.highcharts /deep/ input.highcharts-range-selector:focus {
  background-color: #222c32 !important;
}
</style>
