<template>
  <div class="table-wrapper">
    <h4>Open Orders</h4>
    <datatable
      :columns="columns"
      :data="rows"
    />
    <datatable-pager
      v-model="page"
      :per-page="perPage"
      type="long"/>
  </div>
</template>

<script>
import moment from 'moment';
import WhiteColumn from './columns/WhiteColumn';

export default {
  name: 'OpenOrdersTable',
  components: {
    WhiteColumn,
  },
  props: {
    rows: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      columns: [
        {
          label: 'Created At',
          component: WhiteColumn,
          representedAs: row => moment(row.timestamp * 1000).format('LLL'),
          align: 'center',
          sortable: true,
        },
        {
          label: 'Order ID',
          component: WhiteColumn,
          representedAs: row => row.order_id,
          align: 'center',
          sortable: true,
        },
        {
          label: 'Amount',
          component: WhiteColumn,
          representedAs: row => row.amount,
          align: 'center',
          sortable: true,
        },
        {
          label: 'Side',
          component: WhiteColumn,
          representedAs: row =>
            row.side.charAt(0).toUpperCase() + row.side.slice(1),
          align: 'center',
          sortable: true,
        },
        {
          label: 'Price',
          component: WhiteColumn,
          representedAs: row => row.price,
          align: 'center',
          sortable: true,
        },
        {
          label: 'Filled',
          component: WhiteColumn,
          representedAs: row => row.filled,
          align: 'center',
          sortable: true,
        },
        {
          label: 'Base',
          component: WhiteColumn,
          representedAs: row => row.ex_pair.base_symbol,
          align: 'center',
          sortable: true,
        },
        {
          label: 'Quote',
          component: WhiteColumn,
          representedAs: row => row.ex_pair.quote_symbol,
          align: 'center',
          sortable: true,
        },
      ],
      page: 1,
      perPage: 20,
    };
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.table-wrapper {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}

table.table {
  tbody tr:nth-child(odd) {
    background-color: $coincube-contrast;
    border-top: 2px solid $coincube-contrast;
    border-bottom: 2px solid $coincube-contrast;
  }

  thead th span {
    margin-right: 0.5rem;
  }
}

.table-striped {
  color: white;
}

h4 {
  font-weight: 300;
}
</style>
