<template>
  <div class="highcharts-pie"/>
</template>

<script>
const Highcharts = require('highcharts/highstock');
require('highcharts/modules/exporting')(Highcharts);

export default {
  props: {
    series: {
      type: Array,
      required: true,
    },
    innerSize: {
      type: String,
      default: null,
      required: false,
    },
    // backgroundColor: {
    //   type: String,
    //   required: true,
    // },
  },
  data() {
    return { target: undefined };
  },
  beforeDestroy() {
    if (this.target) {
      this.target.destroy();
    }
  },
  mounted() {
    this.target = Highcharts.chart(this.$el, {
      colors: [
        '#30A6D6',
        '#30d5b2',
        '#3154D7',
        '#D530A8',
        '#6ec0e2',
        '#6e87e3',
        '#6ee1c9',
        '#e16ec2',
        '#acdbee',
        '#ACEEE0',
        '#acbaef',
        '#eeacdc',
      ],
      chart: {
        // backgroundColor: '#0a0d0f',
        backgroundColor: this.backgroundColor,
        plotBackgroundColor: this.backgroundColor,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
      },
      title: {
        text: '',
      },
      tooltip: {
        pointFormat: '<b>{point.percentage:.1f}%</b>',
        backgroundColor: '#282B35',
        borderColor: '#282B35',
        style: {
          color: '#fff',
        },
        useHTML: true,
      },
      credits: {
        enabled: false,
      },
      exporting: {
        buttons: {
          contextButton: {
            enabled: false,
          },
        },
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          color: '#fff',
          dataLabels: {
            enabled: false,
          },
          showInLegend: true,
        },
      },
      legend: {
        layout: 'horizontal',
        horizontalAlign: 'middle',
        verticalAlign: 'top',
        borderWidth: 0,
        enabled: false,
        itemStyle: {
          color: '#BBBCBD',
        },
        itemHoverStyle: {
          color: '#fff',
        },
      },
      series: [
        {
          name: 'Allocation',
          innerSize: this.innerSize,
          colorByPoint: true,
          data: this.series,
        },
      ],
    });
  },
};
</script>

<style lang="scss" scoped>
.highcharts-pie {
  width: 120px;
  height: 120px;
  margin: auto;
}

.highcharts-container {
  max-height: 120px;
  background-color: transparent;
}

.highcharts-tooltip span {
  width: 400px !important;
  overflow: auto;
  white-space: normal !important;
}

.highcharts-title {
  font-size: 32px;
}

.highcharts-legend {
  padding: 3px;
}
</style>
