<template>
  <modal
    v-if="showModal"
    class="modal-container"
    @close="toggleModal"
  >
    <modal-header class="text-center">
      <modal-title
        v-if="cube.unrecognized_activity"
      >
        Rogue Trading Detected
      </modal-title>
      <modal-title
        v-else
      >
        Rogue Trading Detection
      </modal-title>
    </modal-header>
    <modal-body>
      <row>
        <column
          v-if="cube.unrecognized_activity"
        >
          <p>Our systems detected possible malicious trading activity in your account. We found open orders on your connected exchange account which were not created by COINCUBE. We strongly suggest the following:</p>
          <ul>
            <li>Never trade within your account while the COINCUBE Trading Engine is enabled (you can disable it if you need to by clicking the 'CUBE SETTINGS' button and toggling the Trading Engine to Off).</li>
            <li>Never share your API key with anyone.</li>
            <li>Create a new API key now and update the key by clicking on the 'UPDATE EXCHANGE API CONNECTION' button and entering the new key in the form.</li>
            <li>If you believe that the Rogue Trading Detection feature was triggered in error, please contact support.</li>
          </ul>
          <btn
            class="nw-cube-settings-delete"
            size="lg"
            color="warning"
            @click.native="resetRogueDetection"
          >
            Reset Rogue Detection
          </btn>
        </column>
        <column
          v-else
        >
          <p>We have not detected any rogue trading activity in your account. You will receive an email alert if we find open orders on your connected exchange account which were not created by COINCUBE. Since prevention is worth a pound of cure, we strongly suggest the following:</p>
          <ul>
            <li>Never trade within your account while the COINCUBE Trading Engine is enabled (you can disable it if you need to by clicking the 'CUBE SETTINGS' button and toggling the Trading Engine to Off).</li>
            <li>Never share your API key with anyone.</li>
            <li>Update your API key periodically by clicking the 'UPDATE EXCHANGE API CONNECTION' button and entering the new key in the form.</li>
          </ul>
        </column>
      </row>
    </modal-body>
  </modal>
</template>

<script>
import {
  Modal,
  ModalHeader,
  ModalTitle,
  ModalBody,
  Btn,
  Row,
  Column,
} from 'mdbvue-pro';

import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import api from '@/utils/api';

export default {
  components: {
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
    Btn,
    Row,
    Column,
  },
  extends: StoreSync({
    cube: route => Models.CUBE_INFO(route.params.cubeID),
  }),
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    toggleModal: {
      type: Function,
      required: true,
    },
  },
  methods: {
    saveChange({ name, value }) {
      return api.cube.saveSetting({
        name: name.toString(),
        value: value.toString(),
        cube_id: this.cube.id,
      });
    },
    async resetRogueDetection() {
      let toast = this.$toasted.info('Resetting rogue activity detection...');
      try {
        await this.saveChange({
          name: 'unrecognized_activity',
          value: 'false',
        });
        this.cube.unrecognized_activity = false;
        toast.goAway();
        toast = this.$toasted.info('Rogue Activity Detection reset.');
      } catch (error) {
        toast.goAway();
        toast = this.$toasted.error('Unable to reset.');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';
.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
  }
}
</style>
