<template>
  <div
    :class="{selected: selected, notAllowed: !allowed}"
    class="select-square-container"
    @click="onClick(title, allowed)"
  >
    <h4 v-if="title">{{ title }}</h4>
    <component :is="icon" class="icon" />
    <h5 v-if="subTitle">{{ subTitle }}</h5>
  </div>
</template>

<script>
import RadarIcon from '@/assets/icons/icons8-radar.svg'
import GearIcon from '@/assets/icons/icons8-gear.svg'
import CentaurIcon from '@/assets/icons/centaur.svg'
import CubeIcon from '@/assets/icons/icons8-cube.svg'

const cubesIconMap = {
  Tracker: RadarIcon,
  Centaur: CentaurIcon,
  Index: GearIcon,
  Cube: CubeIcon
}

export default {
  props: {
    allowed: {
      type: Boolean,
      required: true
    },
    title: {
      type: String,
      default: ''
    },
    subTitle: {
      type: String,
      default: null
    },
    onClick: {
      type: Function,
      default: () => {}
    },
    selected: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    icon() {
      return cubesIconMap[this.title]
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'custom';

.select-square-container {
  background-color: $coincube-darker;
  border: 3px solid $coincube-darker;
  text-align: center;
  width: 224px;
  height: 224px;
  margin: auto;
  cursor: pointer;

  &.notAllowed:hover {
    border: 3px solid $coincube-red;
  }

  &:hover,
  &.selected {
    border: 3px solid $coincube-accent;
  }
}

h4 {
  padding-top: 0.6em;
  font-weight: 400;
}

.icon {
  margin-top: 0.8em;
  height: auto;
  max-width: 100px;
  fill: white;
}
</style>
