<template>
  <container>
    <row class="text-left">
      <column sm="3">
        <h2 class="h1-responsive">{{ formatValue(val_fiat, 2) }} <span>{{ user.fiat.symbol }}</span></h2>
        <h4 class="h4-responsive">TOTAL FIAT VALUE</h4>
      </column>
      <column sm="3">
        <h2 class="h1-responsive">{{ return_fiat.toFixed(2) }}% <span>{{ user.fiat.symbol }}</span></h2>
        <h4 class="h4-responsive">FIAT PERFORMANCE</h4>
      </column>
      <column
        v-if="user.btc_data"
        sm="3">
        <h2 class="h1-responsive">{{ formatValue(val_btc, 6) }} <span>BTC</span></h2>
        <h4 class="h4-responsive">TOTAL BITCOIN VALUE</h4>
      </column>
      <column
        v-if="user.btc_data"
        sm="3">
        <h2 class="h1-responsive">{{ return_btc.toFixed(2) }}% <span>BTC</span></h2>
        <h4 class="h4-responsive">BITCOIN PERFORMANCE</h4>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column } from 'mdbvue-pro';
import formatValue from 'utils/formatValue';

export default {
  components: {
    Container,
    Row,
    Column,
  },
  props: {
    val_fiat: {
      type: Number,
      required: true,
    },
    val_btc: {
      type: Number,
      required: true,
    },
    return_fiat: {
      type: Number,
      required: true,
    },
    return_btc: {
      type: Number,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  methods: {
    formatValue,
  },
};
</script>

<style lang="scss" scoped>
h2 {
  font-size: 34px;
  color: #eceff1;
}

span {
  font-size: 16px;
  font-weight: 400;
  color: #2fd6b2;
}

h4 {
  font-size: 14px;
  color: #eceff1;
}
</style>
