<template>
  <container>
    <row class="text-left">
      <column sm="6">
        <h1 class="h1-responsive">{{ formatValue(val_fiat, 2) }} <span>{{ user.fiat.symbol }}</span></h1>
        <h4 class="h4-responsive">
          TOTAL FIAT VALUE
          <tooltip
            :options="{placement: 'right'}"
            trigger="hover"
          >
            <div class="tooltip">
              Total values are updated once every 10 minutes and may not exactly match your exchange total.
            </div>
            <i
              slot="reference"
              class="fa fa-question-circle info"
            />
          </tooltip>
        </h4>
      </column>
      <column 
        v-if="user.btc_data"
        sm="6">
        <h1 class="h1-responsive">{{ formatValue(val_btc, 6) }} <span>BTC</span></h1>
        <h4 class="h4-responsive">TOTAL BITCOIN VALUE</h4>
      </column>
    </row>
  </container>
</template>

<script>
import { Container, Row, Column, Tooltip } from 'mdbvue-pro';
import formatValue from 'utils/formatValue';

export default {
  components: {
    Container,
    Row,
    Column,
    Tooltip,
  },
  props: {
    val_fiat: {
      type: Number,
      required: true,
    },
    val_btc: {
      type: Number,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  methods: {
    formatValue,
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

h1 {
  font-size: 34px;
  color: #eceff1;
  margin-top: 20px;
}

span {
  font-size: 16px;
  font-weight: 400;
  color: #2fd6b2;
}

h4 {
  font-size: 14px;
  color: #eceff1;
}
</style>
