<template>
  <row>
    <column
      class="select"
    >
      <select-square
        :allowed="true"
        :title="'Cube'"
        :sub-title="'Add new cube'"
        :on-click="cubePage"
        class="select-square-card"
      />
    </column>
    <column
      class="select"
    >
      <select-square
        :allowed="true"
        :title="'Wallet'"
        :sub-title="'Add new wallet'"
        :on-click="walletPage"
        class="select-square-card"
      />
    </column>
  </row>
</template>

<script>
import { Row, Column } from 'mdbvue-pro';
import SelectSquare from './SelectSquare';

export default {
  components: {
    Row,
    Column,
    SelectSquare,
  },
  methods: {
    cubePage() {
      this.$router.push('/account/cube/add/connection');
    },
    walletPage() {
      this.$router.push('/account/addwallet');
    },
  },
};
</script>

<style lang="scss" scoped>
.select {
  padding-top: 1em;
  text-align: center;
  margin-bottom: 0.5em;
}
.select-square-card {
  margin: 1em;
}
</style>
