<template>
  <div>
    <h2>{{ title }}</h2>

    <svg
      :id="legendContainer"
      class="highcharts-legend"/>

    <p>Symbol: <span class="mr-4">{{ code }}</span> Start Date: <span class="mr-4">1/1/2015</span>
      Start Value: <span class="mr-4">$1,000</span></p>

    <h3>Inclusion Criteria</h3>

    <ul>
      <li>Top {{ word }} in market capitalization as per coinmarketcap.com.</li>
      <li>Allocations weighted by market capitalization.</li>
      <li>Index assets and weightings reset monthly.</li>
      <li>Asset must be available on one of our supported exchanges.</li>
    </ul>

    <h3>Rebalance Methodology</h3>

    <p>Threshold-based rebalancing at +/-5%.</p>
  </div>
</template>

<script>
export default {
  props: {
    legendContainer: {
      type: String,
      default: null,
    },
    title: {
      type: String,
      default: '',
    },
    code: {
      type: String,
      required: true,
    },
    word: {
      type: String,
      default: null,
      required: true,
    },
  },
};
</script>
