<template>
  <container>
    <row>
      <column
        class="header"
        sm="10"
        offset-sm="1">
        <h6>Addresses</h6>
      </column>
    </row>
    <row>
      <column
        sm="10"
        class="address-list"
        offset-sm="1">
        <ul class="list">
          <li
            v-for="(item, index) in addresses"
            :key="index"
            class="address-item"
          >
            <img
              :src="`/static/img/icons/${item.address_type}.png`"
              class="address-icon"
            >

            <span class="address-content">{{ item.address }}</span>

            <a
              class="address-close"
              href="#"
              role="button"
              @click="removeAddress(item.address)"
            >
              <i class="fa fa-trash"/>
            </a>
          </li>
        </ul>
      </column>
    </row>
  </container>
</template>

<script>
import { Row, Container, Column } from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import api from '@/utils/api';

export default {
  components: {
    Row,
    Container,
    Column,
  },
  extends: StoreSync(),
  props: {
    addresses: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    async removeAddress(address) {
      let toast = this.$toasted.global.info('Removing external address...');
      // have to pass body with `data`:
      // https://github.com/axios/axios/issues/736
      const body = {
        data: {
          address,
          wallet_id: this.$route.params.walletID,
        },
      };

      const { status } = await api.wallet.deleteAddress(body);

      if (status !== 200) {
        toast.goAway();
        toast = this.$toasted.global.error(
          'Could not remove external address.',
        );
        return;
      }

      toast.goAway();
      toast = this.$toasted.global.success('External address removed.');
      this.clearCache(Models.WALLET_INFO(this.$route.params.walletID));
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.header {
  margin-top: 10px;
  padding: 5px;
  background-color: $coincube-darker;
}

.address-list {
  padding: 0.5em;
  background-color: $coincube-contrast;
}

h6 {
  margin-top: 6px;
  margin-left: 5px;
}

.list {
  list-style: none;
  padding: 2px;
  margin: 0;
}

.address-item {
  display: flex;
  margin-bottom: 0.5em;
  padding: 0.15em;
  width: 100%;
}

.address-content {
  padding-bottom: 2px;
}

.address-icon {
  margin-right: 0.75em;
  margin-top: 1px;
  max-width: 20px;
  max-height: 20px;
}

.address-close {
  margin-left: auto;
  color: $coincube-accent;
}

.fa.fa-trash:before {
  color: $coincube-red;
}
</style>
