<template>
  <a
    :href="href"
    target="_blank"
    class="asset-link">
    <img
      :src="src"
      class="asset-image">
  </a>
</template>

<script>
export default {
  name: 'AssetColumn',
  props: {
    column: {
      type: [Object, Array],
      required: true,
    },
    row: {
      type: [Object, Array],
      required: true,
    },
  },
  computed: {
    href() {
      return `https://coinmarketcap.com/currencies/${this.row.address_type}`;
    },
    src() {
      return `/static/img/icons/${this.row.address_type}.png`;
    },
    text() {
      return this.column.getRepresentation(this.row);
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.asset-image {
  max-width: 20px;
  margin-right: 0.5rem;
}

.asset-link {
  color: $light;
}
</style>
