<template>
  <container fluid>
    <row>
      <column
        class="top"
        sm="12"
      >
        <div>
          <card
            v-if="showBalances">
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/DASHBOARD.png"/>
                <div class="header-text">
                  {{ wallet.name }} | <span>Dashboard</span>
                </div>
              </div>
            </view-wrapper>
            <card-body>
              <template v-if="showBalances">
                <row class="text-left">
                  <column sm="12">
                    <valuations
                      :val_fiat="fiatCurrentBalance"
                      :val_btc="bitcoinCurrentBalance"
                      :user="user"
                    />
                  </column>
                </row>
              </template>
              <div class="black-divider"/>
              <template v-if="showPerformances">
                <row>
                  <column :md="performanceChartColumnSpan">
                    <time-series-chart
                      :btc-data="bitcoinPerformanceBalances"
                      :fiat-data="fiatPerformanceBalances"
                      :show-only-fiat="showFiatOnly"
                      type="balances"
                    />
                  </column>
                  <column :md="performanceChartColumnSpan">
                    <time-series-chart
                      :btc-data="bitcoinPerformancePercents"
                      :fiat-data="fiatPerformancePercents"
                      :show-only-fiat="showFiatOnly"
                      type="percents"
                    />
                  </column>
                </row>
                <div class="black-divider"/>
              </template>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
    <row>
      <column
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/PORTFOLIO.png"/>
                <div class="header-text">
                  {{ wallet.name }} | <span>Portfolio</span>
                </div>
              </div>
            </view-wrapper>
            <card-body>
              <template v-if="showBalances">
                <row class="text-center">
                  <balances-table
                    id="wallet"
                    :are-allocations-editable="false"
                    :rows="balances"
                    :btc-performance-in-fiat="balancesUnmapped.performance_fiat"
                  />
                </row>
              </template>
              <template v-if="showCurrentAllocations">
                <br>
                <row class="text-center">
                  <column
                    v-if="showCurrentAllocations"
                    md="12"
                  >
                    <allocation-donut-pie-chart
                      :data="currentAllocations"
                      title="Allocations"
                    />
                  </column>
                </row>
              </template>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
    <row
      v-if="showTransactions">
      <column
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/TRANSACTION.png"/>
                <div class="header-text">
                  {{ wallet.name }} | <span>Transactions</span>
                </div>
              </div>
            </view-wrapper>
            <card-body>
              <template v-if="showTransactions">
                <row class="text-center">
                  <transactions-table :rows="transactions"/>
                </row>
              </template>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
    <row>
      <column
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/WALLET.png"/>
                <div class="header-text">
                  {{ wallet.name }} | <span>Addresses</span>
                </div>
              </div>
            </view-wrapper>
            <card-body>
              <instruction-header
                :action-modal="toggleAddressModal"
                :instruction-modal="toggleInstructionsModal"
                action-button-text="ADD ADDRESS"
                title="Wallet Addresses"
              />
              <addresses-list
                v-if="showAddresses"
                :addresses="addresses"
              />
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
    <row>
      <column class="buttons">
        <btn
          class="nw-wallet-settings-button"
          size="lg"
          color="primary"
          @click.native="toggleSettingsModal"
        >
          Wallet Settings
        </btn>
      </column>
    </row>

    <instructions-modal
      v-if="instructions"
      :modal-content="instructions"
      :show-modal="showInstructionsModal"
      :toggle-modal="toggleInstructionsModal"
    />
    <add-external-address-modal
      v-if="showBlockchains"
      :blockchains="blockchains"
      :show-modal="showAddressModal"
      :toggle-modal="toggleAddressModal"
      modal-title="Add External Address"
    />
    <wallet-settings-modal
      :show-modal="showWalletSettingsModal"
      :toggle-modal="toggleSettingsModal"
      class="nw-wallet-settings-modal"
    />
  </container>
</template>

<script>
import {
  Container,
  Row,
  Column,
  Btn,
  Card,
  CardBody,
  CardTitle,
  CardText,
  CardImg,
  ViewWrapper,
  MdSwitch,
} from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import api from 'utils/api';
import mapBalancesData from 'utils/mapBalancesData';
import mapBlockchainData from 'utils/mapBlockchainData';
import AllocationDonutPieChart from 'components/AllocationDonutPieChart';
import TimeSeriesChart from 'components/TimeSeriesChart';
import BalancesTable from 'components/BalancesTable';
import TransactionsTable from 'components/TransactionsTable';
import Valuations from 'components/Valuations';
import PerformanceHeader from 'components/PerformanceHeader';
import AddressesList from 'pages/Wallet/AddressesList';
import InstructionHeader from 'components/InstructionHeader';
import AddExternalAddressModal from 'components/AddExternalAddressModal';
import InstructionsModal from 'components/InstructionsModal';
import WalletSettingsModal from './WalletSettingsModal';

export default {
  name: 'WalletIndex',
  components: {
    Container,
    Row,
    Column,
    Btn,
    AllocationDonutPieChart,
    TimeSeriesChart,
    BalancesTable,
    TransactionsTable,
    PerformanceHeader,
    AddressesList,
    InstructionHeader,
    AddExternalAddressModal,
    InstructionsModal,
    Valuations,
    WalletSettingsModal,
    Card,
    CardBody,
    CardTitle,
    CardText,
    CardImg,
    ViewWrapper,
    MdSwitch,
  },
  extends: StoreSync({
    user: () => Models.USER(),
    wallet: route => Models.WALLET_INFO(route.params.walletID),
    balancesUnmapped: route => Models.WALLET_BALANCES(route.params.walletID),
    blockchainsUnmapped: () => Models.WALLET_BLOCKCHAINS(),
    performance: route => Models.WALLET_PERFORMANCE(route.params.walletID),
    transactions: route => Models.WALLET_TRANSACTIONS(route.params.walletID),
  }),
  data() {
    return {
      instructions: null,
      showAddressModal: false,
      showInstructionsModal: false,
      showWalletSettingsModal: false,
    };
  },
  computed: {
    //
    // Chart Column Spans
    //
    performanceChartColumnSpan() {
      return this.user.wide_charts ? '12' : '6';
    },
    //
    // Flags
    //
    showAddresses() {
      return this.addresses && this.addresses.length > 0;
    },
    showBalances() {
      return this.balances && this.balances.length > 0;
    },
    showBlockchains() {
      return this.blockchains.length > 0;
    },
    showCurrentAllocations() {
      return (
        this.currentAllocationPercents &&
        this.currentAllocationPercents.length > 0
      );
    },
    showFiatOnly() {
      return !this.user.btc_data;
    },
    showPerformances() {
      if (
        this.bitcoinPerformanceBalances &&
        this.bitcoinPerformanceBalances.length > 0 &&
        this.bitcoinPerformancePercents &&
        this.bitcoinPerformancePercents.length > 0 &&
        this.fiatPerformanceBalances &&
        this.fiatPerformanceBalances.length > 0 &&
        this.fiatPerformancePercents &&
        this.fiatPerformancePercents.length > 0
      ) {
        return true;
      }
      return false;
    },
    showTransactions() {
      return this.transactions.length > 0;
    },
    //
    // Lists
    //
    addresses() {
      return this.wallet.external_addresses;
    },
    balances() {
      return this.balancesUnmapped.balances &&
        this.balancesUnmapped.balances.values
        ? mapBalancesData(this.balancesUnmapped.balances.values)
        : null;
    },
    bitcoinPerformanceBalances() {
      return this.performance.btc_balances;
    },
    bitcoinPerformancePercents() {
      return this.performance.btc_pct_returns;
    },
    blockchains() {
      return mapBlockchainData(this.blockchainsUnmapped);
    },
    currentAllocations() {
      return this.balancesUnmapped.current_allocations;
    },
    currentAllocationPercents() {
      return this.currentAllocations;
    },
    fiatPerformanceBalances() {
      return this.performance.fiat_balances;
    },
    fiatPerformancePercents() {
      return this.performance.fiat_pct_returns;
    },
    //
    // Single Values
    //
    bitcoinCurrentBalance() {
      return this.balancesUnmapped.total.btc;
    },
    bitcoinCurrentPercent() {
      return this.bitcoinPerformancePercents.slice(-1).pop()[1];
    },
    fiatCurrentBalance() {
      return this.balancesUnmapped.total.fiat;
    },
    fiatCurrentPercent() {
      return this.fiatPerformancePercents.slice(-1).pop()[1];
    },
    fiatSymbol() {
      return this.user.fiat.symbol;
    },
  },
  mounted() {
    this.getInstructions();
  },
  methods: {
    async getInstructions() {
      const { data } = await api.instructions.address();
      this.instructions = data;
    },
    toggleAddressModal() {
      this.showAddressModal = !this.showAddressModal;
    },
    toggleInstructionsModal() {
      this.showInstructionsModal = !this.showInstructionsModal;
    },
    toggleSettingsModal() {
      this.showWalletSettingsModal = !this.showWalletSettingsModal;
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.black-divider {
  width: 100%;
  height: 1px;
  margin-top: 14px;
  background-color: #000000;
}
.buttons {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.card-body {
  background-color: $coincube-dark;
}

.card-body img {
  width: 20px;
}
.header-text {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
}
.header-text span {
  color: $coincube-accent;
}
.icon {
  margin-left: 30px;
  margin-top: 18px;
  max-width: 40px;
  display: table-cell;
  float: left;
}
.view {
  background-color: $coincube-darker;
}
</style>
