<template>
  <container>
    <row>
      <column
        class="content"
        sm="6"
        offset-sm="1">
        <h6>Addresses</h6>
      </column>
    </row>
    <row>
      <column
        sm="6"
        class="address-list"
        offset-sm="1">
        <datatable
          :columns="columns"
          :data="rows"
        />
      </column>
    </row>
  </container>
</template>

<script>
import { Row, Container, Column } from 'mdbvue-pro';

import api from 'utils/api';
import imageColumn from './imageColumn';

export default {
  components: {
    Row,
    Container,
    Column,
    imageColumn,
  },
  data() {
    return {
      rows: [],
      columns: [
        {
          label: 'Blockchain',
          component: imageColumn,
          representedAs: row => row.address_type,
          align: 'left',
          sortable: false,
        },
        {
          label: 'Address',
          representedAs: row => row.address,
          align: 'left',
          sortable: false,
        },
      ],
    };
  },
  mounted() {
    this.getWalletAddress();
  },
  methods: {
    async getWalletAddress() {
      const res = await api.wallet.info(this.$route.params.walletID);
      this.rows = res.data.external_addresses;
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.content {
  margin-top: 10px;
  padding: 5px;
  background-color: $coincube-darker;
}
h6 {
  margin-top: 6px;
  margin-left: 5px;
}
.address-list {
  background-color: $coincube-contrast;
}
</style>
