<template>
  <container class="nw-addwallet">
    <row>
      <column
        sm="4"
        offset-sm="4"
      >
        <form @submit.prevent="validateAndSubmit">
          <h3 class="text-center">Add A Wallet</h3>
          <md-input
            v-validate="'required'"
            v-model="walletName"
            class="wallet-name"
            name="name"
            label="Wallet Name"
            icon="wallet"
          />
          <div
            v-show="errors.has('name')"
            class="error">
            {{ errors.first('name') }}
          </div>
          <template v-if="featureFlags.enableManualWallet">
            <md-switch
              v-model="isManual"
              on-label="Manual"
              off-label="Address"/>
            <p v-if="isManual">information will be entered by you</p>
          </template>
          <p v-else>information will be loaded using address</p>
          <btn
            color="primary"
            class="btn-submit btn-block mb-2 mt-4"
            type="submit">Create Wallet
          </btn>
        </form>
      </column>
    </row>
  </container>
</template>

<script>
import { Row, Container, Column, Btn, MdInput, MdSwitch } from 'mdbvue-pro';

import api from 'utils/api';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import featureFlags from 'utils/featureFlags';

// Hacky way to use font-awesome 5 on mdb-vue
export default {
  name: 'WalletAdd',
  components: {
    Row,
    Container,
    Column,
    Btn,
    MdInput,
    MdSwitch,
  },
  extends: StoreSync(),
  data() {
    return {
      walletName: '',
      isManual: false,
      featureFlags,
    };
  },
  mounted() {
    this.clearCache(Models.USER());

    (() => {
      setTimeout(() => {
        const el = document.getElementsByClassName('wallet-name')[0];

        if (typeof el !== 'undefined') {
          const icon = el.getElementsByTagName('i')[0];
          icon.classList.remove('fa');
          icon.classList.add('fas');
        }
      }, 100);
    })();
  },
  methods: {
    async validateAndSubmit() {
      const isValid = await this.$validator.validateAll();

      if (!isValid) {
        return;
      }

      let toast = this.$toasted.info('Adding wallet...');
      try {
        const { data } = await api.wallet.new({
          name: this.walletName,
          wallet_type: this.isManual ? 'manual' : 'address',
        });
        toast.goAway();
        toast = this.$toasted.success('Wallet added!');

        this.clearCache(Models.USER());

        this.$router.push(`/account/wallet/${data.wallet_id}`);
      } catch (error) {
        if (error.response && error.response.status === 403) {
          toast.goAway();
          toast = this.$toasted.error(
            'You already have a wallet with this name',
          );
        } else {
          toast.goAway();
          toast = this.$toasted.error('Failed to add wallet');
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.error {
  color: $coincube-error;
}

.content {
  margin-top: 10px;
  padding: 5px;
  background-color: $coincube-darker;
}

a.btn,
a.text-white {
  color: #fff !important;
}

form /deep/ .md-form i {
  color: #fff;
}

form /deep/ .md-form .form-control {
  color: #fff;
}

form /deep/ .md-form label {
  color: #fff;
}

form /deep/ .md-form .prefix ~ input,
form /deep/ .md-form .prefix ~ textarea {
  margin-left: 2.5rem;
  margin-bottom: 2em;
}
</style>
