<template>
  <modal
    v-if="showModal"
    full-height
    position="left"
    class="modal-container"
    @close="toggleModal"
  >
    <modal-header>
      <modal-title>Wallet Settings</modal-title>
    </modal-header>
    <modal-body>
      <div class="d-flex align-items-center justify-content-between pt-12">
        <btn
          size="lg"
          color="danger"
          class="nw-delete-wallet"
          @click.native="deleteWallet"
        >
          Delete Wallet
        </btn>
      </div>
    </modal-body>
  </modal>
</template>

<script>
import {
  Btn,
  Modal,
  ModalHeader,
  ModalTitle,
  ModalBody,
  MdSwitch,
  RangeInput,
} from 'mdbvue-pro';

import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import AppSelect from '@/components/AppSelect';
import api from '@/utils/api';

export default {
  name: 'WalletSettingsModal',
  components: {
    Btn,
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
    MdSwitch,
    RangeInput,
    AppSelect,
  },
  extends: StoreSync(),
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    toggleModal: {
      type: Function,
      required: true,
    },
  },
  mounted() {
    this.clearCache(Models.USER());
  },
  methods: {
    saveChange({ name, value }) {
      return api.wallet.saveSetting({
        name: name.toString(),
        value: value.toString(),
        wallet_id: this.$route.params.walletID,
      });
    },
    async deleteWallet() {
      let toast = this.$toasted.info('Deleting Wallet...');
      try {
        await this.saveChange({
          name: 'delete',
          value: '',
        });
        toast.goAway();
        toast = this.$toasted.info('Wallet deleted.');
        this.clearCacheWithSpinner(Models.USER());
        this.$router.push('/account');
      } catch (error) {
        toast.goAway();
        toast = this.$toasted.error('Failed to delete wallet');
      }
    },
  },
};
</script>

<style lang="scss">
@import 'build/variables';
.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
  }
}

p {
  margin-top: 5px;
}

h5 span {
  color: $coincube-green;
}

.nw-delete-wallet {
  width: 100%;
}

.centaur-controls {
  text-align: center;
}

.switch-accent /deep/ label input[type='checkbox']:checked + .lever {
  background-color: $coincube-green !important;
}

.switch-accent /deep/ label input[type='checkbox']:checked + .lever:after {
  background-color: $coincube-accent !important;
}
</style>
