<template>
  <div class="bg-coincube-dark text-light">
    <div class="d-flex flex-column account-container">
      <AdminHeading class="fixed-top"/>
      <AdminSideNav/>
      <main class="main-content">
        <router-view/>
      </main>
      <TheFooter/>
    </div>

  </div>
</template>

<script>
import AdminHeading from 'pages/Layout/AdminHeading';
import TheFooter from 'pages/Layout/TheFooter';
import AdminSideNav from 'pages/Layout/AdminSideNav';

export default {
  name: 'AccountPageLayout',
  components: {
    AdminHeading,
    TheFooter,
    AdminSideNav,
  },
};
</script>

<style lang="scss" scoped>
h1 {
  width: 100%;
}

.main-content {
  padding-top: 9em;
  min-height: calc(100vh - 100px);

  @media (min-width: 375px) {
    padding-top: 7em;
  }

  @media (min-width: 1024px) {
    padding-right: 16em;
    padding-left: 1em;
  }
}
</style>
