<template>
  <div class="bg-coincube-dark text-light">

    <div>
      <TheHeading/>
      <main class="main-content">
        <router-view/>
      </main>
      <TheFooter/>
    </div>

  </div>
</template>

<script>
import TheHeading from '@/pages/Layout/TheHeading';
import TheFooter from '@/pages/Layout/TheFooter';

export default {
  name: 'LandingPageLayout',
  components: {
    TheHeading,
    TheFooter,
  },
};
</script>

<style lang="scss" scoped>
h1 {
  width: 100%;
}
</style>
