<template>
  <container fluid>
    <row
      class="welcome"
    >
      <column md="12">
        <h2 class="title">
          User Details
        </h2>
      </column>
    </row>
    <div class="black-divider"/>
    <br>
    <template>
      <row>
        <column md="4">
          <admin-stat
            :value="user_stats.users.all"
            title="All Users"
            text="Total signups in application database"
          />
        </column>
        <column md="4">
          <admin-stat
            :value="user_stats.users.active"
            title="Active Users"
            text="Users active within the last 30 days"
          />
        </column>
        <column md="4">
          <admin-stat
            :value="user_stats.users.second_factor"
            title="2FA Users"
            text="Users with second-factor authentication"
          />
        </column>
      </row>
    </template>
    <template>
      <row>
        <column md="4">
          <admin-stat
            :value="user_stats.users.free"
            title="Free Account Users"
            text="Total free users active in last 30 days"
          />
        </column>
        <column md="4">
          <admin-stat
            :value="user_stats.users.basic"
            title="Basic Account Users"
            text="Total basic users active in last 30 days"
          />
        </column>
        <column md="4">
          <admin-stat
            :value="user_stats.users.pro"
            title="Pro Account Users"
            text="Total pro users active in last 30 days"
          />
        </column>
      </row>
    </template>
    <template>
      <row>
        <column md="12">
          <line-chart
            :line-data="user_stats.charts.acquisitions"
            title="Daily User Acquisition"
          />
        </column>
      </row>
      <div class="black-divider"/>
      <br>
    </template>
    <template>
      <row>
        <column md="4"/>
        <column md="4">
          <h5 class="h5-responsive">Login as User</h5>
          <app-select
            v-model="selectLoginAsUser"
            :options="usersList"
            placeholder="Select User"
            name="users"
            class="mt-4"
          />
        </column>
      </row>
      <row>
        <column md="4"/>
        <column md="4">
          <div class="pt-4">
            <form
              ref="form"
              @submit.prevent="handleSubmit">
              <md-input
                v-validate="'required'"
                v-model="userId"
                name="userId"
                type="text"
                label="User ID"
                icon="key"
              />
              <btn
                color="primary"
                class="btn-submit btn-block mb-2 mt-4"
                type="submit">Submit
              </btn>
            </form>
          </div>
        </column>
      </row>
    </template>
    <br>
    <br>
  </container>
</template>

<script>
import api from 'utils/api';
import { Container, Row, Column, Btn, MdInput } from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import LineChart from 'components/LineChart';
import AdminStat from 'components/AdminStat';
import DonutPieChart from 'components/DonutPieChart';
import AppSelect from '@/components/AppSelect';

export default {
  name: 'Account',
  components: {
    Container,
    Row,
    Column,
    Btn,
    MdInput,
    LineChart,
    AdminStat,
    DonutPieChart,
    AppSelect,
  },
  extends: StoreSync({
    user_stats: () => Models.ADMIN_USER_STATS(),
    users: () => Models.ADMIN_USERS(),
  }),
  data() {
    return {
      userId: '',
    };
  },
  computed: {
    isComplete() {
      return this.userId.length > 0;
    },
    valid() {
      return !this.errors.any() && this.isComplete;
    },
    usersList() {
      return this.users.map(users => ({
        label: users[0],
        value: users[1],
      }));
    },
    selectLoginAsUser: {
      get() {
        return null;
      },
      set(value) {
        this.loginAsUser(parseInt(value, 10));
      },
    },
  },
  methods: {
    async handleSubmit() {
      const isValid = await this.$validator.validateAll();
      if (!isValid) return;
      this.loginAsUser(this.userId);
    },
    loginAsUser(userId) {
      let toast = this.$toasted.global.info('Signing in...');
      const body = { user_id: userId };
      api.admin
        .loginAsUser(body)
        .then(response => {
          console.log(response);
          console.log(response.status);
          toast.goAway();
          toast = this.$toasted.global.success('Signed in!');
          this.$router.push('/account');
          this.$emit('requestClose');
        })
        .catch(error => {
          console.log(error);
          if (error.response && error.response.status === 401) {
            toast.goAway();
            toast = this.$toasted.global.error('Houston, we have a problem.');
          } else {
            toast.goAway();
            toast = this.$toasted.global.error('Sign In Failed');
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.black-divider {
  width: 100%;
  height: 1px;
  margin-top: 14px;
  background-color: #000000;
}
.welcome {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.center {
  padding-top: 20px;
  margin: auto;
}
form /deep/ input,
form /deep/ input:focus {
  color: white;
}

.button {
  color: $coincube-dark !important;
}

.settings-email /deep/ input {
  margin-bottom: 2em;
}

.settings-email /deep/ label {
  color: #fff !important;
}

.btn {
  font-weight: 700;
}
</style>
