<template>
  <modal
    v-if="showModal"
    full-height
    position="left"
    class="modal-container"
    @close="toggleModal"
  >
    <modal-header>
      <modal-title>Cube Settings</modal-title>
    </modal-header>
    <modal-body>
      <div class="d-flex align-items-center justify-content-between pt-4">
        <btn
          class="nw-cube-settings-delete"
          size="lg"
          color="default"
          @click.native="confirmDeleteCube"
        >
          Delete Cube
        </btn>
      </div>
      <div class="d-flex align-items-center justify-content-between pt-4">
        <btn
          v-show="deleteThisCube"
          class="nw-cube-settings-delete"
          size="lg"
          color="danger"
          @click.native="deleteCube"
        >
          Confirm Delete Cube
        </btn>
      </div>
    </modal-body>
  </modal>
</template>

<script>
import { Btn, Modal, ModalHeader, ModalTitle, ModalBody } from 'mdbvue-pro';

import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import api from '@/utils/api';

export default {
  name: 'CubeSettingsModal',
  components: {
    Btn,
    Modal,
    ModalHeader,
    ModalTitle,
    ModalBody,
  },
  extends: StoreSync({
    cube: route => Models.CUBE_INFO(route.params.cubeID),
  }),
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    toggleModal: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      deleteThisCube: false,
    };
  },
  methods: {
    saveChange({ name, value }) {
      return api.cube.saveSetting({
        name: name.toString(),
        value: value.toString(),
        cube_id: this.cube.id,
      });
    },
    confirmDeleteCube() {
      this.deleteThisCube = true;
    },
    async deleteCube() {
      let toast = this.$toasted.info('Deleting Cube...');
      try {
        await this.saveChange({
          name: 'delete',
          value: '',
        });
        toast.goAway();
        toast = this.$toasted.info('Cube deleted');
        this.clearCacheWithSpinner(Models.USER());
        this.$router.push('/account');
      } catch (error) {
        toast.goAway();
        toast = this.$toasted.error('Failed to delete Cube');
      }
    },
  },
};
</script>

<style lang="scss">
@import 'build/variables';
.modal {
  .modal-content {
    background-color: theme-color('coincube-dark') !important;
  }
}

p {
  margin-top: 5px;
}

h5 span {
  color: $coincube-green;
}

.nw-cube-settings-delete {
  width: 100%;
}
</style>
