<template>
  <container fluid>
    <row>
      <column
        class="top"
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/DASHBOARD.png"/>
                <div class="header-text">
                  {{ cube.name }} | <span>Dashboard</span>
                </div>
                <h6 class="alert">
                  API Connection
                  <tooltip
                    v-if="isConnected"
                    :options="{placement: 'left'}"
                    trigger="hover"
                  >
                    <div class="tooltip">
                      The exchange API is successfully connected.
                    </div>
                    <div
                      slot="reference"
                      class="active led"
                      @click="toggleConnectModal"
                    />
                  </tooltip>

                  <tooltip
                    v-else
                    :options="{placement: 'left'}"
                    trigger="hover"
                  >
                    <div class="tooltip led">
                      The exchange API cannot connect. Click to update.
                    </div>
                    <span slot="reference">
                      <div
                        class="inactive"
                        @click="toggleConnectModal"
                      />
                    </span>
                  </tooltip>

                  <update-connect-modal
                    v-if="connectedExchange"
                    :exchange="connectedExchange"
                    :show-modal="showConnectModal"
                    :cube-id="cube.id"
                    @close="toggleConnectModal"
                  />
                </h6>
              </div>
            </view-wrapper>
            <card-body>
              <template v-if="showBalances">
                <row class="text-left">
                  <column sm="12">
                    <valuations
                      :val_fiat="fiatCurrentBalance"
                      :val_btc="bitcoinCurrentBalance"
                      :user="user"
                    />
                  </column>
                </row>
              </template>
              <template v-if="showPerformances">
                <row>
                  <column :md="performanceChartColumnSpan">
                    <time-series-chart
                      :btc-data="bitcoinPerformanceBalances"
                      :fiat-data="fiatPerformanceBalances"
                      :show-only-fiat="showFiatOnly"
                      type="balances"
                    />
                  </column>
                  <column :md="performanceChartColumnSpan">
                    <time-series-chart
                      :btc-data="bitcoinPerformancePercents"
                      :fiat-data="fiatPerformancePercents"
                      :show-only-fiat="showFiatOnly"
                      type="percents"
                    />
                  </column>
                </row>
              </template>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
    <row>
      <column
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/PORTFOLIO.png"/>
                <div class="header-text">
                  {{ cube.name }} | <span>Portfolio</span>
                </div>
                <h6
                  v-if="isPaid"
                  class="alert">
                  Portfolio Status
                  <tooltip
                    v-if="isRebalancing"
                    :options="{placement: 'left'}"
                    trigger="hover"
                  >
                    <div class="tooltip">
                      The trading engine is currently rebalancing your portfolio.
                    </div>
                    <div
                      slot="reference"
                      class="processing"
                    />
                  </tooltip>

                  <tooltip
                    v-else
                    :options="{placement: 'left'}"
                    trigger="hover"
                  >
                    <div class="tooltip">
                      Your portfolio is balanced.
                    </div>
                    <span slot="reference">
                      <div
                        class="active"
                      />
                    </span>
                  </tooltip>
                </h6>
              </div>
            </view-wrapper>
            <card-body>
              <template v-if="showBalances">
                <row class="text-center">
                  <balances-table
                    :are-allocations-editable="isCentaur"
                    :possible-allocations="exchangeSupportedAssets"
                    :rows="balances"
                    :show-percent-off-goal="!isNotRebalanceAlgo"
                    :target-allocations="targetAllocationPercents"
                    :btc-performance-in-fiat="balancesUnmapped.performance_fiat"
                    :total-fiat="fiatCurrentBalance"
                  />
                </row>
              </template>
              <div class="black-divider"/>
              <template v-if="showCurrentAllocationPercents || showTargetAllocations">
                <br>
                <row>
                  <column lg="5"/>
                  <column
                    lg="7">
                    <span
                      class="right">
                      <btn
                        v-show="!usingGenerator"
                        size="sm"
                        color="blue"
                        class="right mr-0"
                        @click.native="toggleGenerator"
                      >
                        Portfolio Generator <i class="fas fa-chart-pie ml-1" />
                      </btn>
                      <btn
                        v-show="usingGenerator"
                        size="sm"
                        color="secondary"
                        class="mr-0"
                        @click.native="toggleGenerator"
                      >
                        Cancel <i class="fa fa-close ml-1" />
                      </btn>
                    </span>
                  </column>
                </row>
                <row
                  v-show="usingGenerator">
                  <generator-index/>
                </row>
                <row
                  v-show="!usingGenerator"
                  class="text-center">
                  <column
                    v-if="showCurrentAllocationPercents"
                    :md="currentAllocationsChartColumnSpan"
                  >
                    <allocation-donut-pie-chart
                      :data="currentAllocations"
                      title="Current Allocations"
                    />
                  </column>
                  <column
                    v-if="showTargetAllocations"
                    md="6">
                    <allocation-donut-pie-chart
                      :data="targetAllocations"
                      title="Target Allocations"
                    />
                  </column>
                </row>
              </template>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
    <row
      v-show="isPremium">
      <column
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/TRADE.png"/>
                <div class="header-text">
                  {{ cube.name }} | <span>Trade Engine</span>
                </div>
                <md-switch
                  :value="engineActive"
                  class="switch-accent engine"
                  @input="handleTradingStatusChange" />
              </div>
            </view-wrapper>
            <card-body v-show="engineActive">
              <container class="controls">
                <row>
                  <column/>
                  <column sm="6">
                    <div class="d-flex align-items-center justify-content-between pt-4">
                      <p class="h5-responsive">Auto Rebalance</p>
                      <div>
                        <md-switch
                          :value="cube.auto_rebalance"
                          class="switch-accent"
                          @input="handleAutoRebalanceChange" />
                      </div>
                    </div>
                  </column>
                  <column/>
                </row>
                <div
                  v-show="cube.auto_rebalance"
                  class="centaur-controls"
                >
                  <row
                    v-if="isCentaur">
                    <div class="black-divider"/>
                    <column>
                      <br>
                      <h5 class="h5-responsive">
                        Rebalance Frequency
                        <tooltip
                          :options="{placement: 'right'}"
                          trigger="hover"
                        >
                          <div class="tooltip">
                            How often should the trading engine rebalance your portfolio?
                          </div>
                          <i
                            slot="reference"
                            class="fa fa-question-circle info"
                          />
                        </tooltip>
                      </h5>
                      <app-select
                        v-model="selectedRebalanceFrequency"
                        :options="frequencyList"
                        placeholder="Select Frequency"
                        name="frequency"
                        class="mt-4"
                      />
                    </column>
                    <column>
                      <br>
                      <h5 class="h5-responsive">
                        Rebalance Threshold <span>{{ percent }}%</span>
                        <tooltip
                          :options="{placement: 'right'}"
                          trigger="hover"
                        >
                          <div class="tooltip">
                            How far from your allocation target should the engine allow an asset to drift before a rebalancing trade is made?
                          </div>
                          <i
                            slot="reference"
                            class="fa fa-question-circle info"
                          />
                        </tooltip>
                      </h5>
                      <br>
                      <input
                        :min="1"
                        :max="100"
                        v-model="percent"
                        type="range"
                        class="input"
                      >
                    </column>
                  </row>
                </div>
                <div
                  v-show="!cube.auto_rebalance"
                  class="trigger">
                  <btn
                    size="lg"
                    color="danger"
                    @click.native.prevent="triggerRebalance"
                  >
                    Trigger Rebalance
                  </btn>
                </div>
                <br>
                <p
                  v-if="cube.balanced_at"
                >
                  Balanced: {{ balancedAt }}
                </p>
              </container>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
    <row
      v-show="isPremium">
      <column
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/CLOCK.png"/>
                <div class="header-text">
                  {{ cube.name }} | <span>Open Orders</span>
                </div>
              </div>
            </view-wrapper>
            <card-body>
              <template v-if="showOpenOrders">
                <row class="text-center">
                  <open-orders-table :rows="openOrders"/>
                </row>
              </template>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
    <row
      v-show="isPaid">
      <column
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/TRANSACTION.png"/>
                <div class="header-text">
                  {{ cube.name }} | <span>Transactions</span>
                </div>
              </div>
            </view-wrapper>
            <card-body>
              <template v-if="showTransactions">
                <row class="text-center">
                  <transactions-table :rows="transactions"/>
                </row>
              </template>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>
    <row>
      <column
        sm="12"
      >
        <div>
          <card>
            <view-wrapper
              cascade>
              <div class="header">
                <card-img 
                  class="icon" 
                  src="../../../static/img/tools/MODE.png"/>
                <div class="header-text">
                  {{ cube.name }} | <span>Mode Selection</span>
                </div>
              </div>
            </view-wrapper>
            <card-body>
              <select-algorithm/>
            </card-body>
          </card>
          <br>
        </div>
      </column>
    </row>

    <template v-if="isSphinx">
      <row class="text-center">
        <cost-average-table
          :rows="costAverageOrders"
          :possible-allocations="exchangeSupportedAssets"
        />
      </row>
    </template>

    <row>
      <column class="buttons">
        <btn
          class="nw-cube-settings"
          size="lg"
          color="primary"
          @click.native="toggleCubeSettingsModal"
        >
          Cube Settings
        </btn>
      </column>
    </row>

    <cube-settings-modal
      :show-modal="showCubeSettingsModal"
      :toggle-modal="toggleCubeSettingsModal"
    />
    <rogue-detection-modal
      :show-modal="showRogueDetectionModal"
      :toggle-modal="toggleRogueDetectionModal"
    />
  </container>
</template>

<script>
import moment from 'moment';
import {
  Container,
  Row,
  Column,
  Btn,
  Tooltip,
  Card,
  CardBody,
  CardTitle,
  CardText,
  CardImg,
  ViewWrapper,
  MdSwitch,
} from 'mdbvue-pro';
import Models from 'store/models';
import StoreSync from 'store/StoreSync';
import featureFlags from 'utils/featureFlags';
import api from 'utils/api';
import mapBalancesData from 'utils/mapBalancesData';
import AllocationDonutPieChart from 'components/AllocationDonutPieChart';
import TimeSeriesChart from 'components/TimeSeriesChart';
import BalancesTable from 'components/BalancesTable';
import CostAverageTable from 'components/CostAverageTable';
import OpenOrdersTable from 'components/OpenOrdersTable';
import TransactionsTable from 'components/TransactionsTable';
import Valuations from 'components/Valuations';
import PerformanceHeader from 'components/PerformanceHeader';
import RogueDetectionModal from 'components/RogueDetectionModal';
import AppSelect from 'components/AppSelect';
import SelectAlgorithm from 'components/SelectAlgorithm';
import GeneratorIndex from 'components/GeneratorIndex';
import UpdateConnectModal from 'pages/Connection/UpdateConnectModal';
import CubeSettingsModal from './CubeSettingsModal';

export default {
  name: 'CubeIndex',
  components: {
    Container,
    Row,
    Column,
    Btn,
    Tooltip,
    AllocationDonutPieChart,
    TimeSeriesChart,
    BalancesTable,
    CostAverageTable,
    OpenOrdersTable,
    PerformanceHeader,
    TransactionsTable,
    Valuations,
    UpdateConnectModal,
    CubeSettingsModal,
    RogueDetectionModal,
    Card,
    CardBody,
    CardTitle,
    CardText,
    CardImg,
    ViewWrapper,
    MdSwitch,
    AppSelect,
    SelectAlgorithm,
    GeneratorIndex,
  },
  extends: StoreSync({
    user: () => Models.USER(),
    cube: route => Models.CUBE_INFO(route.params.cubeID),
    availableExchangeAssets: route =>
      Models.CUBE_AVAIL_EX_ASSETS(route.params.cubeID),
    availableExchanges: () => Models.ACCOUNT_AVAIL_EXCHANGES(),
    balancesUnmapped: route => Models.CUBE_BALANCES(route.params.cubeID),
    costAverageOrders: route =>
      Models.CUBE_COST_AVERAGE_ORDERS(route.params.cubeID),
    performance: route => Models.CUBE_PERFORMANCE(route.params.cubeID),
    transactions: route => Models.CUBE_TRANSACTIONS(route.params.cubeID),
  }),
  data() {
    return {
      showConnectModal: false,
      showCubeSettingsModal: false,
      showRogueDetectionModal: false,
      usingGenerator: false,
      premiumAlgoList: ['Index', 'Centaur', 'Optimized'],
      featureFlags,
      frequencies: [
        [3600, 'Hourly'],
        [86400, 'Daily'],
        [604800, 'Weekly'],
        [2412900, 'Monthly'],
      ],
    };
  },
  computed: {
    //
    // Chart Column Spans
    //
    currentAllocationsChartColumnSpan() {
      return '6';
    },
    performanceChartColumnSpan() {
      return this.user.wide_charts ? '12' : '6';
    },
    //
    // Flags
    //
    isCentaur() {
      return this.cube.algorithm.name === 'Centaur';
    },
    isIndex() {
      return this.cube.algorithm.name === 'Index';
    },
    isTracker() {
      return this.cube.algorithm.name === 'Tracker';
    },
    isSphinx() {
      return this.cube.algorithm.name === 'Sphinx';
    },
    isNotRebalanceAlgo() {
      return (
        this.cube.algorithm.name === 'Tracker' ||
        this.cube.algorithm.name === 'Sphinx'
      );
    },
    isPaid() {
      return this.user.is_pro || this.user.is_basic;
    },
    isPremium() {
      return this.premiumAlgoList.includes(this.cube.algorithm.name);
    },
    isConnected() {
      return !this.cube.api_connections[0].failed_at;
    },
    isRebalancing() {
      return this.cube.is_rebalancing;
    },
    isAuto() {
      return this.cube.auto_rebalance;
    },
    rogueActivity() {
      return this.cube.unrecognized_activity;
    },
    //
    // Tools
    //
    percent: {
      get() {
        return this.cube.threshold;
      },
      set(value) {
        this.handleRebalanceThresholdChange(value);
      },
    },
    engineActive: {
      get() {
        if (this.cube.trading_status === 'live') {
          return true;
        }
        return false;
      },
      set(value) {
        console.log(value);
        this.handleTradingStatusChange(value);
      },
    },
    selectedRebalanceFrequency: {
      get() {
        return this.cube.rebalance_interval;
      },
      set(value) {
        this.handleRebalanceFrequencyChange(value);
      },
    },
    balancedAt() {
      console.log(this.cube.balanced_at);
      const d = moment(String(this.cube.balanced_at)).format(
        'MM/DD/YYYY hh:mm',
      );
      console.log(d);
      return d;
    },
    showBalances() {
      return (
        this.balances &&
        this.balances.length > 0 &&
        this.exchangeSupportedAssets &&
        this.exchangeSupportedAssets.length > 0 &&
        this.targetAllocationPercents &&
        this.targetAllocationPercents.length > 0
      );
    },
    showCurrentAllocationPercents() {
      return (
        this.currentAllocationPercents &&
        this.currentAllocationPercents.length > 0
      );
    },
    showFiatOnly() {
      return !this.user.btc_data;
    },
    showOpenOrders() {
      return this.openOrders && this.openOrders.length > 0 && !this.isTracker;
    },
    showPerformances() {
      if (
        this.bitcoinPerformanceBalances &&
        this.bitcoinPerformanceBalances.length > 0 &&
        this.bitcoinPerformancePercents &&
        this.bitcoinPerformancePercents.length > 0 &&
        this.fiatPerformanceBalances &&
        this.fiatPerformanceBalances.length > 0 &&
        this.fiatPerformancePercents &&
        this.fiatPerformancePercents.length > 0
      ) {
        return true;
      }
      return false;
    },
    showTargetAllocations() {
      return (
        this.targetAllocationPercents &&
        this.targetAllocationPercents.length > 0 &&
        !this.isNotRebalanceAlgo
      );
    },
    showTransactions() {
      return this.transactions.length > 0;
    },
    //
    // Lists
    //
    balances() {
      return this.balancesUnmapped.balances &&
        this.balancesUnmapped.balances.values
        ? mapBalancesData(this.balancesUnmapped.balances.values)
        : null;
    },
    currentAllocations() {
      return this.balancesUnmapped.current_allocations;
    },
    targetAllocations() {
      return this.balancesUnmapped.target_allocations;
    },
    bitcoinPerformanceBalances() {
      console.log(this.performance);
      return this.performance.btc_balances;
    },
    bitcoinPerformancePercents() {
      return this.performance.btc_pct_returns;
    },
    currentAllocationPercents() {
      return this.currentAllocations;
    },
    exchangeSupportedAssets() {
      return this.availableExchangeAssets.supported_assets;
    },
    fiatPerformanceBalances() {
      return this.performance.fiat_balances;
    },
    fiatPerformancePercents() {
      return this.performance.fiat_pct_returns;
    },
    openOrders() {
      return this.cube.orders;
    },
    targetAllocationPercents() {
      if (!this.targetAllocations || !this.targetAllocations.length) {
        return this.currentAllocations;
      }
      return this.targetAllocations;
    },
    frequencyList() {
      return this.frequencies.map(frequency => ({
        label: frequency[1],
        value: frequency[0],
      }));
    },
    //
    // Single Values
    //
    bitcoinCurrentBalance() {
      return this.balancesUnmapped.total.btc;
    },
    bitcoinCurrentPercent() {
      return this.bitcoinPerformancePercents.slice(-1).pop()[1];
    },
    connectedExchange() {
      const connectedExchange = this.cube.api_connections[0].exchange;

      const matchedExchange =
        connectedExchange &&
        this.availableExchanges.find(
          exchange => exchange.name === connectedExchange.name,
        );

      return { ...(connectedExchange || {}), ...(matchedExchange || {}) };
    },
    cubeId() {
      return this.cube.id;
    },
    fiatCurrentBalance() {
      return this.balancesUnmapped.total.fiat;
    },
    fiatCurrentPercent() {
      return this.fiatPerformancePercents.slice(-1).pop()[1];
    },
    fiatSymbol() {
      return this.user.fiat.symbol;
    },
  },
  methods: {
    //
    // Model toogles
    //
    toggleConnectModal() {
      this.showConnectModal = !this.showConnectModal;
    },
    toggleCubeSettingsModal() {
      this.showCubeSettingsModal = !this.showCubeSettingsModal;
    },
    toggleRogueDetectionModal() {
      this.showRogueDetectionModal = !this.showRogueDetectionModal;
    },
    toggleGenerator() {
      this.usingGenerator = !this.usingGenerator;
    },
    //
    // Trade Engine Controls
    //
    saveChange({ name, value }) {
      return api.cube.saveSetting({
        name: name.toString(),
        value: value.toString(),
        cube_id: this.cube.id,
      });
    },
    handleTradingStatusChange(value) {
      let valueFinal = '';
      if (value === true) {
        valueFinal = 'live';
      } else {
        valueFinal = 'off';
      }
      this.cube.trading_status = valueFinal;
      this.saveChange({
        name: 'trading_status',
        value: valueFinal,
      });
    },
    handleAutoRebalanceChange(value) {
      this.cube.auto_rebalance = value;
      this.saveChange({
        name: 'auto_rebalance',
        value,
      });
    },
    handleRebalanceThresholdChange(value) {
      this.cube.threshold = value;
      this.saveChange({
        name: 'threshold',
        value,
      });
    },
    handleRebalanceFrequencyChange(value) {
      this.cube.rebalance_interval = value;
      this.saveChange({
        name: 'rebalance_interval',
        value,
      });
    },
    async triggerRebalance() {
      let toast = this.$toasted.info('Triggering rebalance...');

      try {
        await api.cube.saveSetting({
          name: 'trigger_rebalance',
          value: '',
          cube_id: this.cube.id,
        });

        toast.goAway();
        toast = this.$toasted.success('Rebalance triggered!');
      } catch (error) {
        console.log(error);
        toast.goAway();
        toast = this.$toasted.error('Could not trigger rebalance.');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'build/variables';

.top {
  text-align: left;
}

.card-body {
  background-color: $coincube-dark;
}

.card-body img {
  width: 20px;
}

.black-divider {
  width: 100%;
  height: 1px;
  margin-top: 14px;
  background-color: #000000;
}
.buttons {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.active,
.processing,
.inactive {
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-right: 20px;
}
.active {
  background: $coincube-green;
}
.processing {
  background: $coincube-orange;
}
.inactive {
  background: $coincube-error;
  cursor: pointer;
}
.nw-cube-name {
  margin-right: 4px;
}
h3 {
  font-weight: 300;
  padding-top: 10px;
  font-size: 40px;
}
h3 span {
  color: $coincube-accent;
}
h6 {
  padding-bottom: 6px;
  display: inline-block;
}
.more {
  display: inline-block;
}
.tooltip {
  font-size: 14px;
}
.header-text {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
}
.header-text span {
  color: $coincube-accent;
}
.icon {
  margin-left: 30px;
  margin-top: 18px;
  max-width: 40px;
  display: table-cell;
  float: left;
}
.view {
  background-color: $coincube-darker;
}
.switch-accent /deep/ label input[type='checkbox']:checked + .lever {
  background-color: $coincube-green !important;
}
.switch-accent /deep/ label input[type='checkbox']:checked + .lever:after {
  background-color: $coincube-accent !important;
}
.engine.switch {
  padding-right: 30px;
  margin-top: 28px;
  display: table-cell;
  float: right;
}
.trigger {
  text-align: center;
}
.controls {
  max-width: 800px;
}
.alert {
  padding-right: 20px;
  margin-top: 15px;
  float: right;
}
.led {
  cursor: pointer;
}
.right {
  float: right;
}
h5 span i {
  font-size: 14px;
  color: $coincube-green;
}
</style>
