<template>
  <div class="main-content">
    <error-message title="Internal Server Error">Sorry, our server is acting up...</error-message>
  </div>
</template>

<script>
import ErrorMessage from 'components/ErrorMessage';

export default {
  components: {
    ErrorMessage,
  },
};
</script>

<style lang="scss" scoped>
.main-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 100px);

  @media (min-width: 768px) {
    padding-top: 3em;
    padding-bottom: 2rem;
  }
}
</style>
